{% extends "patterns/pages/intranet/standardpages/information_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block secondary_content %}
    <div class="wrapper wrapper--large wrapper--main">

        <div class="section section--secondary">
            {% if subpages.paginator.count %}

                <div class="grid grid--3col grid--margin-bottom">
                    {% if subpages.object_list.exists %}
                        {% for subpage in subpages.object_list.specific %}
                            {% include "patterns/molecules/cards/category-card.html" with card=subpage three_col=True %}
                        {% endfor %}

                    {% else %}
                        {# no items on this page #}
                    {% endif %}
                </div>

                {% include "patterns/molecules/pagination/pagination.html" with paginator_page=subpages %}

            {% else %}
                {# no items on any page #}
            {% endif %}

            {% if page.display_news %}
                {% include "patterns/organisms/grid/news-card-grid.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block related_content %}
    {% include "patterns/molecules/related-pages/related-pages--small.html" with related_pages=page.category_related_pages.all %}
{% endblock %}

{% block feedback_form %}
    {% if page.published_by and user.is_authenticated %}
        {% include 'patterns/organisms/form/feedback-form.html' %}
    {% endif %}
{% endblock %}
