{% load i18n %}

<div class="section section--dark-bg">
    <h2>{% trans 'There are other ways you can help' %}</h2>
    <p>
        {% blocktrans %}
        Whilst you&apos;re here, take a look at other ways you can get involved. When you fundraise for Samaritans you help us be there for those who need us most. From bake sales to bike rides, and marathons to mufti days, there&apos;s a way to support us for everyone.
        {% endblocktrans %}
    </p>
    <a href="https://www.samaritans.org/support-us/">Find out more here</a>
</div>
