{% load wagtailcore_tags wagtailimages_tags %}

<a class="card card--with-image" href="{% if nation_related_page and card.page %}{% pageurl card.page %}{% else %}{{ card.url }}{% endif %}">
    <span class="card__connectors"></span>
    <span class="card__connectors--extra"></span>
    {% if card.listing_image %}
        {% image card.listing_image fill-320x175 class="card__image" %}
    {% elif nation_related_page and card.page.specific.listing_image %}
        {% image card.page.specific.listing_image fill-320x175 class="card__image" %}
    {% endif %}

    <div class="card__container">
        <h2 class="card__title">
            {% if nation_related_page %}
                {% firstof card.page_title card.page.listing_title card.page.title as card_title %}
            {% else %}
                {% firstof card.listing_title card.title as card_title %}
            {% endif %}
            {% include "patterns/molecules/chevron-link/chevron-link.html" with title=card_title %}
        </h2>
        <p class="card__text">
            {% if nation_related_page %}
                {% firstof card.page_summary card.page.specific.listing_summary card.page.specific.introduction %}
            {% else %}
                {% firstof card.listing_summary card.introduction %}
            {% endif %}
        </p>
    </div>
</a>
