<a class="card card--category {% if three_col %}card--3col{% endif %}" href="{{ card.url }}">
    <span class="card__connectors"></span>
    <span class="card__connectors--extra"></span>
    <div class="card__container">
        <h2 class="card__title">
            {% firstof card.listing_title card.title as card_title %}
            {% include "patterns/molecules/chevron-link/chevron-link.html" with title=card_title %}
        </h2>
        {% if card.listing_summary or card.introduction %}
            <p class="card__text">{{ card.listing_summary|default:card.introduction }}</p>
        {% endif %}
    </div>
</a>
