{% extends "patterns/pages/website/standardpages/information_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block news_meta %}
    {% include 'patterns/molecules/meta-bar/meta-bar.html' with value=page %}
{% endblock %}

<!-- Overide footer CTA display -->
{% block footer %}
    <div class="call-to-action--footer-padding">
        {% include "patterns/molecules/banner-cta/banner-cta.html" with page=page %}
    </div>
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}
