{% extends "patterns/email/base.html" %}
{% load i18n wagtailcore_tags %}

{% block content %}
    <h2>{% blocktrans with page_title=page_title language_variant=language_variant %}Page '{{ page_title }}' has been updated{% endblocktrans %}</h2>

    <p>
        {% blocktrans with language_variant=language_variant %}
        The {{ language_variant }}-language variant may need to be updated as well.
        {% endblocktrans %}

    </p>
    <p>
        <a href="{{ original_url }}">{% blocktrans %}View the updated page{% endblocktrans %}</a>
    </p>
    <p>
        <a href="{{ variant_url }}">{% blocktrans with language_variant=language_variant %}View the {{ language_variant }}-language page{% endblocktrans %}</a>
    </p>

     <table style="margin-bottom: 13px;">
        <tr>
            <td>
                <a href="{{ edit_url }}" style="display:inline-block; background-color:#0083a9; color:#fff; padding:9px 13px; font-size:17px; font-weight:normal; border-radius: 3px;">{% blocktrans with language_variant=language_variant%}Edit {{ language_variant}} page{% endblocktrans %}</a>
            </td>
        </tr>
    </table>

    <p>
        {% blocktrans with group_name=group_name %}You are receiving this email because you are a member of the {{ group_name }} group.{% endblocktrans %}
    </p>
{% endblock %}