{% extends "patterns/base.html" %}

{% load locale_tags static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags i18n %}

{% block meta_tags %}
    {% with tag_manager_id=settings.utils.AnalyticsSettings.google_tag_manager_id global_anti_flicker=settings.utils.AnalyticsSettings.enable_optimize_anti_flicker %}
    {% if tag_manager_id %}
    {% get_current_language as LANGUAGE_CODE %}
    <script>
    window.dataLayer = [{
        'locale': '{{ LANGUAGE_CODE }}',
        'loggedIn': {% if request.user.is_authenticated %}true{% else %}false{% endif %}
    }];
    </script>
    {% if global_anti_flicker or page.enable_optimize_anti_flicker %}
        <!-- Anti-flicker snippet -->
        <style>.async-hide { opacity: 0 !important} </style>
        <script>
        (function(a,s,y,n,c,h,i,d,e){
            s.className+=' '+y;h.start=1*new Date;
            h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
            (a[n]=a[n]||[]).hide=h;
            setTimeout(function(){i();h.end=null},c);
            h.timeout=c;
        })(window,document.documentElement,'async-hide','dataLayer',1000,{'{{ tag_manager_id }}': true});
        </script>
    {% endif %}
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{{ tag_manager_id }}');
    </script>
    {% endif %}
    {% endwith %}

    {# favicons #}
    {% comment %}
    Generate favicons by http://realfavicongenerator.net using the following path: settings.STATIC_URL + img/favicons.
    Then favicon.ico should be copied to a directory called "public" in the application root and puppet does some magic to
    serve it up at the site root.
    {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#84bd00">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{% static 'images/favicons/browserconfig.xml' %}">
    {% canonical_and_alternate_links %}

    {% comment %}
        Twitter summary card - see https://dev.twitter.com/cards/types/summary
        and https://dev.twitter.com/cards/getting-started
        Twitter will fall back to og properties, so no need to duplicate title etc
    {% endcomment %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ settings.utils.SocialMediaSettings.twitter_handle }}" />

    {# facebook opengraph tags #}
    {% with facebook_app_id=settings.utils.SocialMediaSettings.facebook_app_id %}
    {% if facebook_app_id %}<meta property="fb:app_id" content="{{ facebook_app_id }}" />{% endif %}
    {% endwith %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.site.root_url }}{% get_path_for_locale locale=None %}" />
    <meta property="og:title" content="{% firstof page.listing_title page.title %}" />
    {% if page.social_image %}
        {% image page.social_image min-320x200 as social_img %}
        <meta
          property="og:image"
          content="{% if page.social_image.is_stored_locally %}http://{{ request.site.hostname }}{% endif %}{{ social_img.url }}"
        />
    {% else %}
        {# Add a default image to use for social sharing here in case one is not provided on the page. #}
    {% endif %}
    {% firstof page.social_text page.listing_summary as meta_description %}
    {% if meta_description %}
        <meta property="og:description" content="{{ meta_description }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ settings.utils.SocialMediaSettings.site_name }}" />
{% endblock meta_tags %}


{% block body_top %}
    {% with tag_manager_id=settings.utils.AnalyticsSettings.google_tag_manager_id %}
    {% if tag_manager_id %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ tag_manager_id }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    {% endwith %}
{% endblock body_top %}


{% block header %}
    {% include "patterns/organisms/header/header.html" with show_nav=True %}
{% endblock header %}

{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}

{% block main_js %}
    <script type="text/javascript" src="{% static 'js/website.js' %}"></script>
{% endblock main_js %}
