{% load static locale_tags wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags sentry_tags %}
{% wagtail_site as current_site %}

<!doctype html>
<html class="no-js" lang="{% html_language_code %}">
    <head>
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% if not page.seo_title %} | {{ current_site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if noindex %}<meta name="robots" content="noindex"> {% endif %}

        <!-- OneTrust Cookies Consent Notice start for samaritans.org -->
        {% if not DISABLE_ONETRUST %}
            <script src="https://cdn-apac.onetrust.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="0a5bb920-9967-47b7-8e06-2f6741e0a1aa" ></script>
            <script type="text/javascript">
            function OptanonWrapper() { }
            </script>
        {% endif %}
        <!-- OneTrust Cookies Consent Notice end for samaritans.org -->

        {% block main_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
        {% endblock main_css %}

        {# Preload fonts #}
        <link rel="preload" href="{% static 'fonts/varah-regular.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous" />
        <link rel="preload" href="{% static 'fonts/varah-regular-italic.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous" />
        <link rel="preload" href="{% static 'fonts/varah-light.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous" />
        <link rel="preload" href="{% static 'fonts/varah-light-italic.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous" />
        <link rel="preload" href="{% static 'fonts/varah-bold.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous" />
        <link rel="preload" href="{% static 'fonts/varah-bold-italic.woff2' %}" as="font" type="font/woff2"crossorigin="anonymous" />

        {% block extra_css %}{% endblock %}

        {% block meta_tags %}
            {% canonical_and_alternate_links %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        <script type="text/javascript">
            window.timezone = "{{ TIME_ZONE|escapejs }}";
        </script>
        {% block body_top %}{% endblock %}

        {% include "patterns/atoms/svg/sprites/sprites.html" %}

        {% wagtailuserbar %}

        {% block header %}{% endblock %}

        {% block outer_content %}
            <main class="wrapper">
                {% block content %}
                    {{ pattern_library_rendered_pattern }}
                    <script type="text/javascript" src="{% static 'js/website.js' %}"></script>
                {% endblock %}
            </main>
        {% endblock outer_content %}

        {% block footer %}{% endblock %}

        {% block after_footer %}{% endblock %}

        {% sentry_vars %}

        {% block main_js %}{% endblock main_js %}

        {% block extra_js %}{% endblock %}

        <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
    </body>
</html>
