{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags helper_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with hero_color="emerald" pattern="none" hero_short=False %}
    <div class="wrapper wrapper--large wrapper--padding-for-page">
        <section class="section section--overlap section--guide-page">           

            <h3>Sections</h3>
            {% if request.is_preview %}
                {% for child in page.get_children %}
                    <p><a href="{% pageurl child %}" {% if page.first_guide_chapter.title == child.title %}class="emergency-notice__highlight-section"{% endif %}>{{ forloop.counter }}. {{ child.title }}</a></p>
                {% endfor %}

                <h1>{{ page.get_children.first.title }}</h1>

                {% include_block page.get_children.specific.first.body %}


                {% if page.get_children.first %}
                        <div class="page-navigation--next">
                            <div class="page-navigation__text">
                            <b class="page-navigation__direction">Next: </b> 
                            <a class="page-navigation__link" href="{% pageurl page.get_children.first %}">
                                <p>{{ page.get_children.first.title }}<p>
                            </div>
                                {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon" aria_hide="true" %}
                            </a>
                        </div>
                {% endif %}
            {% else %}
                {% for child in page.get_children.live.public %}
                    <p><a href="{% pageurl child %}" {% if page.first_guide_chapter.title == child.title %}class="emergency-notice__highlight-section"{% endif %}>{{ forloop.counter }}. {{ child.title }}</a></p>
                {% endfor %}

                <h1>{{ page.first_guide_chapter.title }}</h1>

                {% include_block page.first_guide_chapter.body %}


                {% if page.first_guide_chapter.next_guide_chapter %}
                        <div class="page-navigation--next">
                            <div class="page-navigation__text">
                            <b class="page-navigation__direction">Next: </b> 
                            <a class="page-navigation__link" href="{% pageurl page.first_guide_chapter.next_guide_chapter %}">
                                <p>{{ page.first_guide_chapter.next_guide_chapter.title }}<p>
                            </div>
                                {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon" aria_hide="true" %}
                            </a>
                        </div>
                {% endif %}
            {% endif %}
            
            {% include "patterns/atoms/corners/corners.html" with size="page" %}

        </section>
    </div>
{% endblock %}

{% block extra_js %}
    {{ webchat_api_url|json_script:"webchat_api_url" }}
    <script src="{% static 'js/chat-utils.js' %}"></script>
{% endblock %}
