{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags helper_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with hero_color="emerald" pattern="none" hero_short=False hero_title_id="main-content" %}
    <div class="wrapper wrapper--large wrapper--padding-for-page">
        <section class="section section--overlap section--guide-page">

            {% if request.is_preview %}
                <div class="contents streamfield">
                    <h2 class="contents__title">Sections</h2>
                    {% for child in page.get_children %}
                        <p class="contents__item"><a href="{% pageurl child %}" {% if page.first_guide_chapter.title == child.title %}class="contents__link contents__link--active"{% endif %}>{{ forloop.counter }}. {{ child.title }}</a></p>
                    {% endfor %}
                </div>

                <h3 class="heading-secondary heading-secondary--large">1. {{ page.get_children.first.title }}</h3>

                {% include_block page.get_children.specific.first.body %}

                {% if page.get_children.first %}
                    <div class="page-navigation">
                        <div class="page-navigation__item page-navigation__item--next">
                            <div>
                                <b class="page-navigation__direction">Next: </b>
                                <a class="page-navigation__link" href="{% pageurl page.get_children.first %}">
                                    <p class="page-navigation__text">{{ page.get_children.first.title }}<p>
                                </a>
                            </div>
                            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon page-navigation__icon--next" aria_hide="true" %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="contents streamfield">
                    <h2 class="contents__title">Sections</h2>
                    {% for child in page.get_children.live.public %}
                        <p class="contents__title"><a href="{% pageurl child %}" {% if page.first_guide_chapter.title == child.title %}class="contents__link contents__link--active"{% endif %}>{{ forloop.counter }}. {{ child.title }}</a></p>
                    {% endfor %}
                </div>

                <h3 class="heading-secondary heading-secondary--large">1. {{ page.first_guide_chapter.title }}</h3>

                {% include_block page.first_guide_chapter.body %}

                {% if page.first_guide_chapter.next_guide_chapter %}
                    <div class="page-navigation">
                        <div class="page-navigation__item page-navigation__item--next">
                            <div>
                                <b class="page-navigation__direction">Next: </b>
                                <a class="page-navigation__link" href="{% pageurl page.first_guide_chapter.next_guide_chapter %}">
                                    <p class="page-navigation__text">{{ page.first_guide_chapter.next_guide_chapter.title }}<p>
                                </a>
                            </div>
                            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon page-navigation__icon--next" aria_hide="true" %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% include "patterns/atoms/corners/corners.html" with size="page" %}

        </section>
    </div>
{% endblock %}

{% block extra_js %}
    {{ webchat_api_url|json_script:"webchat_api_url" }}
    <script src="{% static 'js/chat-utils.js' %}"></script>
{% endblock %}
