{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with hero_color="emerald" pattern="none" hero_short=False %}
    <div class="wrapper wrapper--large wrapper--padding-for-page">
        <section class="section section--overlap section--guide-page">           
            <h3>Sections</h3>
            {% if request.is_preview %}
                {% for sibling in page.get_siblings %}
                    <p><a href="{% pageurl sibling %}" {% if sibling.path == page.path %}class="emergency-notice__highlight-section"{% endif %}>{{ forloop.counter }}. {{ sibling.title }}</a></p>
                {% endfor %} 
            {% else %}
                {% for sibling in page.get_siblings.live.public %}
                    <p><a href="{% pageurl sibling %}" {% if sibling.path == page.path %}class="emergency-notice__highlight-section"{% endif %}>{{ forloop.counter }}. {{ sibling.title }}</a></p>
                {% endfor %}
            {% endif %}

            <h1>{{ page.title }}</h1>

            {% include_block page.body %}

            {% if request.is_preview %}

                {% if page.get_prev_sibling %}
                    <div class="page-navigation">
                        <div class="page-navigation page-navigation--previous">
                            <div class="page-navigation__text">
                                <b class="page-navigation__direction">Previous: </b> 
                                <a class="page-navigation__link" href="{% pageurl page.get_prev_sibling %}">
                                <p>{{ page.get_prev_sibling.title }}<p>
                        </div>
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon--previous" aria_hide="true" %}
                        </a>
                    </div>
                {% endif %}

                {% if page.get_next_sibling %}
                    <div class="page-navigation--next">
                        <div class="page-navigation__text">
                            <b class="page-navigation__direction">Next: </b> 
                            <a class="page-navigation__link" href="{% pageurl page.get_next_sibling %}">
                                <p>{{ page.get_next_sibling.title }}<p>
                        </div>
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon" aria_hide="true" %}
                        </a>
                    </div>
                {% endif %}

            {% else %}

                {% if page.prev_guide_chapter %}
                    <div class="page-navigation">
                        <div class="page-navigation page-navigation--previous">
                            <div class="page-navigation__text">
                                <b class="page-navigation__direction">Previous: </b> 
                                <a class="page-navigation__link" href="{% pageurl page.prev_guide_chapter %}">
                                <p>{{ page.prev_guide_chapter.title }}<p>
                        </div>
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon--previous" aria_hide="true" %}
                        </a>
                    </div>
                {% endif %}

                {% if page.next_guide_chapter %}
                    <div class="page-navigation--next">
                        <div class="page-navigation__text">
                            <b class="page-navigation__direction">Next: </b> 
                            <a class="page-navigation__link" href="{% pageurl page.next_guide_chapter %}">
                                <p>{{ page.next_guide_chapter.title }}<p>
                        </div>
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="page-navigation__icon" aria_hide="true" %}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            
            {% include "patterns/atoms/corners/corners.html" with size="page" %}
            
            </div>

        </section>
            
    </div>

{% endblock %}
