{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags icon_tags %}

{% block body_class %}template-activity-landing-page{% endblock %}

{% block content %}
    {# Hero #}
    <div class="hero hero--landing-page hero--activity-landing-page">
        {% image page.hero_image fill-1900x1250 jpegquality-40 as hero_image %}
        <div class="donate-landing-hero__image--desktop" style="background-image: url({{ hero_image.url }});"></div>
        {% image page.hero_image fill-600x700 jpegquality-40 as hero_image_mobile %}
        <div class="donate-landing-hero__image--mobile">
            <img src="{{ hero_image_mobile.url}}" alt="{{ hero_image_mobile.alt }}" />
        </div>
        <div class="hero__inner wrapper wrapper--large wrapper--padding">
            <div class="card card--activity">
                <span class="card__connectors"></span>
                <div class="card__container">
                    {% include "patterns/molecules/navigation/breadcrumbs.html" %}
                    <h1 class="card__title card__title--activity" id="main-content">{{ page.heading_title|richtext }}</h1>
                    <p class="card__description">{{ page.heading_introduction }}</p>
                    {% if activity_index_page_url %}
                    {% include "patterns/atoms/buttons/button.html" with href=activity_index_page_url label="View all activities" large=True %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% include "patterns/atoms/svg/patterns/pattern-diamonds.html" with classes="pattern" %}
    </div>

    {# Support us section #}
    <div class="activity-landing">
        <section class="wrapper wrapper--activity-landing">
            <div class="section section--overlap section--activity-landing">
                <div class="activity-landing__padded-container">
                    <h2 class="activity-landing__heading">{{ page.support_us_title }}</h2>
                    <ul class="activity-landing__icon-list">
                        {% for block in page.support_us_items %}
                            <li class="activity-landing__icon-list-item">
                                <div class="activity-landing__icon-wrapper">
                                    {% render_icon block.value.icon "activity-landing__icon" %}
                                </div>
                                {% if block.value.url %}
                                    <a href="{{ block.value.url }}">{{ block.value.text }}</a>
                                {% else %}
                                    <p>{{ block.value.text }}</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <span class="activity-landing__connectors"></span>
                </div>
                {% include "patterns/atoms/corners/corners.html" with size="page" %}
            </div>

            {# Promoted activities section #}
            <h2 class="activity-landing__heading activity-landing__heading--white activity-landing__heading--extra-margin">{{ page.activity_promotion_title }}</h2>
            <div class="grid grid--3col grid--wide-gap">
                {% for block in page.promoted_activities %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="activity-landing__button-wrapper">
                {% if activity_index_page_url %}
                    {% include "patterns/atoms/buttons/button.html" with href=activity_index_page_url label="View all activities" large=True %}
                {% endif %}
                <a class="activity-landing__personalised-finder" href="{{ page.get_activity_promotion_secondary_link_url }}">{{ page.activity_promotion_secondary_link_text }}</a>
            </div>
        </section>
    </div>

    <section class="wrapper wrapper--large wrapper--padding">
        <div class="section section--activity-landing section--overlap section--activity-landing-tabs">
            {# Streamfield body #}
            {% if page.body %}
                {% include_block page.body %}
            {% endif %}

            <div class="icon-cta">
                {% render_icon page.story_quote_icon "icon-cta__svg" %}
                <div class="icon-cta__content">
                    <p class="icon-cta__heading">{{ page.story_quote_heading }}</p>
                    <a class="icon-cta__link" href="{% pageurl page.story_quote_link_page %}">{{ page.story_quote_link_text }}</a>
                </div>
            </div>

            <span class="activity-landing__connectors-tabs"></span>
            {% include "patterns/atoms/corners/corners.html" with size="page" %}
        </div>
    </section>
{% endblock %}
