{% include "patterns/molecules/streamfield/blocks/heading_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/inline_cta_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/details_block.html" %}
{% include "patterns/molecules/streamfield/blocks/quote_block.html" %}
{% include "patterns/molecules/streamfield/blocks/story_call_to_action_block.html" %}
{% include "patterns/molecules/streamfield/blocks/video_embed_block.html" %}
{% include "patterns/molecules/streamfield/blocks/highlight_block.html" %}
{% include "patterns/molecules/streamfield/blocks/call_to_action_block.html" %}
{% include "patterns/molecules/streamfield/blocks/document_block.html" %}
{% include "patterns/molecules/streamfield/blocks/contact_block.html" %}
{% include "patterns/molecules/streamfield/blocks/boxed_content.html" %}
{% include "patterns/molecules/streamfield/blocks/considerations.html" %}
{% include "patterns/molecules/streamfield/blocks/stats_block.html" %}
{% include "patterns/molecules/streamfield/blocks/text_with_image.html" %}
