{% load form_tags icon_tags i18n %}

<section class="section section--form-darker-grey gift-aid js-gift-aid">
    <div class="gift-aid__header">
        <h2><span class="donate__step">{% trans "2" %}</span>{% trans "GiftAid" %}</h2>

        {% render_icon "icon-color-giftaid" "gift-aid__icon" %}
    </div>

    <p>If you're a UK taxpayer, the government will increase your donation by 25% and it wont cost you a penny.</p>
    <div class="gift-aid__field">
        {% render_form_field form.gift_aid %}

    </div>

    <p class="gift-aid__meta">
        {% blocktrans %}
        By ticking the box above I confirm that I am a UK taxpayer and would like Samaritans to reclaim the tax on all donations I have made in the last four years and for all future gifts of money that I make to be Gift Aid donations. I understand that if I pay less Income Tax and/or Capital Gains tax than the amount of Gift Aid claimed on all my donations in that tax year then it is my responsibility to pay any difference. Please let us know if your tax circumstances or name/address change so we can update our records.
        {% endblocktrans %}
    </p>
</section>
