{% load icon_tags humanize i18n %}

{% render_icon value.icon "stat-block__icon" %}
<div>
    <h3 class="stat-block__heading">
        {% language "en-gb" %}
            {% if not is_euro %}
                {% if value.amount %}
                    £{{ value.amount|floatformat:"-2"|intcomma }}
                {% else %}
                    {{ value.value }}
                {% endif %}
            {% else %}
                €{{ amount }}
            {% endif %}
        {% endlanguage %}
    </h3>
    <p>{{ value.description }}</p>
</div>