{% load wagtailcore_tags %}
<nav class="nav nav--cta" role="navigation" aria-label="Secondary">
    <ul class="nav nav--secondary" role="menu">
        <li class="nav__item" role="none">
            {% if redirect_donate_page %}
                {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=redirect_donate_page title=donate_page.title icon="icon-color-piggy-bank-blank" %}
            {% elif donate_page %}
                {% if currency %}
                    {% with qs="?currency="|add:currency %}
                        {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=donate_page title=donate_page.title icon="icon-color-piggy-bank-blank" qs=qs %}
                    {% endwith %}
                {% else %}
                    {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=donate_page title=donate_page.title icon="icon-color-piggy-bank-blank" %}
                {% endif %}
            {% endif %}
        </li>
        {% for item in secondarynav %}
            {% if item.value.page %}
                <li class="nav__item" role="none">
                    {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=item.value.page title=item.value.title icon=item.value.icon %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

