{% extends "patterns/pages/volunteer_applications/layouts/volunteer-thank-you/volunteer_thank_you.html" %}
{% load form_tags i18n %}

{% block title %}{% trans 'Thanks, you&apos;re all done here' %}{% endblock %}

{% block content %}
    <div class="heading heading--overlapped">
        <div class="heading__inner">
            <div class="thank-you__heading-wrapper">
                <h1 class="thank-you__heading-text">
                    {% if first_name %}
                        {% blocktrans %}
                            Thanks, {{ first_name }} you're all done here
                        {% endblocktrans %}
                    {% else %}
                        {% trans "Thanks, you're all done here" %}
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content__inner content__inner--overlap-top">
            <div class="thank-you__content">

                <h2 class="thank-you__content-heading">{% trans 'What happens next?' %}</h2>

                <p>{% trans "We'll contact your referees and keep you up-to-date with the progress of your application." %}</p>

                <br />
                {% include 'patterns/molecules/volunteer_applications/other-ways-to-help-cta/other-ways-to-help-cta.html' %}
            </div>
        </div>
    </div>

{% endblock %}
