{% extends "patterns/pages/volunteer_applications/layouts/volunteer-full-width/volunteer_full_width.html" %}
{% load static form_tags i18n %}

{% block title %}
    {% include "patterns/atoms/volunteer-page-title/page-title.html" %}
{% endblock %}

{% block content %}
    <div class="heading heading--overlapped">
        <div class="heading__inner">
            <h1>{% include "patterns/atoms/volunteer-page-title/page-title.html" %}</h1>
        </div>
    </div>
    <div class="content">
        <div class="content__inner content__inner--overlap-top">
            {% include "patterns/molecules/volunteer_applications/progress-indicator/progress-indicator.html" with current_step=3  %}

            {% include "patterns/molecules/volunteer_applications/selected-branch/selected-branch.html" with branch_name=selected_branch.title link_text="Change branch" link_url=branch_selection_url %}

            <form method="post" data-js-disable-button-after-submit novalidate>
                <div class="form__container">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="form__errors">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% elif form.errors %}
                        <div class="form__errors">
                            {% blocktrans %}
                            There were some errors with your form. Please amend the
                            fields highlighted below.
                            {% endblocktrans %}
                        </div>
                    {% endif %}

                    <h2 class="form__heading form__heading--hidden-label">{% trans 'Where did you find out about volunteering with us?' %}</h2>
                    {% render_form_field form.contact_reason %}

                    <h2 class="form__heading">{% trans 'Do you have any accessibility needs for the interview?' %}</h2>
                    {% render_form_field form.accessibility_requirement %}

                    <h2>{% trans 'Equal opportunities' %}</h2>
                    <p>
                        {% blocktrans %}
                        As part of our equity, diversity and inclusion
                        commitment to be representative of the societies we
                        serve, we'd like to capture some equal opportunities
                        information. This information will be used to track
                        how we're doing and will be held safely and
                        confidentially.
                        {% endblocktrans %}
                    </p>
                    <p>
                        <strong>
                            {% blocktrans %}
                            This section is entirely optional and will have no effect on your application.
                            {% endblocktrans %}
                        </strong>
                    </p>
                    {% render_form_field form.gender %}
                    <div data-self-describe-section="gender_self_describe">
                        {% render_form_field form.gender_self_describe %}
                    </div>
                    {% render_form_field form.trans %}

                    {% render_form_field form.sexual_orientation %}
                    <div data-self-describe-section="sexual_orientation_self_describe">
                        {% render_form_field form.sexual_orientation_self_describe %}
                    </div>

                    {% render_form_field form.disability %}

                    {% render_form_field form.speak_welsh %}

                    {% render_form_field form.ethnicity %}
                    <div data-self-describe-section="ethnicity_self_describe">
                        {% render_form_field form.ethnicity_self_describe %}
                    </div>

                    {% render_form_field form.religion_and_belief %}
                    <div data-self-describe-section="religion_and_belief_self_describe">
                        {% render_form_field form.religion_and_belief_self_describe %}
                    </div>

                    {% include "patterns/atoms/buttons/button--button.html" with classes="form__submit button" label="Submit" data_attr="data-long-wait" %}

                </div>
            </form>
        </div>
    </div>
{% endblock %}
