{% extends "patterns/pages/volunteer_applications/layouts/volunteer-full-width/volunteer_full_width.html" %}
{% load static form_tags i18n %}

{% block title %}
    {% include "patterns/atoms/volunteer-page-title/page-title.html" %}
{% endblock %}

{% block content %}
    <div class="heading heading--overlapped">
        <div class="heading__inner">
            <h1>{% include "patterns/atoms/volunteer-page-title/page-title.html" %}</h1>
        </div>
    </div>
    <div class="content">
        <div class="content__inner content__inner--overlap-top">
            {% include "patterns/molecules/volunteer_applications/progress-indicator/progress-indicator.html" with current_step=3  %}

            {% include "patterns/molecules/volunteer_applications/selected-branch/selected-branch.html" with branch_name=selected_branch.title link_text="Change branch" link_url=branch_selection_url %}

            <form method="post" data-js-disable-button-after-submit novalidate>
                <div class="form__container">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="form__errors">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% elif form.errors %}
                        <div class="form__errors">
                            {% blocktrans %}
                            There were some errors with your form. Please amend the
                            fields highlighted below.
                            {% endblocktrans %}
                        </div>
                    {% endif %}

                    <h2 class="form__heading form__heading--hidden-label">{% trans 'Where did you find out about volunteering with us?' %}</h2>
                    {% render_form_field form.contact_reason %}

                    <h2 class="form__heading">{% trans 'Do you have any accessibility needs for the interview?' %}</h2>
                    {% render_form_field form.accessibility_requirement %}

                    <div class="form__section form__section--full-width">
                        <section class="section section--consent-edi streamfield--dark-bg">
                            {# id matches up with aria-describedby attributed on the checkbox - see forms.py #}
                            <div class="form-item" id="edi-explanation">
                                <h2>{% trans "Consent to use your EDI data" %}</h2>
                                {% blocktrans %}
                                    <p>This section will ask some questions relating to sensitive categories of personal information including ethnicity and religion, for which we need your explicit consent to record. Samaritans will use this information in line with our goal for EDI to ensure that volunteer teams are representative of the communities we live and work in.</p>
                                    <p>Completing this form will help us to monitor how well we are progressing against this goal.</p>
                                    <p>All information provided:
                                        <ul class="list--bullets">
                                            <li>will be used for statistical purposes only</li>
                                            <li>will not be published in a way that allows any individual to be identified</li>
                                            <li>will not influence the assessment of any application process nor seen by anybody directly involved in a decision making process on an application</li>
                                        </ul>
                                    </p>
                                    <p><strong>Completing this form is voluntary.</strong></p>
                                {% endblocktrans %}
                            </div>
                            {% render_form_field form.consent_edi %}
                        </section>
                    </div>

                    {% render_form_field form.gender %}
                    <div data-self-describe-section="gender_self_describe">
                        {% render_form_field form.gender_self_describe %}
                    </div>
                    {% render_form_field form.trans %}

                    {% render_form_field form.sexual_orientation %}
                    <div data-self-describe-section="sexual_orientation_self_describe">
                        {% render_form_field form.sexual_orientation_self_describe %}
                    </div>

                    {% render_form_field form.disability %}

                    {% render_form_field form.speak_welsh %}

                    {% render_form_field form.ethnicity %}
                    <div data-self-describe-section="ethnicity_self_describe">
                        {% render_form_field form.ethnicity_self_describe %}
                    </div>

                    {% render_form_field form.religion_and_belief %}
                    <div data-self-describe-section="religion_and_belief_self_describe">
                        {% render_form_field form.religion_and_belief_self_describe %}
                    </div>

                    {% include "patterns/atoms/buttons/button--button.html" with classes="form__submit button" label="Submit" data_attr="data-long-wait" %}

                </div>
            </form>
        </div>
    </div>
{% endblock %}
