{% extends "patterns/pages/volunteer_applications/layouts/volunteer-full-width/volunteer_full_width.html" %}
{% load static form_tags i18n %}

{% block title %}{% trans 'Reschedule interview' %}{% endblock %}

{% block content %}
    <div class="heading heading--overlapped">
        <div class="heading__inner">
            <h1>{% trans 'Reschedule interview' %}{% if first_name %}, {{ first_name }}{% endif %}</h1>
        </div>
    </div>
    <div class="content">
        <div class="content__inner content__inner--overlap-top">
            {% if errors %}
                <div class="form__errors">
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <p>
               {% blocktrans with location=branch.title interview_date=application.booked_interview.datetime|date:"M d, Y" %}
                   Your current interview is booked in <b>{{ location }}</b> on <b>{{ interview_date }}</b>.</p>
               {% endblocktrans %}
            </p>

            <p>
                {% trans "<b>In order to reschedule, we first need to cancel your existing interview date.</b> As soon as you click the button below your existing interview will be cancelled and you will be able to select a new interview date/time." %}
            </p>

            <form method="post" data-js-disable-button-after-submit>
                {% csrf_token %}
                <button class="form__submit button" type="submit">
                    <div class="button__shadow"></div>
                    <div class="button__inner">
                        {% trans "I understand" %}
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" title="Select" aria_hide=True %}
                    </div>
                </button>
            </form>

            <br />
            <p><small>
                {% trans "If you no longer want to reschedule your interview, just close this window." %}
            </small></p>
        </div>
    </div>
{% endblock %}
