{% extends "patterns/pages/volunteer_applications/layouts/volunteer-thank-you/volunteer_thank_you.html" %}
{% load form_tags i18n %}

{% block title %}{% trans 'Thank you' %}{% endblock %}

{% block content %}
    <div class="heading heading--overlapped">
        <div class="heading__inner">
            <div class="thank-you__heading-wrapper">
                <!-- <div class="thank-you__heading-icon">

                    {% include 'patterns/atoms/svg/icons/icon-color-star.html' with classes="icon--thank-you" aria_hide=True %}

                </div> -->
                <h1 class="thank-you__heading-text">{% trans 'Thank you' %}{% if first_name %}, {{ first_name }}{% endif %}</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content__inner content__inner--overlap-top">
            <div class="thank-you__content">
                <p>{% trans 'Thanks for your interest in becoming a Samaritan.' %}</p>

                <p>{% trans 'Your volunteering application has been submitted and you will be contacted with details of what the next steps are.' %}</p>

                <p>{% trans 'We have also sent a welcome email to the email address you gave us.' %}</p>

                {% include 'patterns/molecules/alert/alert.html' with alert="To protect others we ask that you avoid publicly sharing your application and any information about Samaritan services." %}

                {% include 'patterns/molecules/volunteer_applications/next-steps-checklist/next-steps-checklist.html' with interview=False %}

            </div>
        </div>
    </div>
{% endblock %}
