{% extends "patterns/pages/volunteer_applications/layouts/volunteer-thank-you/volunteer_thank_you.html" %}
{% load form_tags i18n %}

{% block title %}{% trans 'Thank you' %}{% endblock %}

{% block content %}
<div class="heading heading--overlapped heading--thank-you" aria-hidden="true"></div>
<div class="content">
    <div class="content__inner content__inner--thank-you">
        <div class="thank-you__content">
            <h1 class="thank-you__heading-text">{% trans 'Thank you' %}{% if first_name %}, {{ first_name }}{% endif %}
            </h1>

            <p>{% trans 'We are sorry that there are no interview times available at the moment.' %}</p>

            <p>{% trans 'We will let you know when new interviews become available.' %}</p>

            {% include 'patterns/molecules/alert/alert.html' with alert="To protect others we ask that you avoid publicly sharing your application and any information about Samaritan services." %}

            <br>
            {% include 'patterns/molecules/volunteer_applications/other-ways-to-help-cta/other-ways-to-help-cta.html' %}
        </div>
    </div>
</div>
{% endblock %}
