{% extends "patterns/pages/volunteer_applications/layouts/volunteer-full-width/volunteer_full_width.html" %}
{% load static form_tags i18n %}

{% block title %}{% trans 'Withdraw your application' %}{% endblock %}

{% block content %}
<div class="heading heading--overlapped">
    <div class="heading__inner">
        <p class="lead">
            {% blocktrans %}
            We&apos;re sorry to see that you&apos;d like to withdraw your application,
            but we appreciate you letting us know. You are welcome to reapply
            to volunteer at any time.
            {% endblocktrans %}
        </p>
    </div>
</div>
<div class="content">
    <div class="content__inner content__inner--overlap-top">
        <p>
            {% trans "To confirm your application withdrawal, press the button below:" %}
        </p>

        {% if errors %}
            <div class="form__errors">
                {% for error in errors %}
                    <p{% if forloop.last %} class="margin-bottom__remove"{% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" data-js-disable-button-after-submit>
            {% csrf_token %}
            <p>
                <button class="form__submit button" type="submit" data-long-wait>
                    <div class="button__shadow"></div>
                    <div class="button__inner">
                        {% trans "Withdraw application" %}
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" title="Select" aria_hide=True %}
                    </div>
                </button>
            </p>
        </form>

        <p><small>
            {%  trans "If you didn&apos;t mean to withdraw your application, just close this window." %}
        </small></p>

        {% if application.booked_interview %}
            <hr><br />
            <p>
                {% trans "You can also reschedule your interview for a different date/time." %}
            </p>
            <a href="{{ reschedule_interview_url }}" class="form__submit button" type="submit">
                <div class="button__shadow"></div>
                <div class="button__inner">
                    {% trans "Reschedule interview" %}
                    {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" title="Select" aria_hide=True %}
                </div>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
