{% load cache i18n locale_tags navigation_tags wagtailcore_tags %}

<footer class="footer footer--website">
    <div class="footer__inner wrapper wrapper--large wrapper--padding">
        <div class="footer__locale">
            {% locale_switcher %}
        </div>

        {% get_current_language as LANGUAGE_CODE %}
        {% cache 900 footer LANGUAGE_CODE %}
            <div class="footer__nav-container">

                <section>
                    {% footernav %}
                </section>

                <section class="grid grid--website-footer-ctas">
                    {% for cta in settings.navigation.NavigationSettings.footer_ctas %}
                        {% include_block cta %}
                    {% endfor %}
                </section>

                <nav class="footer-links footer-links--website" role="navigation" aria-label="Quaternary">
                    <ul class="footer-links__list footer-links__list--social">
                        <li class="footer-links__item">
                            <a href="https://www.instagram.com/samaritanscharity/" class="footer-links__link" aria-label="instagram">
                                {% include "patterns/atoms/svg/icons/icon-social-instagram.html" with classes="icon icon--footer-social icon--footer-social-instagram" %}
                            </a>
                        </li>
                        <li class="footer-links__item">
                            <a href="https://www.linkedin.com/company/samaritans" class="footer-links__link" aria-label="linkedin">
                                {% include "patterns/atoms/svg/icons/icon-social-linkedin.html" with classes="icon icon--footer-social icon--footer-social-linkedin" %}
                            </a>
                        </li>
                        <li class="footer-links__item">
                            <a href="https://www.facebook.com/samaritanscharity/" class="footer-links__link" aria-label="facebook">
                                {% include "patterns/atoms/svg/icons/icon-social-facebook.html" with classes="icon icon--footer-social icon--footer-social-facebook" %}
                            </a>
                        </li>
                        <li class="footer-links__item">
                            <a href="https://twitter.com/samaritans" class="footer-links__link" aria-label="twitter">
                                {% include "patterns/atoms/svg/icons/icon-social-twitter.html" with classes="icon icon--footer-social icon--footer-social-twitter" %}
                            </a>
                        </li>
                        <li class="footer-links__item">
                            <a href="https://www.youtube.com/user/samaritans " class="footer-links__link" aria-label="youtube">
                                {% include "patterns/atoms/svg/icons/icon-social-youtube.html" with classes="icon icon--footer-social icon--footer-social-youtube" %}
                            </a>
                        </li>
                    </ul>
                    {% footerlinks %}
                </nav>
            </div>

            <p class="footer__legal">Samaritans is a charity registered in England and Wales (219432) and in Scotland (SC040604) and incorporated in England and Wales as a company limited by guarantee (757372). Samaritans Ireland is a charity registered in the Republic of Ireland (20033668) and incorporated in the Republic of Ireland as a company limited by guarantee (450409). Samaritans Enterprises is a private limited company (01451175).</p>

            <div class="footer__credit">
                {% if COPYRIGHT %}
                    <p>© {% now "Y" %} {{ COPYRIGHT }}</p>
                {% endif %}
            </div>
        {% endcache %}
    </div>
</footer>
