{% load cache i18n locale_tags navigation_tags wagtailcore_tags %}

<footer class="footer footer--website">
    <div class="footer__inner wrapper wrapper--large wrapper--padding">
        <div class="footer__locale">
            {% locale_switcher %}
        </div>

        {% get_current_nation as NATION %}
        {% cache 900 footer NATION %}
            <div class="footer__nav-container">

                <section>
                    {% footernav %}
                </section>

                <section class="grid grid--website-footer-ctas">
                    {% for cta in settings.navigation.NavigationSettings.footer_ctas %}
                        {% include_block cta %}
                    {% endfor %}
                </section>

                <nav class="footer-links footer-links--website" role="navigation" aria-label="Quaternary">
                    {% social_media_links %}
                    {% footerlinks %}
                </nav>
            </div>

            <p class="footer__legal">Samaritans is a charity registered in England and Wales (219432) and in Scotland (SC040604) and incorporated in England and Wales as a company limited by guarantee (757372). Samaritans Ireland is a charity registered in the Republic of Ireland (20033668) and incorporated in the Republic of Ireland as a company limited by guarantee (450409). Samaritans Enterprises is a private limited company (01451175).</p>

            <div class="footer__credit">
                {% if COPYRIGHT %}
                    <p>© {% now "Y" %} {{ COPYRIGHT }}</p>
                {% endif %}
            </div>
        {% endcache %}
    </div>
</footer>
