{% if tooltip %}
    <div class="form-item__tooltip-wrapper {% if extra_tooltip_wrapper_classes %}{{ extra_tooltip_wrapper_classes }}{% endif %}">
        {% include "patterns/molecules/forms/_field.html" %}

        {% if use_tooltip %}
            {% include "patterns/molecules/tooltip/tooltip.html" with tooltip_classes="tooltip--form" %}
        {% else %}
            {% include "patterns/molecules/callout-form/callout-form.html" with content=tooltip classes="callout-form--narrow" %}
        {% endif %}

    </div>
{% else %}
    {% include "patterns/molecules/forms/_field.html" %}
{% endif %}
