<label for="{{ field.id_for_label }}"
class="
form-item__label
{% if widget_type == 'checkbox_input' %}form-item__label--checkbox_input{% endif %}
{% if field.field.required %}required{% endif %}
">
    {{ field.label }}
    {% if field.field.required or required or field.field.label_suffix == '*' %}
        <span class="form-item__required">(required)</span>
    {% endif %}
    {% if show_help_text and field.help_text or help_text %}
        <p class="form-item__hint">{% firstof field.help_text help_text %}</p>
    {% endif %}
</label>
