<div class="form-item form-item--lazy_typed_choice_field form-item--lazy_select {% if field.errors %}form-item--errors js-form-error{% endif %}">
    {% if field.errors %}
        <div class="form-item__errors">
            {{ field.errors }}
        </div>
    {% endif %}
    {% include "patterns/molecules/forms/_label.html" %}
    <div class="form-item__tooltip-wrapper">
        <div class="form-item__wrapper">
        <input autocomplete="off" class="form-item__data-list" name="{{ field.name }}" list="_{{ field.name }}" id="{{ field.name }}"/>
            <datalist id="_{{ field.name }}">
            {% for value, title in field.field.choices %}
                <option value="{{ value }}">
            {% endfor %}
            </datalist>
            <div class="form-item__select-icon-wrapper">
                {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="form-item__select-icon" aria_hide="true" %}
            </div>
        </div>
        {% include "patterns/molecules/tooltip/tooltip.html" with tooltip_classes="tooltip--form" %}
    </div>
</div>
