{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags icon_tags donate_tags static to_euro %}

{% block meta_tags %}
    {{ block.super }}
    {# Facebook IOS - 14 domain verification #}
    <meta name="facebook-domain-verification" content="ix21956ga2ydohpr5jwe16s15awpzs" />
{% endblock meta_tags %}

{% block content %}

    <div id="homepage" class="hero hero--homepage">

        {% image page.hero_image fill-1900x1250 jpegquality-40 as hero_image %}
        <div class="donate-landing-hero__image--desktop" style="background-image: url({{ hero_image.url}});"></div>
        {% image page.hero_image fill-768x500 jpegquality-40 as hero_image_mobile %}
        <div class="donate-landing-hero__image--mobile">
            <img src="{{ hero_image_mobile.url}}" alt="{{ hero_image_mobile.alt }}" />
        </div>

        <div class="hero__inner wrapper wrapper--large wrapper--padding" id="main-content">

            <h1 class="hidden">Samaritans</h1>

            <div class="hero-widget">
                <div class="hero-widget__corner"></div>
                <div class="hero-widget__inner">
                    <span class="hero-widget__connectors"></span>
                    <span class="hero-widget__connectors--extra"></span>

                    {% if page.hero_headline %}
                        <h2 class="hero-widget__heading">{{ page.hero_headline }}</h2>
                    {% endif %}
                    {% if page.hero_description %}
                        <p>{{ page.hero_description }}</p>
                    {% endif %}

                    <hr class="hr hr--dashed hr--dark">

                    <a class="inline-cta inline-cta--homepage-widget" href="{% if page.hero_cta_link %}{% pageurl page.hero_cta_link %}{% endif %}">
                        {% if page.hero_cta_icon %}
                            {% render_icon page.hero_cta_icon "inline-cta__icon" %}
                        {% endif %}
                        <div class="inline-cta__text">
                            {% if page.hero_cta_title %}
                                <p>{{ page.hero_cta_title }}</p>
                            {% endif %}
                            <p class="inline-cta__link">
                                {% include "patterns/molecules/chevron-link/chevron-link.html" with title=page.hero_cta_link_text chevron_link_classes="chevron-link--underline" %}
                            </p>
                        </div>
                    </a>

                </div> {# /.hero-widget__inner #}
            </div> {# /.hero-widget #}
        </div>
    </div>

    {# Donate slider #}
    <section class="section section--page-padding homepage-donate-slider" data-hero-donate-landing>
        <div class="wrapper wrapper--large wrapper--padding-page">
            <div class="homepage-donate-slider__wrapper">
                <div class="wrapper wrapper--small {% if page.support_donation_page %}homepage-donate-slider__heading{% endif %}">
                    <h2 class="heading-secondary heading-secondary--large">
                        {{ page.secondary_headline }}
                    </h2>
                    <p class="website-homepage__text website-homepage__text--top-section">
                        {{ page.secondary_description }}
                    </p>
                </div>
                {% if page.support_donation_page %}
                    <div class="homepage-donate-slider__inner">
                        {% image page.support_image fill-1100x600 as support_image %}
                        {% if page.support_donation_page.hero_video %}
                            <div class="homepage-donate-slider__poster" style="background-image: url({{ support_image.url }});" data-video-modal>
                                <a href="#" class="homepage-donate-slider__open-video" aria-haspopup="true" aria-label="Open the video" data-modal-open>
                                    {% include "patterns/atoms/svg/icons/icon-play-circle.html" with classes="homepage-donate-slider__open-video-icon" %}
                                </a>

                                {# this should be refactored to use donate-video-modal.html #}
                                <div data-modal-window class="video-modal video-modal--donate video-modal--home" aria-live="polite">
                                    <div class="video-modal__container">
                                        <div class="video-modal__inner">
                                            <a href="#" data-modal-close class="video-modal__close" aria-label="Close video">
                                                {% include "patterns/atoms/svg/icons/icon-close.html" with classes="video-modal__close-icon" %}
                                            </a>
                                            <span class="video-modal__connectors"></span>
                                            {# Lazyload iFrame #}
                                            <div
                                                width="480"
                                                height="270"
                                                class="lazyframe"
                                                data-vendor="youtube"
                                                data-src="{{ page.support_donation_page.hero_video }}"
                                                gesture="media"
                                                allow="encrypted-media"
                                                allowfullscreen
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <img class="homepage-donate-slider__image" src="{{ support_image.url }}" alt="{{ support_image.alt }}" width="{{ support_image.width }}" height="{{ support_image.height }}" />
                        {% endif %}

                        <div class="homepage-donate-slider__container">
                            {% include "patterns/organisms/donate/donation_form_with_slider.html" with donate_page=page.support_donation_page %}
                        </div>
                    </div>
                    <span class="homepage-donate-slider__connectors"></span>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="section section--page-padding">
        {% if page.story_highlight %}
            <div class="wrapper wrapper--large">
                {% include_block page.story_highlight %}
            </div>
        {% endif %}
        <div class="wrapper wrapper--small">
            <h2 class="heading-secondary heading-secondary--stats">
                {{ page.support_headline }}
            </h2>
            {% if page.support_description %}
            <p class="website-homepage__text website-homepage__text--top-section">
                {{ page.support_description }}
            </p>
            {% endif %}
        </div>

        <div class="wrapper wrapper--large">
            <div class="grid grid--3col">
                {% for support_us_link in page.support_us_links.all %}
                    {% include "patterns/molecules/cards/related-card.html" with value=support_us_link.link.specific title_override=support_us_link.link_text body_override=support_us_link.summary classes="card-new--dark" %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section section--page-padding section--stats is-hidden">
        <div class="wrapper wrapper--small">
            <h2 class="heading-secondary heading-secondary--stats">
                Why we need you to be part of our Christmas story
            </h2>
        </div>

        <div class="wrapper wrapper--large">
            <div class="grid grid--3col grid--stats">
                {% include "patterns/molecules/cards/card-with-icon.html" with icon="star" title="3,462 volunteers" description="Will give up their time to respond to vital calls for help this Christmas." %}
                {% include "patterns/molecules/cards/card-with-icon.html" with icon="coin-box" title="It costs £52,628.40" description="to provide our service to individuals seeking support on Christmas day alone." %}
                {% include "patterns/molecules/cards/card-with-icon.html" with icon="telephone" title="10,632 calls" description="for help were responded to by our incredible volunteers last Christmas day." %}
            </div>
        </div>

        <p class="website-homepage__text website-homepage__text--stats">
            By donating just &pound;4.95 this Christmas, you could help a Samaritans volunteer answer a life-saving call for life.
        </p>

        <div class="website-homepage__donate-button">
            {% donate_url campaign_id=page.pk frequency="monthly" amount="4.95" as donate_stats_url %}
            {% include "patterns/atoms/buttons/button.html" with label="Donate &pound;4.95 to fund a call" href=donate_stats_url large=True %}
        <div>
    </section>

    {% include "patterns/molecules/mission-statement/mission-statement.html" with heading=page.secondary_headline description=page.secondary_description classes="section--website-homepage-top section is-hidden" %}

    <div class="wrapper wrapper--large wrapper--padding-for-page-tablet-portrait">

        <section class="horizontal-card horizontal-card--homepage-support section is-hidden">
            <div class="horizontal-card__inner">
                {% if page.support_image %} {# if statement can be removed after these are added in the db. these fields are required, but the page breaks when the change is first made. #}
                {% image page.support_image fill-1300x1300 as support_image %}
                <div class="horizontal-card__image" style="background-image: url({{ support_image.url }});"></div>
                {% endif %}

                <div class="horizontal-card__container">
                    <h2 class="horizontal-card__heading">
                        {{ page.support_headline }}
                    </h2>

                    {% include "patterns/organisms/donate/donation_form_with_slider.html" %}

                    <ul class="grid grid--homepage-support nav--homepage-support">
                        {% for support_link in page.support_us_links.all %}
                            <li class="nav__item nav__heading nav__heading--homepage-support" role="presentation">
                                {% include "patterns/molecules/navigation/includes/menu_item.html" with page=support_link.link title=support_link.link_text description=support_link.summary classes="nav__link nav__link--description" is_menuitem=False %}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <span class="horizontal-card__connectors"></span>
        </section>

        {% include "patterns/molecules/mission-statement/mission-statement.html" with heading=page.secondary_headline description=page.secondary_description classes="section--mission-statement is-hidden" %}

        {% if nation_pages|length %}
            <div class="wrapper wrapper--large wrapper--padding-for-page">
                <div class="wrapper wrapper--website-homepage">
                    <section>
                        <div class="news-cards news-cards--homepage">
                            <div class="grid grid--2col grid--nations grid--center grid--no-gap">
                                <div>
                                    <h2 class="nations-title">
                                        <div>
                                            {% include "patterns/atoms/svg/colour-icons/icon-color-uk-ireland-territory.html" with classes="pl-icons__icon pl-icons__world pl-icon--color" %}
                                        </div>
                                        <div>
                                            {{ page.nations_title }}
                                        </div>
                                    </h2>
                                </div>
                                <div>
                                    {% for nation in nation_pages %}
                                        <a class="nav__link nav__link--description nav__link--nations" href="{{ nation.url }}">
                                            {{ nation.get_country_display }}
                                            <svg id="icon--chevron" class="chevron-link__chevron nav__icon nav__icon--chevron" aria-hidden="true" viewBox="0 0 43.1 62.7" fill="currentColor"><use xlink:href="#icon-chevron"></use></svg>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        {% endif %}

        <section class="horizontal-card horizontal-card--homepage-volunteer">
            <div class="horizontal-card__inner">

                {% if page.volunteer_image %}
                    {% image page.volunteer_image width-1300 as volunteer_image %}
                    <div class="horizontal-card__image" style="background-image: url({{ volunteer_image.url }});"></div>
                {% endif %}

                <div class="horizontal-card__container">
                    <h2 class="heading-secondary heading-secondary--large website-homepage__volunteer__heading">
                        {% if page.volunteer_icon %} {# if statement can be removed after these are added in the db. these fields are required, but the page breaks when the change is first made. #}
                        {% include "patterns/molecules/chevron-link/chevron-link.html" with title=page.volunteer_headline color_icon=page.volunteer_icon hide_svg_title="true" %}
                        {% else %}
                        {{ page.volunteer_headline }}
                        {% endif %}
                    </h2>
                    <p class="website-homepage__text">{{ page.volunteer_description }}</p>
                    <a href="{{ page.volunteer_link.url }}" class="horizontal-card__link">
                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="horizontal-card__link-chevron" aria_hide="true" %}
                        <span>
                            <span class="horizontal-card__link-text">
                                {{ page.volunteer_link_text }}
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <span class="horizontal-card__connectors"></span>
        </section>

    </div> {# /.wrapper--large.wrapper--padding-for-page-tablet-portrait #}

    <div class="wrapper wrapper--large wrapper--padding-for-page">

        <div class="wrapper wrapper--website-homepage">

            {% include "patterns/atoms/svg/patterns/pattern-arrow.html" with classes="pattern" %}

            <section class="section section--page-padding">
                <div class="news-cards news-cards--homepage">
                <div class="news-cards__heading">
                    <h2 class="heading-secondary news-cards__heading-text">
                        Samaritans news
                    </h2>
                    <a href="/news" class="news-cards__heading-link">
                        <span class="news-cards__heading-link-inner">
                            View all news
                        </span>
                    </a>
                </div>
                </div>
                {% with news=page.get_nation_specific_news %}
                {% if news %}
                    <div class="grid grid--3col">
                        {% for item in news %}
                            {% if item.value and item.value.live %}
                                {% include "patterns/molecules/cards/related-card.html" with value=item.value.specific classes="card-new--homepage-news" type="news" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
            </section>

        </div>

        <section class="section section--website-homepage-bottom">

            {% include "patterns/atoms/corners/corners.html" with size="page" %}

            <div class="grid grid--3col grid--no-margin">
                <div class="grid__double-width">

                    <h2 class="heading-secondary heading-secondary--large">{{ page.more_info_headline }}</h2>
                    <p class="website-homepage__text">{{ page.more_info_description }}</p>

                    {% if page.more_info_pages %}
                        <div class="grid grid--2col grid--no-margin">
                            {% for card in page.more_info_pages.get_object_list %}
                                {% include "patterns/molecules/cards/related-card.html" with value=card.more_info_pages.specific classes="card-new--dark" %}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>

        </section> {# /.section--website-homepage-bottom #}

    </div> {# /.wrapper--large.wrapper--padding-for-page #}


    <section class="section section--page-end-cta">
        <div class="website-homepage__cta wrapper wrapper--small">
            <h2 class="website-homepage__cta__heading">
                {% if page.cta_title %} {# if statement can be removed after these are added in the db. these fields are required, but the page breaks when the change is first made. #}
                {% render_icon page.cta_icon "website-homepage__cta__icon" %}
                {% endif %}
                <span class="website-homepage__cta__heading-text">
                    {{ page.cta_title }}
                </span>
            </h2>
            <p class="website-homepage__cta__text">{{ page.cta_description }}</p>
            {% include "patterns/atoms/buttons/button.html" with large=True label=page.cta_link_text href=page.cta_link.url %}
        </div>
    </section>

{% endblock %}

{% block extra_js %}
    {% if single_slider_values %}
        {{ single_slider_values|json_script:"single_slider_values" }}
    {% endif %}
    {% if monthly_slider_values %}
        {{ monthly_slider_values|json_script:"monthly_slider_values" }}
    {% endif %}
    <script type="text/javascript">
        donateConfig = {
            'monthlyGiving': '{{ page.support_donation_page.allow_monthly_donation }}',
            'singleGiving' : '{{ page.support_donation_page.allow_one_off_donation }}',
            'monthlyAmount': '{{ monthly_suggested_amount }}',
            'singleAmount': '{{ single_suggested_amount }}',
            'isEuro' : '{{ is_euro }}'
        };
    </script>
{% endblock %}
