{% load i18n donate_tags form_tags static to_euro %}


	{# Monthly / One-off tabs #}
	{% if donate_page.allow_monthly_donation and donate_page.allow_one_off_donation %}
		<div class="button-group">
			<button class="button-group__button" id="donate__form__toggle-monthly" {% if donate_page.default_to_monthly %}disabled{% endif %}>
            	<span class="button-group__button-text">
            	    {% trans "Monthly" %}
        	    </span>
			</button>
			<button class="button-group__button" id="donate__form__toggle-single" {% if donate_page.default_to_single %}disabled{% endif %}>
            	<span class="button-group__button-text">
		            {% trans "One-off" %}
            	</span>
			</button>
		</div>
	{% endif %}

	{# Monthly #}
	{% if donate_page.allow_monthly_donation %}
		<form method="get" action="{% url 'donate:personal_details' %}" id="donate_form--monthly" {% if donate_page.default_to_single %}hidden{% endif %} class="js-donate-usage">
			{# Show slider if an editor has enabled it #}
			{% if donate_page.show_donate_slider %}
				<div class="donate-slider__container">
					<div id="donate_slider--monthly-icon" class="donate-slider--icon">
						{# Child element injected here, if supplied #}
					</div>
					<div id="donate_slider--monthly-text" class="donate-slider--text">
						{# Child element injected here, if supplied #}
					</div>
				</div>
				<div class="donate-slider__slider-input-wrap">

					<div id="donate_slider--monthly" class="donate-landing__slider" data-suggested-amount="{{monthly_suggested_amount}}">
						{# Child elements (pips) injected here, if supplied #}
					</div>

					{% if is_euro %}
						<div class="donate-landing-hero__form-input donate-landing-hero__form-input">
							<div class="form-item form-item--decimal_field form-item--number_input donate-landing-hero__form-input">
								<label for="{{ monthly_form.amount.id_for_label }}">{{ monthly_form.amount.label }}</label>
								<div class="form-item__wrapper--euro">
									{{ monthly_form.amount.errors }}
									<input type="number" id="id_amount" name="amount" value="{{ monthly_form.amount.value|to_euro:request.site }}" min="0.01" step="0.01" required="">
								</div>
							</div>
						</div>
					{% else %}
						<div class="donate-landing-hero__form-input donate-landing-hero__form-input--monthly">
							{% render_form_field monthly_form.amount %}
						</div>
					{% endif %}
				</div>
			{% endif %}

			{% render_form_field monthly_form.campaign_id %}
			{% render_form_field monthly_form.frequency %}
			{% render_form_field monthly_form.currency %}

			<div class="donate-slider__button-icons-wrap">
				{% include "patterns/atoms/buttons/button--button.html" with label=donate_page.donate_button_text large=True classes="button--secondary donate-landing-hero__donate-button" %}
				{% include "patterns/molecules/payments/payment-icons--monthly.html" %}
			</div>
		</form>
	{% endif %}

	{# One off #}
	{% if donate_page.allow_one_off_donation %}
		<form method="get" action="{% url 'donate:personal_details' %}" id="donate_form--single" {% if donate_page.default_to_monthly %}hidden{% endif %} class="js-donate-usage">
		    <div class="donate-slider__container">
	    		<div id="donate_slider--single-icon" class="donate-slider--icon">
	    			{# Child element injected here, if supplied #}
	    		</div>
	    		<div id="donate_slider--single-text" class="donate-slider--text">
	    			{# Child element injected here, if supplied #}
	    		</div>
			</div>
			<div class="donate-slider__slider-input-wrap">

				<div id="donate_slider--one_off" class="donate-landing__slider" data-suggested-amount="{{single_suggested_amount}}">
					{# Child elements (pips) injected here, if supplied #}
				</div>

				{% if is_euro %}
					<div class="donate-landing-hero__form-input donate-landing-hero__form-input">
						<div class="form-item form-item--decimal_field form-item--number_input donate-landing-hero__form-input">
							<label for="{{ one_off_form.amount.id_for_label }}">{{ one_off_form.amount.label }}</label>
							<div class="form-item__wrapper--euro">
								{{ one_off_form.amount.errors }}
								<input type="number" id="id_amount" name="amount" value="{{ one_off_form.amount.value|to_euro:request.site }}" min="0.01" step="0.01" required="">
							</div>
						</div>
					</div>
				{% else %}
					<div class="donate-landing-hero__form-input donate-landing-hero__form-input donate-landing-hero__form-input--slider">
						{% render_form_field one_off_form.amount %}
					</div>
				{% endif %}
			</div>

			{% render_form_field one_off_form.campaign_id %}
			{% render_form_field one_off_form.frequency %}
			{% render_form_field one_off_form.currency %}

			<div class="donate-slider__button-icons-wrap">
				{% include "patterns/atoms/buttons/button--button.html" with label=donate_page.donate_button_text large=True classes="button--secondary donate-landing-hero__donate-button" %}
				{% include "patterns/molecules/payments/payment-icons--single.html" %}
			</div>
		</form>
	{% endif %}

{% block extra_js %}
    <script src="{% static 'js/donate.js' %}"></script>
    {% if single_slider_values %}
        {{ single_slider_values|json_script:"single_slider_values" }}
    {% endif %}
    {% if monthly_slider_values %}
        {{ monthly_slider_values|json_script:"monthly_slider_values" }}
    {% endif %}
{% endblock %}
