.accordion {
    $root: &;
    border-top: $grey-border;

    &:last-child {
        border-bottom: $grey-border;
    }

    .streamfield--dark-bg &,
    .tabccordion--actions & {
        color: $white;
        border-color: rgba($grey-light, 0.2);
    }

    &__heading {
        @include link;
        padding: $gutter 0;
        font-size: $base-font-size;
        transition: color $transition;
        font-weight: $weight--bold;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-query(mob-landscape) {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        .streamfield--dark-bg &,
        .tabccordion--actions & {
            @include link($white, rgba($white, 0.8));
        }

        #{$root}--tabccordion & {
            @include media-query(tablet-portrait) {
                display: none;
            }

            .streamfield--dark-bg & {
                @include link;
            }
        }

        #{$root}--training & {
            padding: $gutter;
        }

        .is-open &,
        .is-active--mobile & {
            color: inherit;
        }
    }

    &__heading-text {
        font-size: 21px;
        margin-bottom: 0;
        margin-right: $gutter;
        flex: 1;
        pointer-events: none;

        @include media-query(mob-landscape) {
            margin-right: 0;
            margin-left: $gutter;
        }
    }

    &__icon {
        width: $gutter;
        height: $gutter;
        transform: rotate(90deg);
        transition: transform, fill, 0.2s ease;
        fill: $color--link;
        pointer-events: none;

        .streamfield--dark-bg &,
        .tabccordion--actions & {
            fill: $white;
        }

        #{$root}--tabccordion & {
            .streamfield--dark-bg & {
                fill: $color--link;
            }
        }
    }

    &.is-open,
    &.is-active--mobile {
        #{$root}__icon {
            transform: rotate(-90deg);
        }
    }

    &__content {
        display: none;
        padding-bottom: $gutter;
        width: 100%;
        justify-content: space-between;

        @include media-query(mob-landscape) {
            padding-left: 2 * $gutter;
        }

        #{$root}--tabccordion & {
            @include media-query(tablet-portrait) {
                padding: 0;
            }
        }
    }

    &.is-open {
        #{$root}__content {
            display: flex;
        }
    }

    &.is-active--mobile {
        #{$root}__content {
            display: block;
        }
    }

    &__illustration {
        width: 30%;
        max-width: 78px;
        margin-left: $gutter;
        flex-shrink: 0;
    }

    &--hide-tablet-landscape {
        max-width: 100%;
        margin-bottom: $gutter;

        @include media-query(tablet-landscape) {
            display: none;
        }
    }

    &--training {
        max-width: $wrapper--wide;
        border: $grey-border;
        border-radius: 3px;
        margin-bottom: $gutter;

        #{$root}__header-wrapper {
            margin-right: $gutter;

            @include media-query(mob-landscape) {
                margin-right: 0;
                margin-left: $gutter;
            }

            @include media-query(tablet-portrait) {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: flex-start;
            }

            @include media-query(tablet-portrait) {
                .accordion__column {
                    &--left {
                        width: 60%;
                    }

                    &--right {
                        width: 40%;
                        text-align: right;

                        p + p {
                            margin-left: $gutter;
                        }
                    }
                }
            }
        }

        #{$root}__location {
            @include font-size(l);
            color: $charcoal;
            margin: 0;
        }

        #{$root}__details {
            @include font-size(xs);
            font-weight: $weight--normal;
            color: $ink;
            margin: 0;

            @include media-query(mob-landscape) {
                @include font-size(s);
            }

            &--label {
                @include font-size(xs);
                display: inline-block;
                background-color: $emerald;
                border-radius: 3px;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                font-weight: $weight--bold;
                line-height: 1;
                padding: ($gutter-small / 2) $gutter-small;
                margin: ($gutter / 2) 0 auto;

                @include media-query(tablet-portrait) {
                    margin-top: 0;
                }

                &.invisible {
                    opacity: 0;
                }
            }
        }

        #{$root}__icon-wrapper {
            margin: ($gutter-small / 2) 0 auto;
        }

        #{$root}__content {
            flex-wrap: wrap;
            padding: 0 $gutter;

            @include media-query(mob-landscape) {
                padding: 0 $gutter-medium 0 $gutter;
            }
        }

        #{$root}__content-footer {
            padding: $gutter-medium 0;
            width: 100%;

            @include media-query(tablet-portrait) {
                text-align: center;
            }
        }

        #{$root}__footer-heading {
            @include font-size(xs);
            margin: 0;

            @include media-query(mob-landscape) {
                @include font-size(s);
            }
        }

        #{$root}__footer-text {
            @include font-size(xs);

            &--link {
                color: $ink;
            }
        }
    }
}
