.activity-landing {
    $root: &;

    &--get-involved {
        background-color: $ink;
        padding: $gutter-x-large 0
            calc(#{$section-overlap-x-large} + #{$gutter-large});

        @include media-query(tablet-landscape) {
            padding: 85px 0 calc(#{$section-overlap-x-large} + 140px);
        }
    }

    &__heading {
        @include rem-font-size(21px);
        line-height: 32px;
        max-width: 780px;
        margin: 0 auto;
        text-align: center;

        @include media-query(tablet-landscape) {
            @include rem-font-size(34px);
            line-height: 42px;
        }

        &--white {
            color: $color--white;
        }

        &--margin {
            margin: 0 auto $gutter-medium;

            @include media-query(tablet-landscape) {
                margin-bottom: $gutter-x-large;
            }
        }

        &--extra-margin {
            margin: $gutter-x-large auto;

            @include media-query(tablet-landscape) {
                margin-top: 150px;
                margin-bottom: $gutter-xxl;
            }
        }

        &--align-start {
            text-align: start;
        }
    }

    &__icon-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gutter;
        margin: $gutter-medium auto 5px;
        max-width: $wrapper--small;

        @include media-query(tablet-landscape) {
            column-gap: $gutter-large;
            row-gap: 25px;
            margin-top: $gutter-x-large;
            margin-bottom: 0;
        }
    }

    &__icon-list-item {
        display: grid;
        grid-template-columns: 30px 1fr;
        column-gap: 10px;
        align-items: center;

        a,
        p {
            font-weight: $weight--bold;
            margin: 0;
        }
    }

    &__icon-wrapper {
        width: 30px;
        height: 30px;
    }

    &__icon {
        max-width: 30px;
        max-height: 30px;
    }

    &__button-wrapper {
        max-width: 700px;
        margin: $gutter-xxl auto $gutter;
        text-align: center;

        @include media-query(tablet-landscape) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: left;
        }
    }

    &__personalised-finder {
        @include rem-font-size(20px);
        line-height: 30px;
        font-weight: $weight--bold;
        text-decoration: underline;
        margin-top: $gutter-medium;
        display: block;

        @include media-query(tablet-landscape) {
            margin-top: 0;
            margin-left: $gutter;
        }
    }

    &__padded-container {
        padding: 10px $gutter $gutter-large;

        @include media-query(tablet-portrait) {
            padding-bottom: $gutter;
        }

        @include media-query(tablet-landscape) {
            padding: 0;
        }
    }

    &__partner-intro {
        margin: $gutter-medium auto 0;
        max-width: $wrapper--small;

        @include media-query(tablet-portrait) {
            padding: 0 $gutter-x-large;
        }
    }
}
