.alert {
    display: flex;
    width: 100%;
    padding: $gutter;
    background-color: $page-bg;
    margin-bottom: $gutter * 1.5;

    .thank-you__content & {
        margin-bottom: 0;
        margin-top: $gutter-large;
    }

    &__icon {
        margin-bottom: auto;

        svg {
            fill: $ink;
            width: 25px;
            height: 25px;
        }
    }

    &__text {
        @include font-size(xs);
        padding: 3px 15px 0;
        margin: auto 0;
        color: $ink;

        a {
            color: $ink;
            text-decoration: underline;
        }
    }
}
