.apple-pay-button {
    // sass-lint:disable-block no-vendor-prefixes, no-misspelled-properties

    display: block;
    height: 50px;
    width: 100%;

    @include media-query(tablet-portrait) {
        width: 140px;
    }

    @supports (-webkit-appearance: -apple-pay-button) {
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: plain;
        -apple-pay-button-style: black;
    }

    @supports not (-webkit-appearance: -apple-pay-button) {
        display: none;
    }
}
