.breadcrumb {
    $root: &;
    $breadcrumb-primary--on-dark: $white;
    $breadcrumb-primary--on-light: $color--default;

    display: none;

    @include media-query(tablet-portrait) {
        display: block;
        margin-bottom: $gutter;
    }

    @include media-query(tablet-landscape) {
        margin-bottom: $gutter-large;
    }

    &--story {
        background-color: $plum;
        margin: 0;
        padding-top: 40px;

        #{$root}__list {
            margin-left: 30px;

            @include media-query(tablet-landscape) {
                margin: 0 auto;
                max-width: $site-width;
                padding-left: $page-padding-horizontal-tablet-landscape;
                padding-right: $page-padding-horizontal-tablet-landscape;
            }
        }
    }

    .hero--landing-page & {
        margin-bottom: $gutter;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item,
    &__link {
        padding: 4px 0;
        font-size: 14px;
        color: $breadcrumb-primary--on-dark;
        font-weight: $weight--bold;

        #{$root}--on-light & {
            color: $breadcrumb-primary--on-light;
        }

        .hero--landing-page & {
            color: $ink;
        }
    }

    &__link {
        @include underline(transparent, $breadcrumb-primary--on-dark);

        #{$root}--on-light & {
            @include underline(transparent, $breadcrumb-primary--on-light);
        }

        #{$hover} {
            color: currentColor;

            #{$root}--on-light & {
                color: currentColor;
            }
        }
    }

    &__icon {
        &--chevron {
            width: 7px;
            height: 10px;
            margin: 0 $gutter-small;
            fill: $breadcrumb-primary--on-dark;

            #{$root}--on-light & {
                fill: $breadcrumb-primary--on-light;
            }

            .hero--landing-page & {
                fill: $lime;
            }
        }

        &--home {
            width: 18px;
            height: 18px;
            fill: currentColor;
            vertical-align: sub;
            margin: 0;
            transition: fill $transition;
            margin-right: 10px;
        }
    }

    .template-volunteer & {
        $root: &;
        display: inline-flex;
        align-items: center;
        margin-bottom: $gutter;

        color: $ink;
        fill: $lime;

        &--white {
            color: $white;
            fill: $white;
        }

        &__icon {
            width: 14px;
            height: 14px;
            transform: rotate(180deg);
            margin-right: 5px;
            transition: transform $transition;

            #{$root}:hover & {
                transform: rotate(180deg) translateX(30%);
            }
        }

        &__text {
            @include font-size(s);
            margin: 0;
            line-height: 1;
        }
    }
}
