@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.button {
    $root: &;
    $padding: 12px;
    $padding-large: 18px;
    $icon-margin: 20px;

    @include font-size(s);
    display: inline-flex;
    position: relative;
    padding-left: 5px;
    padding-bottom: 5px;
    color: $white;
    transition: color $transition;

    @include target-ie11 {
        max-width: 100%;
    }

    #{$hover} {
        color: $white;

        #{$root}__inner {
            background: $teal;
        }

        #{$root}__shadow,
        #{$root}__inner::after {
            background: $emerald;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &[data-loading] {
        #{$root}__inner {
            padding-left: ($gutter-medium + 20px);
            padding-right: $gutter-small;

            &::before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: $gutter-medium;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                margin-left: -10px;
                border-radius: 50%;
                border: 2px solid $teal;
                border-top-color: #fff;
                animation: spinner 0.6s linear infinite;
            }
        }
    }

    &--donate-pay {
        margin-top: $gutter-large;
    }

    &--filter {
        width: 100%;

        @include media-query(tablet-portrait) {
            width: auto;
        }
    }

    &--group {
        margin-right: $gutter;
    }

    &__shadow,
    &__inner::after {
        background: $teal;
        content: '';
        position: absolute;
        transition: background $transition;
    }

    &__shadow {
        top: 5px;
        right: 5px;
        bottom: 0;
        left: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: ($padding - 4.5px) $padding;
        padding-left: $gutter-medium;
        position: relative;
        font-weight: $weight--bold;
        background: $emerald;
        transition: background $transition;

        &::after {
            width: 10px;
            height: 5px;
            margin-top: -2.5px;
            top: 50%;
            left: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            #{$root}--plain & {
                display: none;
            }
        }

        #{$root}--plain & {
            padding-left: $padding;
        }

        #{$root}--filter & {
            width: 100%;
            height: 46px;
        }
    }

    &__icon {
        margin-left: $icon-margin;
        opacity: 0.75;
        flex-shrink: 0;
        fill: currentColor;

        &--chat {
            opacity: 1;
            width: 50px;
            height: 40px;
        }

        #{$root}--plain & {
            display: none;
        }
    }

    &__meta {
        @include font-size(xxs);
        margin: 0;
        font-weight: $weight--normal;
        margin-top: 5px;
    }

    @mixin button--large {
        #{$root}__shadow {
            right: $gutter-medium;
        }

        #{$root}__inner {
            font-size: 22px;
            padding: ($padding-large - 6px) $padding-large;
            padding-left: $gutter-medium;

            @include media-query(mob-landscape) {
                @include font-size(m);
            }
        }

        &#{$root}--plain {
            #{$root}__inner {
                padding-left: $padding-large;
            }
        }
    }

    &--streamfield {
        margin-bottom: $gutter;
    }

    &--large {
        @include button--large;
    }

    &--large-tablet-portrait {
        @include media-query(tablet-portrait) {
            @include button--large;
        }
    }

    &--alt {
        #{$root}__shadow,
        #{$root}__inner::after {
            background: $lime;
        }

        #{$hover} {
            #{$root}__inner {
                background: $lime;
            }

            #{$root}__shadow,
            #{$root}__inner::after {
                background: $emerald;
            }
        }
    }

    // cerulean on plum
    &--secondary {
        #{$root}__shadow {
            background: $plum;
        }

        #{$root}__inner {
            background: $cerulean;

            &::after {
                display: none;
            }
        }

        #{$hover} {
            #{$root}__inner {
                background: $plum;
            }

            #{$root}__shadow {
                background: $cerulean;
            }
        }
    }

    // ink on lime
    &--tertiary,
    .streamfield--emerald-bg & {
        #{$root}__shadow,
        #{$root}__inner::after {
            background: $lime;
        }

        #{$root}__inner {
            background: $ink;
        }

        #{$hover} {
            #{$root}__inner {
                background: $lime;
            }

            #{$root}__shadow,
            #{$root}__inner::after {
                background: $ink;
            }
        }
    }

    // still uses a box-shadow and no inner div because it would be complicated to change
    &--search {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        background: $emerald;
        font-weight: $weight--bold;
        line-height: 1;
        margin-left: 5px;
        margin-bottom: 5px;
        position: relative;
        transition: all $transition;
        padding: $gutter-small;
        padding-left: $gutter-medium;
        box-shadow: -5px 5px 0 0 $teal;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 5px;
            margin-top: -2.5px;
            top: 50%;
            left: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background: $teal;
            transition: background $transition;
        }

        #{$hover} {
            background: $teal;
            box-shadow: -5px 5px 0 0 $emerald;

            &::after {
                background: $emerald;
            }
        }

        #{$root}__icon {
            width: 22px;
            height: 22px;
            opacity: 1;
        }
    }

    &--donate-standout {
        @include font-size(m);
    }

    + p {
        &.submit-help-text {
            margin-top: 5px;
            font-weight: $weight--bold;
        }
    }

    // the onetrust cookie button class has some styles that need
    // overriding (the js is tied to the class so we can't remove it)
    // sass-lint:disable-block no-important
    &--onetrust-settings {
        border: 0 !important;
        color: $white !important;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px !important;
        font-weight: 700;
        background: $emerald;
        transition: background $transition;
        font-size: 18px !important;
        margin: 30px 0;

        &:hover {
            background-color: $teal !important;
        }
    }
}

.button-menu-toggle {
    position: relative;
    z-index: 10;
    display: block;
    width: 40px;
    height: 30px;
    margin-top: 5px;
    background: transparent;
    border: 0;
    transform: rotate(0deg);
    transition: $transition;

    &__line {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        background: $color--white;
        opacity: 1;
        transform: rotate(0deg);
        transition: top, width, opacity, transform, left, $transition;

        &:nth-child(1) {
            top: 0;

            .is-open & {
                top: 10px;
                left: 50%;
                width: 0%;
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 12px;
            opacity: 0.25;

            .is-open & {
                opacity: 1;
            }
        }

        &:nth-child(2) {
            .is-open & {
                transform: rotate(45deg);
            }
        }

        &:nth-child(3) {
            .is-open & {
                transform: rotate(-45deg);
            }
        }

        &:nth-child(4) {
            top: 24px;

            .is-open & {
                top: 10px;
                left: 50%;
                width: 0%;
            }
        }
    }
}
