.contents {
    &__title {
        margin-bottom: 10px;
    }

    &__item {
        margin-bottom: 5px;
    }

    &__link {
        font-weight: $weight--bold;
        @include link($ocean, $ink);
        @include underline(transparent, currentColor);

        &--active {
            @include underline($ocean, $ink);
            color: $ocean;
        }
    }
}
