.content-in-box {
    padding: $gutter;
    border: 1px solid $grey-light;
    margin-bottom: $gutter-large;

    @include media-query(tablet-portrait) {
        margin-bottom: $gutter-xxl;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__copy {
        &--no-margin {
            margin: 0;
        }
    }

    &__link {
        text-decoration: underline;
    }
}

