// Styles currency switcher in main form for pay in, and in header for regular donations
.currency-list {
    ul {
        display: flex;
    }

    li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        &:not(:last-of-type) {
            margin-right: 25px;

            .donate-bar__edit & {
                margin-right: 10px;
            }
        }
    }

    label {
        margin-right: 5px;
    }
}
