.donate-landing {
    &__story-cta {
        color: $white;
        z-index: z($z-elements, page);
        padding: 0 $gutter;

        // this is hacky and I'd rather not have to do it
        .story-call-to-action-block {
            margin: 0;
        }

        // this is hacky and I'd rather not have to do it, should just be .button--alt
        .button {
            &__shadow,
            &__inner::after {
                background: $lime;
            }

            #{$hover} {
                .button__inner {
                    background: $lime;
                }

                .button__shadow,
                .button__inner::after {
                    background: $emerald;
                }
            }
        }
    }

    &__examples-heading {
        padding: $gutter 0;
    }

    &__examples {
        margin: $gutter-large 0 $gutter-x-large;
    }

    &__mobile-cta {
        display: none;
        padding-top: $gutter;

        &.is-active {
            display: block;
        }
        
        &--text {
            font-size: $base-font-size;
            padding-top: $gutter / 2;
        }

        &--link {
            @include link;
            padding: $gutter 0;
            font-size: $base-font-size;
            transition: color $transition;
            font-weight: $weight--bold;
        }

    }

    @include media-query--takes-value($breakpoint-tablet-portrait) {
        &__mobile-cta {
            display: none;

            &.is-active {
                display: none;
            }
        }
    }



    &__call-to-donate {
        $local-root: &;

        background-color: rgba($white, 0.9);
        padding: $gutter;
        text-align: center;
        font-weight: $weight--bold;
        transition: transform $transition, background-color $transition;
        transform: translate3d(0, -100%, 0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        #{$hover} {
            background-color: $white;

            #{$local-root}__sticky-link {
                border-color: $color--default;
            }
        }

        .sticky-cta--is-stuck & {
            transform: translate3d(0, 0, 0);
            z-index: z($z-elements, sticky-cta);
        }

        &__sticky-link {
            @include underline($color--link, $color--link-hover);
            margin-left: 1em;
        }

        &__sticky-text {
            color: $color--default;
        }
    }

    &__key-info-text {
        @include font-size(m);
        background-color: $teal;
        padding: $gutter-xxl 0 $gutter-medium;
        text-align: center;
        color: $white;

        &--alt {
            background-color: transparent;
            padding-bottom: $gutter-xxl;

            @include media-query(tablet-landscape) {
                padding-bottom: 0;
            }
        }
    }

    &__key-info-cards {
        background-color: $teal;

        &__grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__card {
            padding: $gutter;
            background-color: $white;
            width: 100%;
            margin-bottom: $gutter;

            &:nth-of-type(2) {
                @include font-size(s);
                order: -1;
            }

            @include media-query(mob-landscape) {
                width: column-width(2, $gutter);

                &:nth-of-type(2) {
                    @include font-size(m);
                    width: 100%;
                    padding: $gutter-medium;
                }
            }

            @include media-query(tablet-portrait) {
                width: column-width(3, $gutter-medium);
                padding: $gutter-medium;
                margin-bottom: 80px; // on cards 1 and 3 to make the height variation

                &:nth-of-type(2) {
                    width: column-width(3, $gutter-medium);
                    margin-bottom: 0;
                    order: 0;
                }
            }

            @include media-query(tablet-landscape) {
                @include font-size(m);
                width: column-width(3, $gutter-large);

                &:nth-of-type(2) {
                    @include font-size(xl);
                    width: column-width(3, $gutter-large);
                }
            }

            @include media-query(desktop) {
                padding: $gutter-large;

                &:nth-of-type(2) {
                    padding: $gutter-large;
                }
            }
        }

        .rich-text {
            @include clear-child-margins;
        }

        b,
        strong {
            color: $amethyst;
        }
    }

    &__text-with-icon {
        align-items: center;
        display: flex;
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
            text-align: left;
        }

        svg:only-child {
            margin: 0 auto;
        }

        p {
            flex: 1;
            margin: $gutter 0 0;

            @include media-query(tablet-landscape) {
                margin: 0 0 0 $gutter;
            }
        }
    }

    &__slider {

        &.is-hidden {
            display: none;
        }
    }

    &__usage {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: $gutter;
        background-color: $off-white;
        padding: $gutter $gutter-small;
        border-left: 1px solid $grey-light;
        border-right: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: -33px; // overlap donate input

        &.is-hidden {
            display: none;
        }

        &::before {
            content: '';
            height: 2px;
            width: 90%;
            background-color: $ink;
            position: absolute;
            top: 0;
        }

        svg {
            width: 50px;
            height: 40px;
            margin-right: $gutter;

            @include media-query(mob-landscape) {
                width: 80px;
                height: 70px;
            }
        }

        p {
            flex: 1;
            margin: 0;
        }
    }
}
