.figure {
    @include margin-streamfield-block;
    margin-left: 0;
    margin-right: 0;
    max-width: 728px;

    &__image {
        width: 100%;
        display: block;
    }

    &--link {
        &:hover {
            filter: brightness(80%);
        }
    }

    &__caption {
        @include font-size(xs);
        color: $grey-text;
        margin-top: $gutter-small;

        > p:last-child {
            margin: 0;
        }

        // reduce width of caption when inside SF
        .text-with-widget & {
            max-width: 350px;
        }
    }

    // When used inside media with quote - full width iteration
    .media-with-quote--full & {
        max-width: 100%;
        margin: 0;
    }

    // Embed on the left iteration
    .media-with-quote--right & {
        max-width: 100%;
        margin: 0;

        @include media-query(desktop) {
            position: relative;
            z-index: 1;
            width: 100%;
            margin: -40px 0 0;
            flex-shrink: 0;
            max-width: 500px;
        }
    }

    // Embed on the right iteration
    .media-with-quote--left & {
        max-width: 100%;
        margin: 0;
    }
}
