.filters {
    $root: &;
    margin-bottom: $gutter-large;
    font-size: 21px;

    @include media-query(mob-landscape) {
        border-bottom: $grey-border;
        padding-bottom: $gutter-large;
    }

    &--rounded {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &--activities {
        margin-bottom: 10px;

        @include media-query(mob-landscape) {
            margin-bottom: $gutter;
            border-bottom: 0;
            padding-bottom: 0;
        }

        #{$root}__form {
            display: block;
        }

        #{$root}__row {
            @include media-query(tablet-portrait) {
                display: flex;
                margin-bottom: $gutter;
            }

            &--top {
                #{$root}__filter-wrapper {
                    @include media-query(tablet-portrait) {
                        width: 50%;
                    }
                }
            }
        }

        #{$root}__filter-wrapper {
            width: 100%;
            align-items: center;

            @include media-query(tablet-portrait) {
                width: auto;
            }
        }

        #{$root}__select {
            color: $ink;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-query(tablet-portrait) {
            flex-wrap: nowrap;
        }
    }

    &__filter-wrapper {
        @include dropdown-wrapper($root);

        display: flex;
        margin-bottom: $gutter-small;
        flex-basis: 100%;

        #{$root}--rounded & {
            width: 100%;
            margin-bottom: 0;
        }

        @include media-query(mob-landscape) {
            width: calc(50% - (0.5 * #{$gutter}));
            flex-basis: auto;
        }

        @include media-query(tablet-portrait) {
            width: auto;
            margin-bottom: 0;
            margin-right: $gutter-small;
            flex: 1 1 10em;

            &:nth-child(2) {
                flex-basis: 11em;
            }

            &:nth-child(3) {
                flex-basis: 9em;
            }

            &:last-child {
                flex: 0 0 auto;
                margin-right: 0;
            }
        }

        @include media-query(tablet-landscape) {
            margin-right: $gutter;
        }
    }

    &__select {
        @include dropdown-select;
        width: 100%;

        // hide select arrow ie11
        // sass-lint:disable no-vendor-prefixes
        &::-ms-expand {
            display: none;
        }
        // sass-lint:enddisable

        #{$root}--rounded & {
            border-left: 0;
            border-radius: 0 5px 5px 0;
            padding-left: 5px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__select-icon-wrapper {
        @include dropdown-select-icon-wrapper;
    }

    &__select-icon {
        @include dropdown-select-icon;
    }

    &__button {
        margin-bottom: 15px;

        @include media-query(tablet-portrait) {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 49px;
        height: 49px;
        border-top: 1px solid $grey-light;
        border-left: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        padding: 7px;

        #{$root}--rounded & {
            background-color: $color--white;
            border-radius: 5px 0 0 5px;
        }

        &--small {
            height: 39px;
        }
    }
}
