.form {
    $root: &;

    &--after-body {
        margin-top: $gutter-xxl;
    }

    &--training-course {
        .accordion--training & {
            display: none;
        }
    }

    &--activity-finder {
        width: 100%;
    }

    &__radio-select {
        display: flex;
        justify-content: start;

        > li {
            margin-right: 2rem;
        }
    }

    &__container {
        margin-bottom: $gutter;

        &--flex {
            @include media-query(tablet-landscape) {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
            }
        }
    }

    &__section {
        &--main-column {
            @include media-query(tablet-landscape) {
                order: -2;
                flex: 1;
            }
        }

        &--full-width {
            flex-basis: 100%;
        }
    }

    &__callout {
        margin-bottom: $gutter;

        // normally abosulutely positioned, but aligned using flex
        // when the next form field needs to clear the callout
        @include media-query(tablet-landscape) {
            position: absolute;
            right: -$gutter-medium;
            top: 0;
            margin-bottom: 0;
        }

        #{$root}__callout-wrapper--clear & {
            @include media-query(tablet-landscape) {
                position: relative;
                right: auto;
                top: auto;
                order: 2;
            }
        }
    }

    &__callout-wrapper {
        position: relative;

        &--clear {
            // should wrap form field as well as form__callout in this case
            @include media-query(tablet-landscape) {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__errors {
        @include font-size(s); // was font-size(epsilon)
        padding: $gutter;
        margin-bottom: $gutter;
        color: $white;
        background-color: darken($hot-pink, 5%);
    }

    &__fieldset {
        border: 0;
        padding: 0;
        margin: 0 0 $gutter;
        min-width: 0;
    }

    // use <h2> for form field titles but make sure the label is accesible
    &__heading {
        &--hidden-label {
            + div > label {
                @include hidden();
            }
        }
    }
}

.mailchimp-form {
    .indicates-required {
        display: none;
    }
}
