.form-item {
    // sass-lint:disable-block class-name-format

    $root: &;

    @include font-size(s);
    margin-bottom: $gutter-medium;

    .page-teaser__giftaid-field & {
        margin-bottom: 0;

        @include media-query(mob-landscape) {
            max-width: 65%;
        }
    }

    // for date widget
    &__fieldset {
        padding: 0;
        border: 0;
        margin: 0;
    }

    label, // labels inside form fields
    &__legend {
        // legend for date widget
        display: flex;
        margin-bottom: $gutter-small;

        // labels we have access to the markup for
        &#{$root}__label {
            display: block;
            margin-bottom: 8px;

            &--checkbox_input {
                margin-bottom: 0;
                font-weight: normal;

                .page-teaser__giftaid-field & {
                    @include font-size(m);
                    font-weight: $weight--bold;
                }
            }
        }
    }

    #{$input--string},
    textarea,
    select {
        @include input-style;
    }

    textarea {
        height: 152px;
    }

    select:not([multiple='multiple']) {
        @include dropdown-select;
        height: 52px;
        width: 100%;
    }

    #{$input--boolean} {
        appearance: none;
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        flex: 0 0 auto;
        width: 18px;
        height: 18px;
        margin-top: 4px;
        margin-right: 10px;
        background-color: $white;
        border: 3px solid $grey-light;

        &:checked {
            background-color: $cerulean;
        }

        .streamfield--dark-bg & {
            border-color: $white;
        }

        @include media-query(mob-landscape) {
            margin-top: 0;
            width: 28px;
            height: 28px;
            border: 5px solid $grey-light;
        }
    }

    input[type='checkbox'] {
        border-radius: 3px;

        @include media-query(mob-landscape) {
            border-radius: 5px;
        }
    }

    input[type='radio'] {
        border-radius: 50%;

        .form--alt & {
            opacity: 0;
            position: absolute;

            + label {
                cursor: pointer;
                padding: 10px 20px;
                border: 2px solid $ocean;
                line-height: 1.2;
                border-radius: 3px;
                text-transform: uppercase;
                font-size: 15px;
                max-width: 300px;
                margin: 0 auto 8px;
            }

            &:checked {
                + label {
                    background-color: $ocean;
                    color: $white;
                }
            }

            // keep focus styles
            &:focus {
                + label {
                    border-color: $teal;
                }
            }
        }
    }

    &__required {
        color: $bubblegum;
    }

    &__errors {
        @include font-size(s);
        margin-bottom: $gutter-large;
        font-weight: bold;
        color: $hot-pink;
    }

    &__help {
        @include font-size(xxs);
        margin-top: 5px;
        color: rgba($color--default, 0.6);
    }

    &__tooltip-wrapper {
        display: flex;
        align-items: center;
    }

    &__wrapper {
        max-width: $input-max-width;

        &--error {
            padding: $gutter;
            margin-bottom: $gutter;
            border: 1px dotted red;
        }

        #{$root}__tooltip-wrapper & {
            width: 100%;
        }

        #{$root}--checkbox_input & {
            display: flex;
        }

        #{$root}--select &,
        #{$root}--lazy_select & {
            @include dropdown-wrapper($root);
        }

        .form__gbp-field-wrapper & {
            @include input--currency;
            display: flex;
            align-items: center;

            &::before {
                line-height: 30px;
            }
        }

        .form__euro-field-wrapper & {
            @include input--currency;
            display: flex;
            align-items: center;

            &::before {
                line-height: 30px;
                content: '€';
            }
        }
    }

    &__date {
        display: flex;

        li {
            margin-right: $gutter;
            width: 80px;

            &:last-child {
                width: 120px;
            }
        }
    }

    &__radio-checkbox {
        position: relative;

        @include media-query(tablet-portrait) {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .form-item--boolean_field & {
            display: flex;
            flex-direction: row;
        }
    }

    &__list {
        @include media-query(tablet-portrait) {
            display: flex;
        }
    }

    &__hint {
        color: rgba($charcoal, 0.7);
    }

    &__select-icon-wrapper {
        @include dropdown-select-icon-wrapper;
    }

    &__select-icon {
        @include dropdown-select-icon;
    }

    &-wrapper {
        &--two-col {
            @supports (display: grid) {
                @include media-query(mob-landscape) {
                    display: grid;
                    grid-gap: $gutter-medium;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        &--group {
            #{$root}:not(:last-child) {
                margin-bottom: $gutter-small;
            }
        }

        &--radio-select-inline {
            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 2em;
                }
            }

            // targets mobile_number field amongst contact prefs
            .form-item__wrapper {
                max-width: 390px;
            }
        }
    }

    &--errors {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px dotted red;
    }

    &--hidden_input {
        display: none;
    }

    &--gender-reveal {
        margin: 0;

        #{$root}--text_input {
            display: none;
        }

        &.reveal-gender-input {
            #{$root}--text_input {
                display: block;
            }
        }
    }
}
