.grid {
    $root: &;
    display: flex;
    flex-wrap: wrap;

    > * {
        flex-basis: calc(100% - 20px);
        margin-bottom: 10px;

        @include media-query(mob-landscape) {
            margin: 10px;
            flex-basis: calc(50% - 20px);
        }

        @include media-query(tablet-landscape) {
            flex-basis: calc(33.3% - 20px);
        }
    }

    &--subnav,
    &--subnav-top,
    &--subnav-bottom {
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
        }

        > * {
            flex-basis: auto;

            @include media-query($menu-breakpoint) {
                flex-basis: calc(50% - 20px);
            }
        }
    }

    &--2col,
    &--tabccordion-image {
        > * {
            @include media-query(tablet-landscape) {
                flex-basis: calc(50% - 20px);
            }
        }
    }

    &--3col {
        > * {
            @include media-query(tablet-landscape) {
                flex-basis: calc(33.3% - 40px);
                margin: 0 20px;
            }
        }

        > #{$root}__double-width {
            flex-basis: 100%;
            margin: 0;

            @include media-query(tablet-landscape) {
                flex-basis: calc(66.6% - 20px);
            }
        }
    }

    &--4col {
        > * {
            @include media-query(tablet-landscape) {
                flex-basis: calc(25% - 20px);
            }
        }
    }

    &--narrow {
        text-align: center;

        @include media-query(tablet-portrait) {
            text-align: left;
        }
    }

    &--website-footer-ctas {
        justify-content: space-around;

        @include media-query(tablet-portrait) {
            margin: 0 -20px;
            justify-content: flex-start;
        }

        > * {
            width: 100%;
            margin: 0 0 20px;

            @include media-query(mob-landscape) {
                flex-basis: auto;
            }

            @include media-query(tablet-portrait) {
                width: auto;
                flex-basis: calc(50% - 120px);
                margin: 0 20px;
            }

            @include media-query(desktop) {
                flex-basis: calc(33.3% - 120px);
            }
        }
    }

    &--subnav {
        margin: 0;

        > * {
            margin: 0;

            @include media-query($menu-breakpoint) {
                margin: 10px;
            }
        }

        > li:first-child,
        > li:nth-child(2) {
            flex: 1;
        }
    }

    &--subnav-top {
        margin-bottom: $gutter;
    }

    &--subnav-bottom {
        padding-top: $gutter-small;

        @include media-query($menu-breakpoint) {
            padding-top: $gutter;
        }
    }

    &--homepage-support {
        margin: 0;

        > * {
            margin: 10px 0 0;
            flex-basis: 100%;

            @include media-query(mob-landscape) {
                flex-basis: calc(50% - 20px);
                margin: 20px 10px 0;
            }
            @include media-query(tablet-portrait) {
                flex-basis: 100%;
                margin: 10px 0 0;
            }
            @include media-query(tablet-landscape) {
                flex-basis: calc(50% - 20px);
                margin: 20px 10px 0;
            }
            @include media-query(desktop) {
                flex-basis: calc(50% - 40px);
                margin: 20px;
            }
        }
    }


    @supports (display: grid) {
        margin: $gutter-large 0;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));

        @include media-query(tablet-portrait) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        &--no-margin {
            margin: 0 auto;
        }

        &--margin-bottom {
            margin-top: 0;
            margin-bottom: $gutter-large;
        }

        &--2col {
            grid-gap: $gutter-large;
            grid-template-columns: 1fr;

            @include media-query(mob-landscape) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: $gutter-medium;
            }

            @include media-query(tablet-landscape) {
                grid-gap: $gutter-large;
            }
        }

        &--3col {
            grid-gap: $gutter-large;
            grid-template-columns: 1fr;

            @include media-query(mob-landscape) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: $gutter-medium;
            }

            @include media-query(tablet-landscape) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: $gutter-large;
            }

            > #{$root}__double-width {
                grid-column-start: 1;
                grid-column-end: 4;

                @include media-query(tablet-landscape) {
                    grid-column-end: 3;
                }
            }
        }

        &--4col {
            grid-gap: $gutter-large;
            grid-template-columns: 1fr;

            @include media-query(mob-landscape) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-query(tablet-portrait) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include media-query(tablet-landscape) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &--large-gutters {
            @include media-query(desktop) {
                grid-gap: $gutter-large * 2;
            }
        }

        > * {
            flex-basis: initial;
            margin: 0;
        }

        &--narrow {
            justify-content: center;
            text-align: center;
            grid-template-columns: repeat(auto-fit, minmax(200px, 200px));

            @include media-query(tablet-portrait) {
                justify-content: flex-start;
                text-align: left;
            }
        }

        &--subnav {
            margin: 0;
            display: block;

            @include media-query($menu-breakpoint) {
                display: grid;
                grid-gap: $gutter-medium;
                // grid-template-columns: 0.5fr 0.7fr 0.5fr;
                grid-template-columns: 1fr 1fr 0.5fr;
            }

            > * {
                margin: 0;
            }
        }

        &--subnav-top {
            margin: 0;
            display: block;

            @include media-query($menu-breakpoint) {
                display: grid;
                margin: $gutter-medium 0;
                grid-row-gap: $gutter-small;
            }

            @include media-query(desktop) {
                margin: $gutter-large 0;
                grid-gap: $gutter-medium;
            }
        }

        &--subnav-bottom {
            margin: 0;
            display: block;
            max-width: $wrapper--small;

            @include media-query($menu-breakpoint) {
                display: grid;
                padding-top: $gutter-medium;
            }
        }

        &--website-footer-ctas {
            grid-gap: $gutter-large;
            grid-template-columns: 1fr;
            justify-items: center;

            @include media-query(tablet-portrait) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: $gutter-medium;
                max-width: $wrapper--small;
            }

            @include media-query(desktop) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: $gutter-large;
                max-width: none;
            }
        }

        &--tabccordion-image {
            grid-gap: $gutter-large;
            grid-template-columns: 1fr;

            @include media-query(tablet-portrait) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &--homepage-support {
            margin: 0;
            grid-template-columns: 1fr;
            grid-gap: $gutter-small;

            @include media-query(mob-landscape) {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: $gutter;
            }

            @include media-query(tablet-portrait) {
                grid-template-columns: 1fr;
                grid-gap: $gutter-small;
            }

            @include media-query(tablet-landscape) {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: $gutter;
            }

            @include media-query(desktop) {
                grid-gap: $gutter-large;
            }
        }
	}
}
