.header-nav {
    background-color: $ink;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: z($z-elements, header-menu);
    right: 0;
    bottom: 0;
    transform: translate3d(-100%, 0, 0);
    height: 100%;
    overflow-x: scroll;

    // removed and re-added in mobile-menu.js to prevent flash on window resize
    &.js-header-nav--is-animated {
        transition: transform $transition;
    }

    @include media-query($menu-breakpoint) {
        position: relative;
        background-color: $teal;
        transform: translate3d(0, 0, 0);
        height: auto;
        overflow-x: visible;
    }

    .mob-nav-open & {
        transform: translate3d(0, 0, 0);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px;

        @include media-query($menu-breakpoint) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: $header-nav-height;
            padding: 0;
        }
    }

    &--transparent {
        @include media-query($menu-breakpoint) {
            z-index: z($z-elements, header-menu);
            margin-bottom: -$header-nav-height;
            background-color: rgba($ink, 0.85);
            transition: background-color $transition;
        }
    }
}
