.hero-widget {
    $root: &;

    @include corner($lime, top, left, $width: 60%, $height: 160px, $offset: 7px, $selector: '&__corner');
    max-width: 533px;
    margin: 0 auto $gutter-medium;

    &:last-child {
        margin-bottom: 0;
    }

    @include media-query(mob-landscape) {
        @include corner($lime, top, left, $width: 60%, $height: 170px, $offset: 10px, $selector: '&__corner');
    }

    @include media-query(tablet-portrait) {
        max-width: 365px;
        margin-left: 0;

        .hero__inner--video & {
            flex: 0 0 60%;
        }
    }

    @include media-query(tablet-landscape) {
        max-width: 625px;
        margin-bottom: 0;
        margin-left: $gutter-xxl;

        .hero__inner--video & {
            flex: 0 0 50%;
        }
    }

    &__corner {
        z-index: z($z-elements, corner);
    }

    &__inner {
        padding: $gutter;
        position: relative;
        z-index: z($z-elements, card);
        background-color: rgba($white, 0.95);

        @include media-query(mob-landscape) {
            padding: $gutter-large;
        }

        @include media-query(tablet-landscape) {
            padding: $gutter-xxl;
        }
    }

    &__content {
        max-width: 425px;
    }

    &__connectors {
        @include connectors($lime, top, left, card);

        @include media-query(mob-landscape) {
            @include connectors($lime, top, left, medium);
        }
    }

    &__heading {
        @include font-size(xl);
        margin-bottom: $gutter-small;

        @include media-query(tablet-landscape) {
            line-height: 44px;
            font-size: 40px;
        }
    }

    &__button-group {
        margin-bottom: $gutter-medium;
    }

    &--donate-landing {
        @include media-query(tablet-landscape) {
            width: calc(65% - #{$gutter-xxl + $gutter-medium}); //
        }

        #{$root}__inner {
            background-color: rgba($white, 0.9);
        }
    }

    &__video-container {
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;

        @include media-query(tablet-portrait) {
            flex: 1 0 50%;
        }

        @include media-query(tablet-landscape) {
            flex: 0 0 50%;
        }
    }

    &__video-link {
        align-items: center;
        border: 3px solid rgba($color--white, 0.5);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-bottom: -$gutter;
        padding: $gutter-large;
        position: relative;
        width: 100%;
        transition: background-color $transition;

        @include media-query(tablet-portrait) {
            height: 80%;
            margin-left: -$gutter;
            padding: 0;
        }

        &:hover {
            background-color: rgba($color--white, 0.1);

            #{$root}__video-copy::before {
                transform: scale(1.1);
            }
        }
    }

    &__video-copy {
        color: $color--white;

        @include media-query(tablet-portrait) {
            width: 50%;
        }

        &::before {
            content: "";
            display: block;
            width: 69px;
            height: 64px;
            margin: 0 auto $gutter-small;
            background-image: url('../images/play-button-green.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transform: scale(1);
            transition: transform $transition;
        }
    }
}
