.donate-landing-hero {
    $root: &;

    &__image {
        &--mobile {
            display: block;
            position: relative;
        }

        &--desktop {
            @media only screen and (max-width: 767px) {
                background-image: none !important;
                display: none;
            }
        }

        @include media-query(tablet-portrait) {
            &--desktop {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                filter: brightness(70%);
                background-color: $color--default;
                background-position: center;
                background-size: cover;
            }

            &--mobile {
                display: none;
            }
        }
    }

    &__title {
        @include hidden;
    }

    &__form-input {
        .form-item__required {
            display: none;
        }

        .form-item__wrapper {
            @include input--currency;
            padding: 10px 15px;

            #{$input--string} {
                font-size: 22px;
            }

            &::before {
                @include font-size(xl);
                margin-right: 10px;
            }

            &--euro {
                @include input--currency;
                padding: 10px 15px;

                #{$input--string} {
                    font-size: 22px;
                }

                &::before {
                    @include font-size(xl);
                    margin-right: 10px;
                    content: "€";
                }
            }

        }

        &--monthly .form-item__wrapper::after { // sass-lint:disable-line force-element-nesting
            content: 'per month';
            display: inline-block;
            margin-left: 10px;
        }

        .hero-widget--slider & {
            // We need to override
            // without altering models as part of a A/B test
            background-color: transparent;

            .form-item__label {
                display: none;
            }

            .form-item__wrapper {
                background-color: #f4f7f8;
                border-bottom: 3px solid $teal;
                border-radius: 0;
                margin-top: 5px;
                padding-left: 10px;
                padding-bottom: 5px;
            }

            input:not([type="checkbox"]):not([type="radio"]),
            textarea,
            select {
                background-color: transparent;
            }
        }
    }

    &__text {
        @include clear-child-margins;
        margin: 0 auto 10px;
        max-width: 360px;
        color: $grey-on-photo;

        @include media-query(mob-landscape) {
            margin: 0;
            max-width: $wrapper--smaller;
        }

        @include media-query(tablet-landscape) {
            @include font-size(xl);
            align-self: flex-end;
            width: calc(35% - #{$gutter-medium});
        }
    }

    &__text-heading {
        color: $white;
    }

    &__donate-button {
        @include media-query(mob-landscape) {
            margin-top: $gutter;
        }
    }

    &__pay-in-link {
        @include link($white, rgba($white, 0.7));
        padding: $gutter 0;
        display: flex;
        align-items: center;

        @include media-query(tablet-landscape) {
            padding: 0;
            height:         80px;
            margin-bottom: -80px;
        }
    }

    &__pay-in-text {
        @include underline;
        margin-left: 1em;
        font-weight: $weight--bold;
    }
}
