.hero-widget {
    $root: &;

    @include corner(
        $lime,
        top,
        left,
        $width: 60%,
        $height: 160px,
        $offset: 7px,
        $selector: '&__corner'
    );
    max-width: 533px;
    margin: 0 auto $gutter-medium;

    &:last-child {
        margin-bottom: 0;
    }

    @include media-query(mob-landscape) {
        @include corner(
            $lime,
            top,
            left,
            $width: 60%,
            $height: 170px,
            $offset: 10px,
            $selector: '&__corner'
        );
    }

    @include media-query(tablet-portrait) {
        //max-width: 365px;
        margin-left: 0;

        .hero__inner--video & {
            flex: 0 0 60%;
        }
    }

    @include media-query(tablet-landscape) {
        max-width: 625px;
        margin-bottom: 0;
        margin-left: $gutter-xxl;

        .hero__inner--video & {
            flex: 0 0 50%;
        }
    }

    &__corner {
        z-index: z($z-elements, corner);
    }

    &__inner {
        padding: $gutter;
        position: relative;
        z-index: z($z-elements, card);
        background-color: rgba($white, 0.95);

        @include media-query(mob-landscape) {
            padding: $gutter-large;
        }

        @include media-query(tablet-landscape) {
            padding: $gutter-xxl;
        }
    }

    &__content {
        max-width: 425px;
    }

    &__connectors {
        @include connectors($lime, top, left, card);

        @include media-query(mob-landscape) {
            @include connectors($lime, top, left, medium);
        }
    }

    &__heading-wrapper {
        display: flex;
        justify-content: space-between;

        img {
            align-self: flex-start;
            max-width: 100px;

            @include media-query(tablet-landscape) {
                max-width: 100%;
            }
        }
    }

    &__heading {
        @include font-size(xl);
        margin-bottom: $gutter-small;
        margin-right: $gutter;

        @include media-query(tablet-landscape) {
            line-height: 44px;
            font-size: 40px;
        }
    }

    &__button-group {
        margin-bottom: $gutter-medium;
    }

    &--donate-landing {
        @include media-query(tablet-landscape) {
            width: calc(65% - #{$gutter-xxl + $gutter-medium}); //
        }

        #{$root}__inner {
            background-color: rgba($white, 0.9);
        }
    }

    &__video-container {
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        max-width: 533px;
        width: 100%;

        @include media-query(tablet-portrait) {
            flex: 1 0 50%;
            margin: 0;
            max-width: 100%;
        }

        @include media-query(tablet-landscape) {
            flex: 0 0 50%;
        }
    }

    &__video-link {
        align-items: center;
        background-color: $teal;
        border: 5px solid rgba($color--white, 0.5);
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: $gutter-large;
        position: relative;
        width: 100%;
        transition: background-color $transition;

        @include media-query(tablet-portrait) {
            background-color: transparent;
            height: 80%;
            border-bottom: 5px solid rgba($color--white, 0.5);
            border-left: 0;
            padding: 0;
            margin-top: 0;
        }

        &:hover {
            background-color: rgba($color--white, 0.1);

            #{$root}__video-copy::before {
                transform: scale(1.1);
            }
        }
    }

    &__video-copy {
        color: $color--white;

        @include media-query(tablet-portrait) {
            width: 50%;
        }

        &::before {
            content: '';
            display: block;
            width: 69px;
            height: 64px;
            margin: 0 auto $gutter-small;
            background-image: url('../images/cssBackgrounds/play-button-green.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transform: scale(1);
            transition: transform $transition;
        }
    }

    &__button-set {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;

        @include media-query(tablet-portrait) {
            display: grid;
        }

        // layout variation depending on number of buttons (max 4)
        // will only take effect when display is grid
        &--2 {
            grid-template-columns: 1fr 1fr;
        }

        &--3 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &--4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &__button {
        background-color: white;
        color: $ink;
        padding: 10px;
        border: 4px solid $grey-light;
        border-radius: 6px;
        font-weight: $weight--bold;
        flex: 1;

        &.selected {
            color: $white;
            background-color: $ink;
        }
    }

    &__usage {
        @include font-size('xs');
        margin-top: $gutter;
    }

    &--buttons,
    &--slider {
        @include media-query(tablet-landscape) {
            width: calc(65% - #{$gutter-xxl * 2}); //
        }
    }

    &--thankyou {
        height: 100%;
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
        z-index: 1;

        @include media-query(tablet-landscape) {
            width: 90%;
            max-width: 90%;
        }

        @include media-query(desktop) {
            max-width: 1200px;
        }

        #{$root}__video-link {
            padding: 40px 10px 10px;
            border-left: 5px solid rgba($color--white, 0.5);
            background-color: transparent;

            @include media-query(tablet-landscape) {
                justify-content: flex-start;
                border-bottom: 5px solid rgba($color--white, 0.5);
            }
        }

        #{$root}__video-copy {
            max-width: 400px;
        }

        #{$root}__video-container {
            height: 100%;

            @include media-query(tablet-landscape) {
                height: 360px;
            }

            @include media-query(desktop) {
                height: 500px;
                justify-content: flex-start;
            }
        }
    }
}
