.hero {
    $root: &;
    $hero-image-offset--tablet-landscape: $gutter-medium;
    $hero-image-offset--desktop: $gutter-xxl;
    $hero-image-offset--desktop-medium: $section-overlap;

    background-color: $teal;
    position: relative;
    padding: $gutter-medium 0;
    width: 100%;
    z-index: z($z-elements, hero);

    @include media-query(tablet-landscape) {
        padding: $gutter-xxl 0 $section-overlap;
        min-height: 440px;
    }

    &--breadcrumb {
        padding-top: $gutter-medium;
    }

    &--short {
        padding-bottom: $gutter-small;

        @include media-query(tablet-landscape) {
            padding-bottom: $section-overlap;
            min-height: auto;
        }
    }

    &--emerald {
        background: $emerald;
    }

    &--services {
        @include media-query(tablet-landscape) {
            padding-bottom: $gutter-xxl;
        }
    }

    &__wrapper {
        #{$root}--with-image & {
            @include media-query(tablet-landscape) {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__inner {
        margin-top: -$gutter-xxl;
        position: relative;
        z-index: z($z-elements, hero-inner);

        @include media-query(tablet-portrait) {
            margin-top: 0;
        }

        .template-404 & {
            display: flex;
            align-items: center;
        }

        #{$root}--with-image & {
            @include media-query(tablet-landscape) {
                padding-bottom: $section-overlap--hero-with-image;
            }
        }

        &--video {
            @include media-query(tablet-portrait) {
                justify-content: flex-start;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }

    &__title {
        color: $white;
        line-height: 1.15;
        max-width: $wrapper--smaller;
        margin-top: $gutter-x-large;
        position: relative;

        @include media-query(tablet-portrait) {
            margin-bottom: $gutter-xxl;
            margin-top: 0;
        }

        #{$root}--short &,
        #{$root}--with-image & {
            margin-bottom: 0;

            @include media-query(tablet-portrait) {
                margin-bottom: $gutter-large;
            }
        }

        #{$root}--services & {
            @include media-query(tablet-portrait) {
                margin-bottom: $gutter;
            }
        }
    }

    &__subtitle {
        color: $white;
        max-width: $wrapper--medium - (2 * $gutter-xxl);
    }

    // image sizing and positioning.
    &__image {
        width: calc(100% + #{2 * $gutter});
        height: 56vw;
        max-height: 80vh;
        margin: $gutter (-$gutter) 0;
        background-position: center;
        background-size: cover;

        @include media-query(tablet-portrait) {
            width: calc(100% + #{2 * $gutter-medium});
            margin: $gutter (-$gutter-medium) 0;
        }

        @include media-query(tablet-landscape) {
            align-self: flex-end;
            position: relative;
            flex: 0 0 50%;
            height: calc(100% + #{$gutter-small});
            max-height: 380px;
            margin: 0 (-$hero-image-offset--tablet-landscape) (-$gutter-small) $gutter;
        }

        @include media-query(desktop) {
            margin-right: -$hero-image-offset--desktop;
            margin-left: $gutter-medium;
        }

        @include media-query(desktop-medium) {
            height: calc(100% - #{$gutter-large - $gutter});
            margin-right: -$hero-image-offset--desktop-medium;
        }
    }

    &__search {
        background: $white;
        padding: $gutter;

        @include media-query(tablet-portrait) {
            @include connectors($teal, top, left, medium);
            max-width: 968px;
            padding: $gutter-large $gutter-xxl;
            position: relative;
        }
    }

    &__pattern-wrapper {
        @include pattern();
        position: absolute;
        top: 0;
        height: 100%;
        width: 70%;
        max-width: 212px;
        right: -5px;

        @include media-query(mob-landscape) {
            width: 45%;
            max-width: 350px;
        }

        @include media-query(tablet-portrait) {
            max-width: none;
            width: 100%;
            right: 0;
        }

        #{$root}--emerald & {
            @include pattern($opacity: 1);
            position: absolute;
            z-index: z($z-elements, hero);
        }

        .pattern {
            bottom: calc(100% - #{$gutter-x-large});
            left: 0;

            @include media-query(mob-landscape) {
                bottom: calc(100% - #{$gutter-xxl});
            }

            @include media-query(tablet-portrait) {
                top: auto;
                bottom: -510px;
                right: auto;
                left: 40%;
                width: 600px;
            }

            @include media-query(tablet-landscape) {
                top: 45%;
                right: -12px;
                bottom: auto;
                left: auto;
            }

            #{$root}--with-image & {
                // These offsets would put the pattern in the right place if the right-hand edge of the image were aligned with the right-hand edge of $wrapper-large. They are then adjusted at each breakpoint by the amount that the image is offset from that position.
                $pattern-offset--from-right: 130px;
                $pattern-offset--from-center: (0.5 * $site-width) - $pattern-offset--from-right;

                @include media-query(tablet-landscape) {
                    top: auto;
                    right: auto;
                    bottom: -330px;
                    left: calc(100% - #{$pattern-offset--from-right} + #{$hero-image-offset--tablet-landscape});
                    width: 500px;
                }

                // At this point, the page width is constant rather than being based on the viewpoint width, so the offset is from the center of the page.
                @include media-query--takes-value(
                    $breakpoint-desktop - $gutter-large
                ) {
                    left: calc(
                        50% + #{$pattern-offset--from-center + $hero-image-offset--tablet-landscape}
                    );
                }

                @include media-query(desktop) {
                    left: calc(
                        50% + #{$pattern-offset--from-center + $hero-image-offset--desktop}
                    );
                }

                @include media-query(desktop-medium) {
                    left: calc(
                        50% + #{$pattern-offset--from-center + $hero-image-offset--desktop-medium}
                    );
                }
            }

            #{$root}--image-background & {
                @include media-query(desktop) {
                    top: auto;
                    bottom: -380px;
                }
            }
        }

        &--bottom {
            .pattern {
                top: 30%;

                @include media-query(tablet-landscape) {
                    top: 45%;
                }
            }
        }
    }

    &--with-image {
        padding-bottom: 0;
        display: flex;

        @include media-query(tablet-landscape) {
            min-height: 380px;
        }
    }

    &--image-background {
        background-color: $spearmint;
        background-size: cover;
        background-position: center;
        height: 170px;

        @include media-query(tablet-landscape) {
            height: 170px + $section-overlap;
            margin-bottom: -$section-overlap;
        }

        @include media-query(desktop) {
            height: 800px;
            margin-bottom: -440px;
        }

        .pattern {
            fill: $white;
            opacity: 0.2;
        }

        &.thankyou {
            height: 295px;
            padding-bottom: 0;

            @include media-query(tablet-landscape) {
                height: 170px + $section-overlap;
            }

            @include media-query(desktop) {
                height: 800px;
            }
        }

    }

    &--donate-landing,
    &--image-background {
        &.stack-on-top {
            z-index: z($z-elements, modal);
        }
    }

    &--search {
        min-height: 0;
    }

    &--homepage {
        padding: $gutter-medium 0;

        @include media-query(mob-landscape) {
            padding-bottom: $gutter-xxl;
        }

        @include media-query(tablet-landscape) {
            padding: $gutter-xxl 0 $section-overlap;
        }
    }

    // see also shared styles with &--homepage
    &--donate-landing {
        padding-top: 0;
        padding-bottom: $gutter;

        @include media-query(tablet-portrait) {
            padding: $gutter-xxl 0;
        }

        @include media-query(tablet-landscape) {
            padding-top: $section-overlap;
            padding-bottom: $section-overlap + $gutter-xxl;
        }
    }

    &--landing-page {
        background-color: $color--secondary;
        padding: 0;

        @include media-query(tablet-portrait) {
            padding: ($gutter-xxl * 4) 0 $gutter;

            h1 {
                line-height: 1.2;
            }
        }

        @include media-query(tablet-landscape) {
            padding-top: ($gutter-xxl * 2.5);
        }

        @include target-ie11 {
            h1 {
                width: 100%;
            }
        }
    }
}
