.highlight {
    $root: &;
    @include margin-streamfield-block;
    position: relative;
    padding: $gutter $gutter-medium;

    @include media-query(tablet-portrait) {
        padding: $gutter-xxl;
    }

    &--purple {
        @include corner($emerald, bottom, right, 80%, 30%, 10px);
        background-color: $amethyst;

        @include media-query(tablet-portrait) {
            @include corner($emerald, bottom, right, 430px, 30%, 10px);
        }

        #{$root}__connectors {
            @include connectors($emerald, bottom, right, medium);
        }

        #{$root}__content {
            color: $white;
        }

        .rich-text {
            ol li::before {
                color: $sunflower;
            }

            ul li::before {
                background: $sunflower;
            }

            a {
                color: $white;
                box-shadow: inset 0 -2px currentColor;
            }
        }
    }

    &--grey {
        background: $off-white;

        // connectors don't show in the grey version
        #{$root}__connectors {
            display: none;
        }

        .rich-text {
            a {
                color: $teal-dark;
                box-shadow: inset 0 -2px currentColor;
            }
        }
    }

    &__icon {
        display: none;
        width: 40px;
        height: 50px;
        position: absolute;
        top: 5px;
        left: -23px;

        // icon sits bottom right in the grey variant
        #{$root}--grey & {
            top: auto;
            left: auto;
            bottom: -5px;
            right: -23px;
            // ensure that the icon overlays the page corners if the highlight is the last item on the page
            z-index: 1;
        }

        @include media-query(mob-landscape) {
            display: block;
        }

        @include media-query(tablet-portrait) {
            width: 80px;
            height: 100px;
            left: -40px;

            // icon sits bottom right in the grey variant
            #{$root}--grey & {
                left: auto;
                right: -40px;
            }
        }
    }

    &__title {
        @include font-size(default);
        text-transform: uppercase;
        display: inline-block;
    }

    &__content {
        @include font-size(s);
        line-height: 1.4;

        @include media-query(tablet-portrait) {
            font-size: $base-font-size;
        }

        .rich-text {
            ul,
            ol {
                margin-left: 0;
            }
        }
    }

    &__button {
        margin-top: $gutter;
    }
}
