.highlight {
    $root: &;
    @include margin-streamfield-block;
    position: relative;
    background: $page-bg;
    padding: $gutter $gutter-medium;

    @include media-query(tablet-portrait) {
        padding: $gutter-xxl;
    }

    &--note {
        @include corner($emerald, bottom, right, 80%, 30%, 10px);

        @include media-query(tablet-portrait) {
            @include corner($emerald, bottom, right, 430px, 30%, 10px);
        }

        #{$root}__connectors {
            @include connectors($emerald, bottom, right, medium);
        }
    }

    &--tip {
        @include corner($sunflower, bottom, right, 80%, 30%, 10px);

        @include media-query(tablet-portrait) {
            @include corner($sunflower, bottom, right, 430px, 30%, 10px);
        }

        #{$root}__connectors {
            @include connectors($sunflower, bottom, right, medium);
        }
    }

    &--warning {
        @include corner($pumpkin, bottom, right, 80%, 30%, 10px);

        @include media-query(tablet-portrait) {
            @include corner($pumpkin, bottom, right, 430px, 30%, 10px);
        }

        #{$root} {
            &__connectors {
                @include connectors($pumpkin, bottom, right, medium);
            }

            &__icon {
                width: 50px;
                height: 40px;

                @include media-query(tablet-portrait) {
                    width: 100px;
                    height: 80px;
                }
            }
        }
    }

    &--cta {
        @include corner($emerald, bottom, right, 80%, 30%, 10px);
        background-color: $amethyst;

        @include media-query(tablet-portrait) {
            @include corner($emerald, bottom, right, 430px, 30%, 10px);
        }

        #{$root}__connectors {
            @include connectors($emerald, bottom, right, medium);
        }

        #{$root}__content {
            color: $white;
        }

        .rich-text {
            ol li::before {
                color: $sunflower;
            }

            ul li::before {
                background: $sunflower;
            }

            a {
                color: $white;
                box-shadow: inset 0 -2px currentColor;
            }
        }

    }

    &__icon {
        display: none;
        width: 40px;
        height: 50px;
        position: absolute;
        top: 5px;
        left: -23px;

        @include media-query(mob-landscape) {
            display: block;
        }

        @include media-query(tablet-portrait) {
            width: 80px;
            height: 100px;
            left: -40px;
        }
    }

    &__title {
        @include font-size(default);
        text-transform: uppercase;
        display: inline-block;
    }

    &__content {
        @include font-size(s);
        line-height: 1.4;

        @include media-query(tablet-portrait) {
            font-size: $base-font-size;
        }

        .rich-text {
            ul,
            ol {
                margin-left: 0;
            }
        }
    }

    &__button {
        margin-top: $gutter;
    }
}
