.impact-block {
    $root: &;
    $background-color: rgba($amethyst, 0.9);
    $corner-offset: $gutter-large;

    &__image-section {
        position: relative;

        .section--landing-page-light-bg & {
            @include page-child-negative-margin--vertical(top);
            @include page-child-negative-margin--horizontal(left);
            @include page-child-negative-margin--horizontal(right);
        }
    }

    &__heading {
        padding: $gutter-small;
        color: $white;
        background-color: $amethyst;

        @include media-query(tablet-portrait) {
            position: absolute;
            left: 0;
            bottom: $gutter-large;
            padding: $gutter-small ($gutter-xxl - $corner-offset + 5px) $gutter-small $gutter-xxl;
            background-color: $background-color;
        }
    }

    &__heading-corner-padding-filler {
        position: absolute;
        top: 0;
        height: 100%;
        left: 100%;
        width: $corner-offset;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: $corner-offset;
            left: 0;
            width: 100%;
            background-color: $background-color;
        }
    }

    &__heading-corner {
        position: absolute;
        bottom: 0;
        left: 100%;
        height: $corner-offset;
        width: $corner-offset;
        overflow: hidden;
    }

    &__heading-corner-image {
        position: absolute;
        left: 0;
        bottom: 0;
        fill: $background-color;
    }

    &__content {
        .streamfield--dark-bg & {
            @include section--page;
            background-color: $white;

            @include media-query($page-connectors-breakpoint) {
                #{$root}__connectors {
                    @include connectors($amethyst, bottom, left, page);
                }

                #{$root}__connectors--extra {
                    @include connectors($amethyst, bottom, right, page);
                }
            }
        }
    }
}
