.language-switcher {
    color: $white;
    margin-bottom: $gutter;
    display: flex;

    &__item {
        @include font-size(m);
        display: flex;

        &:not(:last-child)::after {
            content: '|';
            margin: 0 0.5em;
        }
    }

    &__active {
        @include underline(transparent, transparent);
        font-weight: $weight--bold;
    }

    &__link {
        @include link(currentColor, $white);
        @include underline(transparent, currentColor);
    }
}
