.list-inline-bulleted {
    $root: &;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;

    &__item:not(:last-child)::after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: $lime;
        margin: 0 8px 0.4em;
        opacity: 0.7;
        display: inline-block;
        vertical-align: middle;

        #{$root}--featured-listing & {
            background: $white;
        }
    }

    &__item-with-icon {
        @include font-size(xxs);
        font-weight: $weight--bold;
        display: flex;
        margin-bottom: 15px;
        width: 100%;

        @include media-query(mob-landscape) {
            margin-right: 15px;
            width: auto;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &--featured-listing {
        @include font-size(s);
    }
}
