.list-pull-out-block {
    margin: $gutter-large;
    padding: $gutter-large;
    margin-left: 0;
    border: 1px solid $grey-light;

    &__list-item {
        display: flex;
        margin-bottom: $gutter * 0.5;
    }

    &__icon {
        fill: $amethyst;
        height: $icon-size--medium;
        width: $icon-size--medium;
        margin-right: $gutter;
        margin-top: $gutter * 0.25;
    }

    // ensure the icon doesn't get squashed
    &__text {
        flex: 1;
    }
}
