.locale-switcher {
    $root: &;

    @include media-query(tablet-portrait) {
        display: flex;
        align-items: center;
    }

    &__wrapper {
        height: 50px;
        position: relative;
        margin-bottom: $gutter-small;

        @include media-query(mob-landscape) {
            width: 281px;
        }

        @include media-query(tablet-portrait) {
            margin-right: $gutter;
            margin-bottom: 0;
        }
    }

    &__dropdown {
        @include dropdown-select;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: auto;
        z-index: z($z-elements, footer-dropdown);
    }

    &__item {
        display: none;

        &--active {
            @include dropdown-wrapper($root);
            display: block;
            order: -1;
            position: relative;
        }

        #{$root} .is-toggle-active & { // sass-lint:disable-line force-element-nesting
            display: block;

            &--active {
                border-bottom: 1px solid $grey-light;
            }
        }
    }

    &__link {
        display: block;
        padding: 10px 65px 10px 15px;
        width: 100%;
        text-align: left;
        color: inherit;
        transition: color $transition, background-color $transition;

        #{$hover} {
            color: $white;
            background-color: $color--link;

            #{$root}__item--active & {
                background-color: $white;
                color: inherit;
            }
        }
    }

    &__icon-wrapper {
        @include dropdown-select-icon-wrapper;
    }

    &__icon {
        @include dropdown-select-icon;
    }

    &__message {
        @include media-query(tablet-portrait) {
            margin-bottom: 0;
        }
    }
}
