.media-with-quote {
    $root: &;
    margin: 40px 0;

    // media left / quote right
    &--right {
        @include media-query(desktop) {
            display: flex;
            align-items: flex-start;
            margin: 80px -100px;
        }

        #{$root}__image {
            width: 100%;

            @include media-query(desktop) {
                max-width: 460px;
                position: relative;
                z-index: 1;
                margin: -40px 0 0;
            }
        }
    }

    // media right / quote left
    &--left {
        display: flex;
        flex-direction: column-reverse;

        @include media-query(desktop) {
            flex-direction: row-reverse;
            margin: 80px -100px 80px 0;
        }

        #{$root}__image {
            width: 100%;
        }

        #{$root}__image-wrap {
            @include corner($plum, bottom, right, $width: 40%, $height: 30%);
            flex-shrink: 0;

            @include media-query(desktop) {
                max-width: 580px;
                max-height: 340px;
            }
        }
    }
}
