.page-teaser {
    $root: &;

    @include corner($lime, bottom, right, 150px, 150px, 7px, '&::before', 0);
    position: relative;
    margin: $gutter-xxl 0;

    @include media-query(tablet-portrait) {
        @include corner($lime, bottom, right, 360px, 190px, 7px, '&::before', 0);
    }

    @include media-query(tablet-landscape) {
        max-width: $wrapper--small;
    }

    &--with-image {
        max-width: 100%;
        display: flex;
        flex-direction: column;

        @include media-query(tablet-portrait) {
            flex-direction: row;
        }

        #{$root}__image-wrap {
            flex-shrink: 0;
            position: relative;
            width: 100%;
            height: 300px;

            @include media-query(tablet-portrait) {
                width: 300px;
                height: auto;
            }
        }

        #{$root}__image {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        @include connectors($lime, bottom, right);
        position: relative;
        z-index: z($z-elements, card);
        padding: $gutter;
        padding-bottom: $gutter-medium;
        background: $teal;
        color: $white;

        @include media-query(tablet-portrait) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: $gutter-medium;
            flex: 1;
        }

        @include media-query(tablet-landscape) {
            @include connectors($lime, bottom, right, medium);
            padding: $gutter-large 60px;
        }

        #{$root}--nation & {
            z-index: auto;
        }

        &--giftaid {
            @include connectors($lime, bottom, right, medium);
            display: block;
            background-color: $ink;

            @include media-query(tablet-landscape) {
                padding: $gutter-large 60px;
            }
        }
    }

    &__image {
        &--mobile {
            max-width: none;
            width: 100vw;
            height: auto;
        }

        &--desktop {
            display: none;

            @include media-query(tablet-portrait) {
                display: block;
                width: 380px;
                max-width: 50%;
                margin: 0;
                margin-left: $gutter-medium;
            }
        }
    }

    &__mobile-image-wrapper {
        @include pattern($white);
        position: relative;
        margin: 0 (-$gutter-small);
        margin-bottom: -$gutter-large;

        @include media-query(tablet-portrait) {
            display: none;
        }

        .pattern {
            max-width: 350px;
            top: 30%;
            left: 75%;
        }
    }

    &__giftaid-copy {
        @include media-query(tablet-landscape) {
            width: 70%;

            .form-item {
                flex-wrap: nowrap;
                align-items: flex-start;
            }
        }

        label {
            flex: 1;
        }
    }

    &__giftaid-field {
        display: flex;
        justify-content: space-between;
    }

    &__meta {
        @include font-size(s);
        margin: $gutter 0 0;
        padding: $gutter 0;

        &--giftaid {
            border-top: 1px solid $white;
            display: none;

            .show-meta & {
                display: block;
            }
        }
    }

    &__icon {
        &--giftaid {
            margin-left: $gutter;
            display: none;

            @include media-query(mob-landscape) {
                display: block;
                width: 140px;
                height: 50px;
            }

            @include media-query(tablet-portrait) {
                width: 170px;
                height: 60px;
            }
        }
    }
}
