.payments {
    &__braintree-error {
        background-color: $hot-pink;
        color: $white;
        padding: 13px 17px;
        font-size: 16px;
        font-weight: bold;
        z-index: 100;
        position: relative;
        margin: 10px 0;

        &:not([hidden]) {
            display: inline-block;
        }
    }

    &__braintree-hosted-field {
        height: 52px;
        background-color: $off-white;
        padding: 10px;
        border: 1px solid $grey-light;
        border-radius: 5px;
        width: 100%;
        max-width: 370px;
    }

    &__amount-box {
        @include clear-child-margins;
        border: 1px solid $grey-light;
        padding: $gutter-medium;
        color: $plum;
        width: 100%;

        @include media-query(tablet-portrait) {
            max-width: 45%;
            min-width: 350px;
            margin-left: $gutter-large;
        }

        svg {
            width: 50px;
            height: 40px;
            margin-bottom: $gutter;

            @include media-query(tablet-landscape) {
                width: 100px;
                height: 95px;
            }
        }
    }

    &__complete {
        @include media-query(tablet-portrait) {
            display: flex;
        }
    }

    &__message {
        @include media-query(tablet-portrait) {
            flex: 0 1 100%;
        }
    }

    &__wrapper {
        @include media-query(tablet-portrait) {
            display: none;
        }
    }

    &__error-wrapper {
        display: flex;
        flex-direction: column;

        @include media-query(tablet-portrait) {
            margin-bottom: 0;
            display: block;
        }
    }

    &__button {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__googlepay-button {
        button {
            // Only way to beat Google's inline style
            // sass-lint:disable no-important
            width: 100% !important;

            @include media-query(tablet-portrait) {
                width: auto;
                min-width: 150px;
            }
        }
    }
}


// Vendor-generated classes
.braintree-hosted-fields-invalid {
    border: 1px solid $hot-pink;
}
