.payment-icons {
    $spacer: 0.5 * $gutter;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: calc(#{$gutter-medium} - #{$spacer}) -#{$spacer} -#{$spacer};

    .homepage-donate-slider & {
        @include media-query(desktop) {
            margin: 0 0 0 20px;
            flex: 1;
        }

        &--single {
            @include media-query(desktop) {
                display: grid;
            }
        }
    }

    @include media-query(mob-landscape) {
        margin-top: $gutter-large - $spacer;
    }

    &__icon {
        margin: $spacer;
        width: 70px;
        height: 30px;

        &--direct-debit {
            width: auto;

            @include target-ie11 {
                width: 70px;
            }
        }

        &--sepa {
            width: auto;
            height: 70px;
        }


        &--visa,
        &--mastercard,
        &--google-pay,
        &--apple-pay {
            width: auto;

            @include target-ie11 {
                width: 47px;
            }
        }

        &--paypal {
            width: 80px;
            position: relative;
            top: 2px;
        }
    }
}
