.quote-block {
    $root: &;
    margin: 0;

    &--quote {
        @include margin-streamfield-block;
    }

    &--dark,
    .streamfield--dark-bg & {
        color: $color--white;
    }

    .section--landing-page-light-bg & {
        color: inherit;
    }

    &--story {
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 40px;

        @include media-query(tablet-landscape) {
            margin: 0 60px 0 -10px;
            padding-bottom: 0;
        }

        @include media-query(desktop) {
            margin: 0 60px 0 -70px;
        }

        #{$root}__quotation,
        #{$root}__quotation-wrapper {
            margin: 0;
        }
    }

    &--with-media {
        background-color: $plum;
        color: $white;
    }

    &--narrow {
        @include media-query(tablet-landscape) {
            max-width: 60%;
        }
    }

    &--with-image {
        display: flex;
        flex-direction: column;

        @include target-ie11() {
            display: block;
        }

        @include media-query(tablet-landscape) {
            flex-direction: row;

            @include target-ie11() {
                display: flex;
            }
        }

        #{$root} {
            @include connectors($white, bottom, right, page);
            background-color: $plum;
            color: $white;
            padding: 30px;
            flex: 1;
            position: relative;
        }
    }

    &--activity {
        #{$root}__quotation {
            @include font-size(xs);
            font-weight: $weight--bold;

            @include media-query(tablet-portrait) {
                @include font-size(l);
            }
        }

        #{$root}__quotation-mark {
            fill: $white;
            opacity: 1;
            flex-shrink: 0;
            width: 20px;

            @include media-query(desktop) {
                width: 30px;
                height: 40px;
            }
        }
    }

    &__quotation-wrapper {
        position: relative;
        margin-bottom: $gutter;

        #{$root}--quote & {
            @include media-query(tablet-portrait) {
                display: flex;
            }
        }
    }

    &__information-wrapper {
        padding-right: $gutter-large + 10px;
        min-height: 55px;

        #{$root}--quote & {
            @include font-size(xs);

            @include media-query(tablet-portrait) {
                padding: 0 (2 * $gutter-large);
                min-height: 0;
            }
        }

        #{$root}--story & {
            display: none;
        }

        #{$root}--activity & {
            @include media-query(tablet-portrait) {
                padding: 0 $gutter-x-large;
            }
        }
    }

    &__quotation-mark {
        width: $gutter-large;
        fill: $lime;

        #{$root}--quote & {
            opacity: 0.2;
            flex: 0 0 $gutter-large;
        }

        #{$root}--activity & {
            opacity: 0.4;
        }

        &--open {
            margin-bottom: $gutter;

            @include media-query(tablet-portrait) {
                align-self: flex-start;
            }
        }

        &--close {
            position: absolute;
            right: 0;
            top: calc(100% + #{$gutter});

            #{$root}--quote & {
                @include media-query(tablet-portrait) {
                    align-self: flex-end;
                    position: static;
                    right: auto;
                    top: auto;
                }
            }

            #{$root}--quote & {
                transform: translateY(-100%);

                @include media-query(tablet-portrait) {
                    transform: translateY(0);
                }
            }

            #{$root}--activity & {
                transform: translate(-25px, 15px);

                @include media-query(tablet-landscape) {
                    transform: translate(-10px, 100%);
                }
            }
        }
    }

    &__quotation {
        @include font-size(m);

        #{$root}--quote & {
            @include media-query(tablet-portrait) {
                margin: $gutter-large $gutter-large 0;
            }
        }

        #{$root}--story & {
            @include media-query(tablet-portrait) {
                margin: 0 $gutter-medium 0;
            }
        }

        #{$root}--activity & {
            @include media-query(tablet-portrait) {
                margin: $gutter-large 10px 0;
            }
        }
    }

    &__attribution {
        font-weight: $weight--bold;

        #{$root}--quote & {
            @include font-size(xs);
        }

        #{$root}--activity & {
            font-weight: $weight--normal;

            @include media-query(tablet-landscape) {
                @include rem-font-size(20px);
            }
        }
    }

    &__image {
        object-fit: cover;

        &--desktop {
            display: none;

            @include media-query(tablet-landscape) {
                display: block;
            }
        }

        &--mobile {
            @include media-query(tablet-landscape) {
                display: none;
            }
        }
    }

    .template-story-page & {
        &__quotation-mark {
            fill: $plum;
            opacity: 1;
        }

        &--story {
            #{$root}__quotation-mark {
                fill: $color--white;
                width: 30px;
                height: 40px;

                &--close {
                    top: calc(100% + 40px);

                    @include media-query(tablet-portrait) {
                        top: auto;
                    }
                }
            }
        }
    }

    .template-activity-landing-page & {
        &--with-image {
            margin-top: 0;
        }
    }

    // When used inside media with quote - full width iteration
    .media-with-quote--full & {
        padding: $gutter;

        @include media-query(desktop) {
            padding: 40px 80px 40px 40px;
        }

        &__quotation-wrapper {
            @include media-query(desktop) {
                display: flex;
            }
        }

        &__quotation {
            @include media-query(desktop) {
                margin: 0 $gutter-large;
            }
        }

        &__quotation-mark {
            fill: $white;
            opacity: 1;
            flex-shrink: 0;
            width: 20px;

            @include media-query(desktop) {
                width: 30px;
                height: 40px;
            }
        }

        &__attribution {
            @include media-query(desktop) {
                margin-left: 65px;
            }
        }

        &__connectors {
            @include media-query(desktop) {
                @include connectors($white, bottom, right, medium);
            }
        }
    }

    // When used inside media with quote - media on left iteration
    .media-with-quote--right & {
        @include corner($emerald, bottom, right, $width: 40%, $height: 30%);
        position: relative;
        padding: $gutter;
        width: 100%;

        @include media-query(desktop) {
            padding: 40px 80px 80px 120px;
            margin-left: -80px;
        }

        &__quotation-mark {
            fill: $white;
            opacity: 1;
            flex-shrink: 0;
            width: 20px;

            @include media-query(desktop) {
                width: 30px;
                height: 40px;
            }
        }

        &__connectors {
            @include connectors($emerald, bottom, right, medium);
        }
    }

    .media-with-quote--left & {
        background-color: $white;
        color: $teal-dark;
        width: 100%;

        @include media-query(desktop) {
            margin: 60px -80px 0 0;
            padding-right: 50px;
            position: relative;
        }

        &__quotation-mark {
            fill: $plum;
            opacity: 1;
            flex-shrink: 0;
            width: 20px;

            @include media-query(desktop) {
                width: 30px;
                height: 40px;
            }
        }
    }
}
