.related-large {
    $root: &;

    @include pattern($overflow: visible);
    @include page-padding--horizontal(left);
    @include page-padding--horizontal(right);
    padding-top: 0.5 * $section-overlap;
    padding-bottom: 0.5 * $section-overlap;
    z-index: z($z-elements, related);
    flex-basis: 100%;
    background-color: $teal;

    @include media-query(tablet-portrait) {
        margin-top: -$section-overlap;
        padding-top: 1.5 * $section-overlap;
        padding-bottom: $section-overlap;
    }

    .pattern {
        display: none;

        @include media-query(tablet-portrait) {
            display: block;
            bottom: 33%;
            left: 63%;
        }
    }

    &__heading {
        @include font-size(xxl);
        font-weight: $weight--normal;
        color: $white;
        margin-bottom: $gutter-medium;

        #{$root}--donate-landing & {
            text-align: center;
            font-weight: $weight--bold;
        }
    }

    &--intranet {
        @include pattern($white, hidden, 0.2);
        padding-top: $gutter-x-large * 3;
        overflow: hidden;

        .pattern {
            @include media-query(tablet-portrait) {
                top: 60%;
                bottom: auto;
                left: 50%;
                max-width: 750px;
            }
        }
    }

    &--donate-landing {
        @include pattern($white, visible, 0.05);
        padding: $gutter-large $gutter;

        @include media-query(tablet-portrait) {
            margin-top: 0;
            padding: $section-overlap $gutter;

            .pattern {
                bottom: 0;
            }
        }
    }
}
