.related-large {
    $root: &;

    @include pattern($overflow: visible);
    @include page-padding--horizontal(left);
    @include page-padding--horizontal(right);
    padding-top: 0.5 * $section-overlap;
    padding-bottom: 0.5 * $section-overlap;
    z-index: z($z-elements, related);
    flex-basis: 100%;
    background-color: $teal;

    @include media-query(tablet-portrait) {
        margin-top: -$section-overlap;
        padding-top: 1.5 * $section-overlap;
        padding-bottom: $section-overlap;
    }

    .pattern {
        display: none;

        @include media-query(tablet-portrait) {
            display: block;
            bottom: 33%;
            left: 63%;
        }
    }

    &__heading {
        @include font-size(xxl);
        font-weight: $weight--normal;
        color: $white;
        margin-bottom: $gutter-medium;

        #{$root}--story &,
        #{$root}--donate-landing & {
            text-align: center;
            font-weight: $weight--bold;
        }

        #{$root}--overlap-large & {
            font-weight: $weight--bold;
        }

        #{$root}--story & {
            @include media-query(desktop) {
                max-width: 780px;
                margin: 0 auto ($gutter-medium * 2);
            }
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;

        @include media-query(mob-landscape) {
            flex-direction: row;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__card {
        max-width: 365px;
        margin-bottom: 40px;

        @include media-query(tablet-portrait) {
            flex-basis: calc(50% - 30px);
            margin: 0 15px 40px;
            max-width: none;
            padding: 0;
        }

        @include media-query(tablet-landscape) {
            flex-basis: calc(33.3% - 40px);
            margin: 0 15px;
        }
    }

    &--donate-landing {
        @include pattern($white, visible, 0.05);
        padding: $gutter-large $gutter;

        @include media-query(tablet-portrait) {
            margin-top: 0;
            padding: $section-overlap $gutter;

            .pattern {
                bottom: 0;
            }
        }
    }

    &--overlap-large {
        padding: 30px 20px;
        margin: 0;

        @include media-query(tablet-landscape) {
            margin-top: -($section-overlap + 60px);
            padding-top: 1.5 * $section-overlap;
            padding-bottom: $section-overlap;
        }
    }

    &--story {
        background-color: $plum;
        padding: $gutter-medium $gutter;

        @include media-query(tablet-portrait) {
            padding-top: 1.5 * $section-overlap;
            padding-bottom: $section-overlap;
        }
    }

    .info-panel + & {
        @include media-query(tablet-portrait) {
            margin-top: 0;
            padding-top: 0;

            .pattern {
                bottom: 20%;
            }
        }
    }
}
