.responsive-object {
    position: relative;

    iframe,
    object,
    embed,
    .fb_iframe_widget {
        // sass-lint:disable-line class-name-format
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.no-border {
        iframe {
            border-width: 0;
        }
    }

    &.iframe-fixed-height {
        height: 3060px;
        @include media-query(tablet-portrait) {
            height: 2920px;
        }
    }
    &.overflow-hidden {
        overflow: hidden;
    }
}
