.section {
    $root: &;

    &.is-hidden {
        display: none;
    }

    &__connectors {
        @include media-query($page-connectors-breakpoint) {
            @include connectors($emerald, top, right, page);
            position: absolute;
            display: block;
            width: 30px;
            height: 30px;
            top: 0;
            right: 0;
        }
    }

    &__connectors--extra {
        @include media-query($page-connectors-breakpoint) {
            @include connectors($teal, bottom, right, page);
            bottom: 0;
            right: 0;
        }
    }

    &__intro-with-icon {
        display: flex;
        align-items: center;

        h2 {
            margin: 0;
        }

        svg {
            width: 120px;
            height: 130px;
            margin-right: $gutter-large;
        }
    }

    &--main {
        @include section--page;
        max-width: $wrapper--medium;
        background-color: $white;

        @include media-query(tablet-landscape) {
            margin-bottom: $margin--main-after;
        }
    }

    &--dark-bg {
        background-color: $ink;
        color: $white;
        margin-bottom: $gutter-medium;
        padding: $gutter-medium;

        width: 100vw;
        margin-left: calc(-50vw + 50%);

        @include media-query(mob-landscape) {
            width: unset;
            margin-left: unset;
            padding: $gutter-large;
        }

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    &--page-padding {
        @include page-padding--vertical(top);
        @include page-padding--vertical(bottom);
        @include page-padding--horizontal(left);
        @include page-padding--horizontal(right);
        position: relative;
    }

    &--page-padding-vertical {
        @include page-padding--vertical(top);
        @include page-padding--vertical(bottom);
    }

    &--overlap {
        @include media-query(tablet-landscape) {
            margin-top: -$section-overlap;
        }
    }

    &--secondary {
        margin-bottom: $gutter-large;

        @include media-query(tablet-portrait) {
            margin-bottom: $gutter-xxl;
        }
    }

    &--full-width {
        @include media-query(tablet-landscape) {
            max-width: $site-width;
        }
    }

    &--no-hero {
        @include media-query($page-connectors-breakpoint) {
            margin-top: $gutter-large;
        }
    }

    &--information-page {
        @include page(top-right, bottom-right, $width: medium);
    }

    &--story-page {
        @include page(top-right, bottom-right, $width: full);
    }

    &--guide-page {
        @include page(top-right, $width: medium);
    }

    &--information-page-with-hero-image {
        @include page(top-left, bottom-right, $width: medium);

        &#{$root}--overlap {
            @include media-query(tablet-landscape) {
                margin-top: -($section-overlap--hero-with-image - $gutter-xxl);
            }
        }
    }

    // adds some extra space below the meta information at the bottom of the page, and prevents
    // it overlapping with the corner styles
    &--information-page-with-bottom-meta {
        padding-bottom: $gutter-small;
    }

    &--story-page-with-hero-image {
        @include page(top-left, bottom-right, $width: full);

        &#{$root}--overlap {
            @include media-query(tablet-landscape) {
                margin-top: -($section-overlap--hero-with-image - $gutter-xxl);
            }
        }
    }

    &--activity-landing,
    &--index-website {
        @include page(top-right, bottom-left);
    }

    &--website-nation {
        @include page(bottom-left, top-right);
    }

    &--activity,
    &--website-event {
        @include page(bottom-left, bottom-right, $width: medium);
    }

    &--website-event-after {
        @include section--page;
        @include section--after-page;
        background-color: $sunflower;
        max-width: $wrapper--medium;

        @include media-query($page-connectors-breakpoint) {
            // sass-lint:disable-block indentation
            box-shadow: $section-overlap 0 0 $sunflower,
                (-$section-overlap) 0 0 $sunflower,
                (-3 * $section-overlap) 0 0 $sunflower;
            margin-bottom: $margin--main-after;
        }
    }

    &--news-listing {
        @include page(bottom-left, $width: medium);

        @include media-query(tablet-landscape) {
            margin-bottom: $gutter-xxl * 3;
        }
    }

    &--website-search-page {
        @include page(bottom-left, $width: medium);

        @include media-query(tablet-landscape) {
            min-height: 65px;
        }
    }

    &--centered {
        margin: 0 auto;
    }

    &--donate {
        @include page(bottom-left, bottom-right, $width: medium);

        @include media-query(tablet-landscape) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--donate-marketing {
        background-color: $ink;
        color: $white;
        padding: $gutter;
        margin-bottom: $gutter-medium;

        @include media-query(mob-landscape) {
            padding: $gutter-large;
        }

        @include media-query(tablet-landscape) {
            @include corner(
                $lime,
                right,
                bottom,
                $width: 235px,
                $height: 195px,
                $offset: 10px
            );
            margin: $gutter-x-large 0;
        }

        @include media-query($page-connectors-breakpoint) {
            #{$root}__connectors--extra {
                @include connectors($lime, bottom, right, page);
            }
        }

        p {
            @include font-size(s);
        }

        input {
            color: $black !important; // sass-lint:disable-line no-important
        }
    }

    &--donate-landing {
        @include page(bottom-left, bottom-right);
        text-align: center;

        @include media-query(tablet-landscape) {
            margin-top: $gutter-xxl - $gutter-xxl;
        }
    }

    &--website-homepage-top {
        @include section--page($padding: large);
        z-index: auto;
        background-color: $white;
        text-align: center;

        @include media-query(tablet-landscape) {
            padding-bottom: $gutter-x-large + (2 * $section-overlap);
        }
    }

    &--website-homepage-bottom {
        @include page(bottom-left, bottom-right);
        background-color: transparent;

        @include media-query(tablet-landscape) {
            background-color: $white;
        }
    }

    &--page-end-cta {
        @include section--page($padding: large);
        @include section--after-page;
        background-color: $amethyst;
        color: $white;
    }

    &--landing-page {
        background-color: $amethyst;
        padding-bottom: $gutter-medium;

        @include media-query(tablet-landscape) {
            padding-bottom: $gutter-xxl;
        }
    }

    &--landing-page-introduction {
        background-color: $emerald;
        color: $white;
        padding-top: $gutter-medium;

        @include media-query(desktop) {
            padding-top: $gutter-x-large;
        }

        h2 {
            margin: 0;

            @include media-query(tablet-portrait) {
                max-width: 80%;
            }
        }
    }

    &--landing-page-overlap {
        background-color: $emerald;
        color: $white;
        padding-top: $gutter;
        padding-bottom: $gutter;
        margin-bottom: $gutter;

        @include media-query(mob-landscape) {
            padding-top: $gutter-large;
            padding-bottom: $gutter-large;
            margin-bottom: $gutter-large;
        }

        @include media-query(tablet-landscape) {
            margin-bottom: -$gutter-x-large;
            padding-top: $gutter-large + $gutter-medium;
            padding-bottom: $gutter-x-large + $gutter-x-large + $gutter-large;
        }
    }

    &--landing-page-light-bg {
        @include page(bottom-left, bottom-right);
    }

    &--branch-page-top {
        @include section--page(corners);
        @include connectors--transparent(
            page,
            top-left,
            null,
            $teal,
            $page-connectors-breakpoint
        );
        background-color: $teal;
        color: $white;

        @include media-query($page-connectors-breakpoint) {
            margin-bottom: 3 * $gutter-xxl;
        }
    }

    &--branch-page-main {
        @include page(bottom-left);
    }

    &--branch-enquiry {
        @include page(bottom-left, top-right, $width: small);
    }

    &--iframe-page {
        @include page(top-right, bottom-right);
        height: 2200px;
        width: 100%;
    }

    &--stats {
        @include section--page($padding: large);
        z-index: auto;
        background-color: $white;

        @include media-query(tablet-landscape) {
            padding-bottom: $gutter-x-large + (2 * $section-overlap);
        }
    }

    &--mission-statement {
        text-align: center;
        margin: $gutter-xxl $gutter;
    }

    &--report {
        background-color: rgba($white, 0.9);
        padding: $gutter $gutter 0;

        @include media-query(tablet-landscape) {
            @include corner($lime, top, left, $width: 325px, $height: 145px);
            padding: 50px 60px 0;

            #{$root}__connectors {
                @include connectors($lime, top, left, page);
                left: 0;
            }
        }
    }

    &--activity-landing {
        @include media-query(tablet-portrait) {
            margin-bottom: 60px;
        }

        @include media-query(tablet-landscape) {
            margin-bottom: 120px;
        }

        @include page(bottom-left, $width: full);
    }

    // Overrides for activity landing tabccordion
    &--activity-landing-tabs {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: $gutter $gutter 75px;

        @include media-query(tablet-landscape) {
            margin-top: 0;
            margin-bottom: 150px;
            padding: $gutter;
        }

        .heading-block {
            @include rem-font-size(21px);
            text-align: center;
            line-height: 32px;
            max-width: 780px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            @include media-query(tablet-landscape) {
                @include rem-font-size(34px);
                line-height: 42px;
            }
        }

        .tabccordion__panel.is-active {
            @include media-query(tablet-portrait) {
                padding: 0 $gutter-medium $gutter-medium;
                background: darken($off-white, 4);
                border-radius: 5px;
            }
        }

        .rich-text {
            max-width: none;
        }

        .rich-text h3,
        .rich-text h4 {
            max-width: 780px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--activity-index {
        @include page(top-left, top-right);
    }

    &--activity,
    &--activity-index {
        margin-bottom: 60px;

        @include media-query(tablet-landscape) {
            margin-bottom: 120px;
        }
    }

    &--form-darker-grey {
        width: 100%;
        background-color: $off-white;
        padding: $gutter-medium;
        margin-bottom: $gutter-medium;
    }

    &__extra-connectors {
        &--right {
            @include connectors($off-white, bottom, right, page);
            position: absolute;
            bottom: -60px;
            right: -60px;
        }

        &--left {
            @include connectors($off-white, bottom, left, page);
            position: absolute;
            bottom: -60px;
            left: -60px;
        }
    }
}
