// Overrides for select2 styles, unfortunately require a lot of specificity

.select2-container {
    $selection-root: '.select2-selection';

    #{$selection-root} {
        @include input-style;
        height: 50px;

        #{$selection-root} {
            &__rendered {
                padding: 0;
                line-height: inherit;
                color: inherit;
            }

            &__arrow {
                display: none;
            }
        }
    }

    .select2-results {
        &__option {
            &:first-child {
                border-top: 1px solid $grey-light;
            }

            &[aria-selected='true'] {
                background-color: $grey-light;
            }

            &--highlighted[aria-selected] {
                background-color: $color--link;
            }
        }

        &__message {
            display: none;
        }
    }

    .select2-dropdown {
        border: 1px solid $grey-light;
        border-radius: 5px;
        color: inherit;
        padding: 0;
        min-height: 50px;
        margin-top: -50px;

    }

    $search-root: '.select2-search';

    #{$search-root} {
        padding: 0;
        margin: -1px -1px 0;

        #{$search-root} {
            &__field {
                @include input-style;
                border-bottom-width: 0;
            }
        }
    }
}
