.skip-link {
    z-index: index($z-elements, skip-link);
    position: absolute;
    top: -200px;
    left: 0;
    color: $color--white;
    background-color: $teal;
    padding: 20px;
    font-weight: $weight--bold;

    &:focus {
        top: 0;
        color: $color--white;
    }
}
