.stat-block {
    $root: &;

    @include margin-streamfield-block;
    display: flex;
    flex-direction: column;

    #{$root}--donate-landing {
        align-items: center;
    }

    &--no-margin {
        margin: 0;
    }

    @include media-query(mob-landscape) {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include media-query(tablet-landscape) {
        @include margin-streamfield-block;

        &--no-margin {
            margin: 0;
        }
    }

    &--sf {
        .template-donate-landing-page & {
            @include margin-streamfield-block;
        }

        #{$root}__block {
            text-align: center;
            padding: $gutter;
            background-color: $off-white;
            max-width: 100%;

            @include media-query(mob-landscape) {
                max-width: 365px;
            }

            &:not(:last-child) {
                margin-bottom: 80px;

                @include media-query(tablet-landscape) {
                    margin-bottom: 0;
                }
            }

            .template-donate-landing-page & {
                margin-bottom: 80px;

                @include media-query(tablet-landscape) {
                    margin-bottom: 0;
                }
            }
        }

        #{$root}__icon {
            margin-top: -60px !important;

            @include media-query(mob-landscape) {
                height: 75px;
                width: 90px;
            }
        }

        #{$root}__heading {
            color: $amethyst;
            font-size: 45px;

            @include media-query(mob-landscape) {
                line-height: 1.2;
                font-size: 50px;
            }
        }

        p {
            @include font-size(s);
            line-height: 1.3;
        }
    }

    &__block {
        @include clear-child-margins;
        max-width: 365px;
        font-size: 16px;
        padding: 0 $gutter-small;

        @include media-query(mob-landscape) {
            flex-basis: calc(50% - 30px);
            margin-left:  15px;
            margin-right: 15px;
            max-width: none;
            padding: 0;
            font-size: 18px;
        }

        @include media-query(tablet-portrait) {
            font-size: $base-font-size;
        }

        @include media-query(tablet-landscape) {
            flex-basis: calc(33.3% - 40px);
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @include media-query(mob-landscape) {
                margin-bottom: 0;
            }
        }

        &--link {
            @include link($color--default, $color--link-hover);
            @include link($color--link, $color--link-hover, #{$root}__link);
            @include underline($element: #{$root}__link);
            padding: $gutter $gutter-small;
            transition: color $transition, background-color $transition;

            @include media-query(mob-landscape) {
                padding: $gutter $gutter-small;
            }

            #{$hover} {
                background-color: $off-white;

                #{$root}__icon {
                    filter: brightness(90%);
                }
            }
        }
    }

    &__icon {
        width: 75px;
        height: 65px;
        margin-bottom: $gutter;
        transition: filter $transition;

        #{$root}--donate-landing & {
            @include media-query(mob-landscape) {
                height: 75px;
                width: 90px;
            }
        }
    }

    &__heading {
        @include font-size(xxl);
        color: $plum;
        margin-bottom: 5px;

        #{$root}--donate-landing & {
            color: $amethyst;
            font-size: 45px;

            @include media-query(mob-landscape) {
                font-size: 50px;
            }
        }
    }
}

.stat-block-heading {
    text-align: center;
    margin-bottom: $gutter-xxl;
}
