.tooltip {
    $root: &;

    position: relative;
    width: 30px;
    height: 30px;
    margin-left: $gutter-small;

    &--form {
        display: none;

        @include media-query(tablet-landscape) {
            display: block;
        }
    }

    &--branch {
        display: inline-block;
    }

    &--beta {
        @include font-size(xxs);
        color: $white;
        background-color: $ink;
        text-transform: uppercase;
        padding: 5px 10px;
        width: auto;
        height: auto;
        display: none;
        margin-left: 0;
        margin-bottom: 10px;

        .show-beta & {
            display: inline-block;
        }

        @include media-query(mob-landscape) {
            padding: 5px $gutter;
            margin-left: $gutter;
            margin-bottom: 0;
            display: none;
            position: absolute;
            top: 0;

            .show-beta & {
                display: inline;
            }
        }

        @include media-query(tablet-portrait) {
            font-size: 20px;
        }
    }

    &--card {
        position: relative;
        font-weight: $weight--bold;
        margin-left: 0;
        margin-bottom: 5px;

        @include media-query(tablet-landscape) {
            position: absolute;
            right: $gutter-medium;
            top: $gutter-medium;
        }
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__content {
        @include tooltip-triangle(10px, bottom, $teal);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: opacity $transition, visibility $transition;
        background-color: $teal;
        padding: $gutter-small;
        color: $white;
        font-size: 15px;
        width: 260px;
        bottom: calc(100% + 17px);
        left: 50%;
        margin-left: -130px; // width / 2
        z-index: z($z-elements, tooltip);
        line-height: 1.4;

        #{$root}--branch & {
            @include tooltip-triangle(10px, bottom, $off-white);
            background-color: $off-white;
            color: $color--default;
        }

        #{$root}--beta & {
            @include tooltip-triangle(10px, bottom, $ink);
            background-color: $ink;
            text-transform: none;
            bottom: calc(100% + 11px);
            left: auto;
            margin-left: 0; // width / 2

            // override triangle positioning
            &::after {
                left: 10px;
            }

            @include media-query(mob-landscape) {
                left: 50%;
                margin-left: -130px; // width / 2

                &::after {
                    left: calc(50% - 10px);
                }
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }

        #{$root}--card & {
            left: auto;
            margin-left: 0; // width / 2

            // override triangle positioning
            &::after {
                left: 10px;
            }

            @include media-query(tablet-portrait) {
                left: 50%;
                margin-left: -130px; // width / 2

                &::after {
                    left: calc(50% - 10px);
                }
            }
        }

        p {
            margin: 0;
        }

        #{$root}:hover & {
            opacity: 1;
            visibility: visible;
        }
    }

    &--pattern-library {
        width: auto;
        height: auto;
        display: block;
    }
}
