$totaliser-default-transition: 2000ms cubic-bezier(0.645, 0.045, 0.355, 1);
$totaliser-slow-transition: 1400ms cubic-bezier(0.645, 0.045, 0.355, 1);

.totaliser {
    padding: $gutter-x-large 10px $gutter-medium 0;

    @include media-query(tablet-portrait) {
        padding: $gutter-medium 0 $gutter-large;
    }

    &__sr-label {
        @include hidden();
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }

    &__value {
        @include font-size(xxs);
        margin: 0;
        display: flex;
        font-weight: $weight--bold;
    }

    &__value-label {
        display: inline-block;
        padding-left: 5px;
    }
}

.totaliser-bar {
    height: 14px;
    width: 100%;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d4dddd;
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        transition: width $totaliser-default-transition,
        background-color $totaliser-slow-transition;

        &::after {
            content: '';
            position: absolute;
            top: -9px;
            right: -15px;
            width: 32px;
            height: 30px;
            background-image: url('../images/totaliser-star.png');
            background-size: cover;
        }
    }

    &__percentage {
        @include font-size(xxs);
        position: absolute;
        bottom: -27px;
        left: 0;
        display: flex;
        margin: 0 0 0 -13px;
        font-weight: $weight--bold;
        opacity: 0;
        transition: opacity, left, $totaliser-default-transition;
    }

    &__confetti {
        position: fixed;
        width: 1000px;
        height: 1000px;
        z-index: z($z-elements, confetti);
        pointer-events: none;
    }
}
