.training-dates {
    &__session {
        border-bottom: $grey-border;
        padding: ($gutter * 0.5) 0;

        @include media-query(tablet-portrait) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__text {
        margin: 0;

        &--week {
            text-transform: uppercase;
        }

        &--title {
            font-weight: $weight--bold;
        }

        &--time {
            font-weight: $weight--light;
        }
    }

    &__right-column {
        min-width: 200px;
        margin-top: $gutter * 0.5;

        @include media-query(tablet-portrait) {
            text-align: right;
            margin-top: 0;
        }
    }

    .accordion--training & {
        // Adding specificity as unsure if this is used in lots of places
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}
