{% extends "patterns/templates/index_page/listing_template_website.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block filters_intro %}
    Browse our events by:
{% endblock %}

{% block filters %}
    {% if page.show_type %}
        {% include "patterns/molecules/filters/filter.html" with title="All types of events" name="event_type" options=event_type_filters %}
    {% endif %}
    {% if page.show_distance_filter %}
        {% include "patterns/molecules/filters/filter.html" with title="Anywhere" name="event_region" options=event_region_filters %}
    {% endif %}
    {% if page.show_region_filter %}
        {% include "patterns/molecules/filters/filter.html" with title="Any distance" name="event_distance" options=event_distance_filters %}
    {% endif %}
    {% if page.show_date_filters %}
        {% include "patterns/molecules/filters/filter.html" with title="Anytime" name="event_date" options=event_date_filters %}
    {% endif %}
{% endblock %}

{% block listings %}
    {% if events.object_list %}
        {% include "patterns/organisms/listing-list/listing-list.html" with listings=events %}
    {% else %}
        No matching events
    {% endif %}
{% endblock listings %}


{% comment %} block featured_listing
    {% if events.object_list.specific.0 %}
        {% include "patterns/molecules/listing-item/listing-item-featured.html" with value=events.object_list.specific.0 %}
    {% endif %}
{% endcomment %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}