{% extends "patterns/templates/donate-form-page.html" %}
{% load i18n form_tags static wagtailimages_tags humanize %}

{% block title %}{% trans "Payment details | Event registration payment" %}{% endblock %}

{% block progress_bar %}
    {% include "patterns/pages/donate/partials/progress_bar.html" with classes="second-active" %}
{% endblock %}

{% block content_inner %}
    <div id="payments__payment-wrapper">
        <h1 class="wrapper--small-width">Payment for your place</h1>

        <p>Sorry, we're not able to take event payments online right now.</p>
    </div>
{% endblock %}


<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}