{% extends "patterns/templates/narrow-page.html" %}
{% load loqate_tags %}

{% block content_inner %}

    <h1>{{ page.title }}</h1>

    {% if page.form_fields %}
        {% include 'patterns/pages/website/events/registration_form.html' %}
    {% endif %}

{% endblock %}


{% block extra_js %}
    {{ block.super }}
    {% loqate_script %}
{% endblock %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}