{% load wagtailcore_tags wagtailimages_tags %}

<div class="video-modal__wrapper" data-video-modal>
    {% image value.video_preview width-600 as video_preview %}
    <div class="video-modal__preview" style="background-image: url('{{ video_preview.file.url }}')">
        <a class="video-modal__button" aria-label="Open video" data-modal-open>
            <svg class="video-modal__button-icon" width="65" height="65">
                <use xlink:href="#play" />
            </svg>
        </a>
    </div>
    {% if value.caption %}
        <div class="video-modal__caption">
            {{ value.caption|richtext }}
        </div>
    {% endif %}
    <div data-modal-window class="video-modal video-modal--donate" aria-live="polite">
        <div class="video-modal__corner"></div>
        <div class="video-modal__container">
            <a data-modal-close class="video-modal__close" aria-label="Close video">
                <svg class="video-modal__close-icon">
                    <use xlink:href="#close" />
                </svg>
            </a>
            <div style="padding-bottom: 56.25%;" class="responsive-object">
              <iframe width="480" height="270" src="https://www.youtube.com/embed/1PWTqCBVjjU?feature=oembed" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
              </iframe>
            </div>
            <a data-modal-close class="video-modal__container-close" aria-label="Close video">
                {% include "patterns/atoms/svg/icons/icon-close.html" with classes="video-modal__container-close-icon" %}
                Back to make a donation
            </a>
        </div>
    </div>
</div>
