{% extends "wagtailadmin/generic/edit.html" %}
{% load i18n %}

{% block titletag %}{{ view.page_title }} {{ view.get_page_subtitle }}{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title=view.page_title subtitle=view.get_page_subtitle icon=view.header_icon %}

    <div class="nice-padding">
        <dl>
            {% for row in table_data %}
            <dt>{{ row.0 }}</dt>
            <dd>{{ row.1 }}</dd>
            {% endfor %}
        </dl>


        {% if can_change_status %}
        <form action="" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            {% block hidden_fields %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% endblock %}

            <ul class="fields">
                {% block visible_fields %}
                    {% for field in form.visible_fields %}
                        <li>
                            {% include "wagtailadmin/shared/field.html" %}
                        </li>
                    {% endfor %}
                {% endblock %}

                <li>
                    <input type="submit" value="{% trans 'Update status' %}" class="button" />
                </li>
            </ul>
        </form>
        {% else %}
            <p>The status of this registration cannot be changed.</p>
        {% endif %}
    </div>
{% endblock %}
