{% extends "wagtailforms/submissions_index.html" %}
{% load i18n wagtailadmin_tags %}

{% block content %}
    {% fragment as form_actions %}
        <div class="dropdown dropdown-button">
            <a href="?export=xlsx" class="button bicolor button--icon">
                {% icon name="download" wrapped=1 %}{% trans 'Download XLSX' %}
            </a>
            <div class="dropdown-toggle">{% icon name="arrow-down" %}</div>
            <ul>
                <li>
                    <a class="button bicolor button--icon" href="?export=csv">
                        {% icon name="download" wrapped=1 %}{% trans 'Download CSV' %}
                    </a>
                </li>
            </ul>
        </div>
    {% endfragment %}

    {% include "wagtailadmin/shared/header.html" with classname="w-header--no-border" title=page_title subtitle=form_page.title|capfirst icon="form" merged=1 extra_actions=form_actions %}

    <div class="nice-padding">
        <form action="" method="get" novalidate>
            <div class="row">
                {% for field in registration_filter_form %}
                    {% include "wagtailadmin/shared/field.html" with field=field field_classes="field-small" %}
                {% endfor %}
                <button name="action" value="filter" class="button button-filter">{% trans 'Filter' %}</button>
            </div>
        </form>
    </div>

    <div class="nice-padding">
        {% if submissions %}
            <form action="{% url 'wagtailforms:delete_submissions' form_page.id %}" method="get">
                {% include "patterns/pages/website/events/admin/submissions_table.html" %}
                <br><br> <!-- push the pagination down so it doesn't touch the table -->
                {% include "wagtailadmin/shared/pagination_nav.html" with items=page_obj is_searching=False %}
            </form>
        {% else %}
            <br><br> <!-- push the message down so it doesn't touch the button -->
            <p class="no-results-message">No submissions found.</p>
        {% endif %}
    </div>
{% endblock %}
