{% load i18n locale_tags %}
<div class="locale-switcher js-toggle-parent">
<div class="locale-switcher__wrapper js-toggle-target">
    <ul class="locale-switcher__dropdown">
        {% for slug, choice in choices.items %}
            {% if choice.is_active %}
                <li class="locale-switcher__item locale-switcher__item--active">
                    <button class="locale-switcher__link js-toggle-handle">
                        {{ choice.name_local }}
                        <div class="locale-switcher__icon-wrapper">
                            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="locale-switcher__icon" aria_hide="true" %}
                        </div>
                    </button>
                </li>
            {% else %}
                <li class="locale-switcher__item">
                    {% get_path_for_locale as redirect_url %}
                    <a href="{% url 'set_locale' slug %}?next={{ redirect_url|urlencode }}" class="locale-switcher__link">
                        {{ choice.name_local }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<p class="locale-switcher__message">{% trans "Some of the content you’re seeing is based on the country you’re browsing from." %}</p>
</div>
