<header class="header header--intranet">
    <div class="header__inner wrapper wrapper--large">
        <a class="header__home-link" href="/">
            {% include "patterns/atoms/svg/logos/logo-intranet.html" with classes="header__logo" title="Samaritans Intranet" %}
        </a>

        <div class="header__inner-top">
            <div class="header__controls">
                <div class="header-menu header-menu--account js-header-menu">
                    <button class="header__button header__button--account js-open-header-menu">
                        {% include "patterns/atoms/svg/icons/icon-account.html" with classes="header__icon" title="My Account" %}
                    </button>
                    <div class="header-menu__list-wrapper">
                        <ul class="header-menu__list">
                            <li class="header-menu__item">
                                {% if user.is_authenticated %}
                                    {% url 'logout' as logout_url %}
                                    <a class="header-menu__link" href="{{ logout_url }}" role="menuitem">
                                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="header-menu__icon" %}
                                        Log out
                                    </a>
                                {% else %}
                                    {% url 'login' as login_url %}
                                    <a class="header-menu__link" href="{{ login_url }}" role="menuitem">
                                        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="header-menu__icon" %}
                                        Log in
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                        <span class="header-menu__connectors"></span>
                    </div>
                </div>

                <div class="header-menu header-menu--app-launcher js-header-menu">
                    <button class="header__button header__button--app-launcher js-open-header-menu">
                        {% include "patterns/atoms/svg/icons/icon-menu-dots.html" with classes="header__icon" title="App launcher" %}
                        <span class="header__button-text">Apps</span>
                    </button>
                    <div class="header-menu__list-wrapper">
                        <ul class="header-menu__list">
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="https://training.samaritansnet.org" role="menuitem">
                                    {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="header-menu__icon" %}
                                    Training
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="https://www.3r.org.uk" role="menuitem">
                                    {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="header-menu__icon" %}
                                    Three Rings
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="https://servicedesk.samaritansnet.org/servicedesk/customer/portals" role="menuitem">
                                {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="header-menu__icon" %}
                                    Service desks
                                </a>
                            </li>
                        </ul>
                        <span class="header-menu__connectors"></span>
                    </div>
                </div>
            </div>

            <button class="header__search-toggle js-search-toggle">
                <span class="hidden">Open Search</span>
                {% include "patterns/atoms/svg/icons/icon-search.html" with classes="icon icon--search" %}
                {% include "patterns/atoms/svg/icons/icon-close.html" with classes="icon icon--close" title="Close Search" %}
            </button>

            <div class="header__search js-search">
                <form class="search search--intranet-header" action="{% url 'search' %}" method="get" role="search">
                    <input class="search__input" type="text" id="search" name="query" placeholder="Search the Intranet...">
                    <label class="search__label hidden" for="search">Search the Intranet</label>
                    <button class="search__button" type="submit">
                        <span class="hidden">Search</span>
                        {% include "patterns/atoms/svg/icons/icon-search.html" with classes="search__icon icon" title="Open Search" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
