{% extends "patterns/base_page.html" %}
{% load donate_tags form_tags i18n icon_tags static wagtailcore_tags wagtailimages_tags to_euro %}
{% wagtail_site as current_site %}

{% block content %}

<article id="donate__landing">

    {% if page.totaliser %}
        {# Christmas star #}
        <div class="wrapper wrapper--large wrapper--padding-for-page donate-hero-icon">
            <div class="donate-hero-icon__graphic"></div>
        </div>
    {% endif %}

    <div id="hero" class="hero hero--donate-landing" data-hero-donate-landing>

        {% image page.hero_image fill-1900x1250 jpegquality-40 as hero_image %}
        <div class="donate-landing-hero__image--desktop" style="background-image: url({{ hero_image.url}});"></div>

        {% image page.hero_image fill-768x500 jpegquality-40 as hero_image_mobile %}
        <div class="donate-landing-hero__image--mobile">
            <img src="{{ hero_image_mobile.url}}" alt="{{ hero_image_mobile.alt }}" />
        </div>

        <h1 class="donate-landing-hero__title">{{ page.title }}</h1>

        <div class="hero__inner hero__inner--video wrapper wrapper--large wrapper--padding">
            {% if page.hero_video_cta and page.hero_video %}
                {% include "patterns/molecules/donate-video-modal/donate-video-modal.html" with value=page back_label="Back to make a donation" %}
            {% endif %}

            <div class="hero-widget hero-widget--donate-landing{% if page.show_donate_slider %} hero-widget--slider{% endif %}">
                <div class="hero-widget__corner"></div>

                <div class="hero-widget__inner">
                    <span class="hero-widget__connectors"></span>
                    <span class="hero-widget__connectors--extra"></span>

                    <h2 class="hero-widget__heading">{{ page.donate_form_heading }}</h2>

                    {% if page.totaliser %}
                        {% include "patterns/molecules/totaliser/totaliser.html" with target=page.totaliser.target_amount total=page.totaliser.total_amount %}
                    {% endif %}

                    <p class="hero-widget__summary">{{ page.hero_summary }}</p>

                    <div class="hero-widget__content">

                        {% if page.allow_monthly_donation and page.allow_one_off_donation %}
                            <div class="hero-widget__button-group button-group button-group--white">
                                <button
                                    class="button-group__button"
                                    id="donate__form__toggle-monthly"
                                    {% if page.default_to_monthly %}disabled{% endif %}
                                >
                                    <span class="button-group__button-text">
                                        {% trans "Monthly" %}
                                    </span>
                                </button>

                                <button
                                    class="button-group__button"
                                    id="donate__form__toggle-single"
                                    {% if page.default_to_single %}disabled{% endif %}
                                >
                                    <span class="button-group__button-text">
                                        {% trans "One-off" %}
                                    </span>
                                </button>
                            </div>
                        {% endif %}

                        {% if page.allow_monthly_donation %}
                            <form method="get" action="{% url 'donate:personal_details' %}" id="donate_form--monthly" {% if page.default_to_single %}hidden{% endif %} class="js-donate-usage">
                                {# Show slider if an editor has enabled it #}
                                {% if page.show_donate_slider %}
                                    <div class="donate-slider__container">
                                        <div id="donate_slider--monthly-icon" class="donate-slider--icon">
                                            {# Child element injected here, if supplied #}
                                        </div>
                                        <div id="donate_slider--monthly-text" class="donate-slider--text">
                                            {# Child element injected here, if supplied #}
                                        </div>
                                    </div>

                                    <div id="donate_slider--monthly" class="donate-landing__slider" data-suggested-amount="{{monthly_suggested_amount}}"></div>

                                    {% if is_euro %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input">
                                            <div class="form-item form-item--decimal_field form-item--number_input donate-landing-hero__form-input">
                                                <label for="{{ monthly_form.amount.id_for_label }}">{{ monthly_form.amount.label }}</label>
                                                <div class="form-item__wrapper--euro">
                                                    {{ monthly_form.amount.errors }}
                                                    <input type="number" id="id_amount" name="amount" value="{{ monthly_form.amount.value|to_euro:current_site }}" min="0.01" step="0.01" required="">
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input donate-landing-hero__form-input--slider">
                                            {% render_form_field monthly_form.amount %}
                                        </div>
                                    {% endif %}

                                {% else %}

                                    {% if is_euro %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input">
                                            <div class="form-item form-item--decimal_field form-item--number_input donate-landing-hero__form-input">
                                                <label for="{{ monthly_form.amount.id_for_label }}">{{ monthly_form.amount.label }}</label>
                                                <div class="form-item__wrapper--euro donate-landing-hero__form-input--monthly">
                                                    {{ monthly_form.amount.errors }}
                                                    <input type="number" id="id_amount" name="amount" value="{{ monthly_form.amount.value|to_euro:current_site }}" min="0.01" step="0.01" required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="donate-landing__usage">
                                            {% include "patterns/atoms/svg/colour-icons/icon-color-speechbubble-green.html" with aria_hide=True %}
                                            <p>Could fund <span class="js-donation-usage-slot"><b>1</b> call</span> for help</p>
                                        </div>
                                    {% else %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input--monthly">
                                            {% render_form_field monthly_form.amount %}
                                        </div>
                                        <div class="donate-landing__usage">
                                            {% include "patterns/atoms/svg/colour-icons/icon-color-speechbubble-green.html" with aria_hide=True %}
                                            <p>Could fund <span class="js-donation-usage-slot"><b>1</b> call</span> for help every month</p>
                                        </div>
                                    {% endif %}
                                {% endif %}

                            {% render_form_field monthly_form.campaign_id %}
                            {% render_form_field monthly_form.frequency %}
                            {% render_form_field monthly_form.currency %}

                            <div class="js-donate-button-wrapper">
                                {% include "patterns/atoms/buttons/button--button.html" with label="Donate Now" large=True classes="button--secondary donate-landing-hero__donate-button" %}
                            </div>

                            {% if not is_euro and page.show_text_to_donate_cta %}
                                <div class="donate-landing__mobile-cta" aria-live="polite" data-mobile-cta>
                                    <a class="donate-landing__mobile-cta--link" href="sms://70470;?&body=LISTEN5">Text LISTEN5 to 70470 to start donating £5 a month*</a>
                                    <p class="donate-landing__mobile-cta--text">Texts cost £5 plus two standard rate messages*</p>
                                </div>
                            {% endif %}

                            {% include "patterns/molecules/payments/payment-icons--monthly.html" %}
                            </form>
                        {% endif %}

                        {% if page.allow_one_off_donation %}
                            <form method="get" action="{% url 'donate:personal_details' %}" id="donate_form--single" {% if page.default_to_monthly %}hidden{% endif %} class="js-donate-usage js-donate-button-wrapper">
                                {% if page.show_donate_slider %}
                                    <div class="donate-slider__container">
                                        <div id="donate_slider--single-icon" class="donate-slider--icon">
                                            {# Child element injected here, if supplied #}
                                        </div>
                                        <div id="donate_slider--single-text" class="donate-slider--text">
                                            {# Child element injected here, if supplied #}
                                        </div>
                                    </div>

                                    <div id="donate_slider--one_off" class="donate-landing__slider" data-suggested-amount="{{single_suggested_amount}}"></div>

                                    {% if is_euro %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input">
                                            <div class="form-item form-item--decimal_field form-item--number_input donate-landing-hero__form-input">
                                                <label for="{{ one_off_form.amount.id_for_label }}">{{ one_off_form.amount.label }}</label>
                                                <div class="form-item__wrapper--euro">
                                                    {{ one_off_form.amount.errors }}
                                                    <input type="number" id="id_amount" name="amount" value="{{ one_off_form.amount.value|to_euro:current_site }}" min="0.01" step="0.01" required="">
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input donate-landing-hero__form-input--slider">
                                            {% render_form_field one_off_form.amount %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if is_euro %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input">
                                            <div class="form-item form-item--decimal_field form-item--number_input donate-landing-hero__form-input">
                                                <label for="{{ one_off_form.amount.id_for_label }}">{{ one_off_form.amount.label }}</label>
                                                <div class="form-item__wrapper--euro">
                                                    {{ one_off_form.amount.errors }}
                                                    <input type="number" id="id_amount" name="amount" value="{{ one_off_form.amount.value|to_euro:current_site }}" min="0.01" step="0.01" required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="donate-landing__usage">
                                            {% include "patterns/atoms/svg/colour-icons/icon-color-speechbubble-green.html" with aria_hide=True %}
                                            <p>Could fund <span class="js-donation-usage-slot"><b>1</b> call</span> for help</p>
                                        </div>
                                    {% else %}
                                        <div class="donate-landing-hero__form-input donate-landing-hero__form-input">
                                            {% render_form_field one_off_form.amount %}
                                        </div>
                                        <div class="donate-landing__usage">
                                            {% include "patterns/atoms/svg/colour-icons/icon-color-speechbubble-green.html" with aria_hide=True %}
                                            <p>Could fund <span class="js-donation-usage-slot"><b>1</b> call</span> for help</p>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {# Fundraising Checkbox here #}
                                {% if page.show_donate_pay_in_button %}
                                    <div class="form-item">
                                        <label for="pay-in" class="form-item__label--checkbox_input"><input type="checkbox" id="pay-in" name="pay-in">Are you paying in money from fundraising?</label>
                                    </div>
                                {% endif %}

                                {% render_form_field one_off_form.campaign_id %}
                                {% render_form_field one_off_form.frequency %}
                                {% render_form_field one_off_form.currency %}
                                {% include "patterns/atoms/buttons/button--button.html" with label="Donate Now" large=True classes="button--secondary donate-landing-hero__donate-button" %}
                                {% include "patterns/molecules/payments/payment-icons--single.html" %}
                            </form>
                        {% endif %}
                    </div> {# /.hero-widget__content #}
                </div> {# /.hero-widget__inner #}
            </div> {# /.hero-widget #}
        </div>
    </div> {# /.hero--donate-landing #}

    <div class="wrapper wrapper--donate-landing">

        <div class="wrapper wrapper--large wrapper--padding-for-page">

            <section class="section section--donate-landing">
                {% include "patterns/atoms/corners/corners.html" with size="page" %}

                {# Leaderboard #}
                {# {% include "patterns/molecules/leaderboard/leaderboard.html" %} #}

                <div class="donate-landing__examples-heading">
                    <h2 class="heading-secondary">{{ page.donation_examples_heading }}</h2>
                </div>

                {% if page.allow_monthly_donation and page.allow_one_off_donation %}
                    <div class="button-group button-group--centered">
                        <button class="button-group__button" id="donate__examples__toggle-monthly"
                        {% if page.default_to_monthly %}disabled{% endif %}>
                            <span class="button-group__button-text">
                                {% trans "Monthly" %}
                            </span>
                        </button>
                        <button class="button-group__button" id="donate__examples__toggle-single"
                        {% if page.default_to_single %}disabled{% endif %}>
                            <span class="button-group__button-text">
                                {% trans "One-off" %}
                            </span>
                        </button>
                    </div>
                {% endif %}

                {% if page.allow_monthly_donation %}
                    <div class="donate-landing__examples" id="donate__examples--monthly" {% if page.default_to_single %}hidden{% endif %}>
                        <div class="stat-block stat-block--donate-landing">
                            {% for example in page.donation_examples_monthly %}
                                {% include "patterns/molecules/streamfield/blocks/stat_block.html" with value=example.value frequency="monthly" is_euro=is_euro link=True currency=currency %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if page.allow_one_off_donation %}
                    <div class="donate-landing__examples" id="donate__examples--single" {% if page.default_to_monthly %}hidden{% endif %}>
                        <div class="stat-block stat-block--donate-landing">
                            {% for example in page.donation_examples_one_off %}
                                {% include "patterns/molecules/streamfield/blocks/stat_block.html" with value=example.value frequency="single" link=True currency=currency %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {# Call to donate #}
                <aside class="js-sticky-cta">
                    <a href="#hero" class="donate-landing__call-to-donate js-smooth-scroll">
                        <span class="donate-landing__call-to-donate__sticky-text">{{ page.call_to_donate }}</span>
                        <span class="donate-landing__call-to-donate__sticky-link">Donate today</span>
                    </a>
                </aside>

            </section> {# /.section--donate-landing #}

            <div class="donate-landing__key-info-text donate-landing__key-info-text--alt">
                <div class="section section--page-padding">
                    <h2 class="heading-secondary">{{ page.where_money_goes_heading }}</h2>
                    <div class="donate-landing__text-with-icon">
                        {% render_icon page.where_money_goes_icon "icon icon--x-large" %}
                        <p>{{ page.where_money_goes_description }}</p>
                    </div>
                </div>
            </div>

        </div> {# /.wrapper--large #}

    </div> {# /.wrapper--donate-landing #}

    {% include "patterns/molecules/info-panel/info-panel.html" with classes="info-panel--standout" value=page %}

    {% comment %}
        For cleaner code, we should be able to make this use a different template.
        It needs:
        - .story-call-to-action-block--dark
        - .button--alt
        - Not to have the margin that the streamfield block provides.
    {% endcomment %}
    <div class="wrapper wrapper--donate-landing-cta">
        <div class="wrapper--small">
            {# Story CTA #}
            <div class="donate-landing__story-cta">
                {{ page.story_cta }}
            </div>
        </div>
    </div>

    {% include "patterns/molecules/related-pages/related-pages--large.html" with heading=page.more_info_heading related_pages=page.more_info_links pattern="diamonds" classes="related-large--donate-landing" %}

</article>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/donate.js' %}"></script>
    {% if single_slider_values and page.allow_one_off_donation %}
        {{ single_slider_values|json_script:"single_slider_values" }}
    {% endif %}
    {% if monthly_slider_values and page.allow_monthly_donation %}
        {{ monthly_slider_values|json_script:"monthly_slider_values" }}
    {% endif %}
    <script type="text/javascript">
        window.donateConfig = {
            'monthlyGiving': '{{ page.allow_monthly_donation }}',
            'singleGiving' : '{{ page.allow_one_off_donation }}',
            'monthlyAmount': '{{ monthly_suggested_amount }}',
            'singleAmount': '{{ single_suggested_amount }}',
            'isEuro' : '{{ is_euro }}',
        };
        {% if page.totaliser %}
            window.totaliserConfig = {
                'targetValue': '{% if is_euro %}{{ page.totaliser.target_amount|floatformat|to_euro:current_site }}{% else %}{{ page.totaliser.target_amount|floatformat }}{% endif %}',
                'raisedValue': '{% if is_euro %}{{ page.totaliser.total_amount|floatformat|to_euro:current_site }}{% else %}{{ page.totaliser.total_amount|floatformat }}{% endif %}',
            };
        {% endif %}
    </script>
{% endblock %}
