{% extends "patterns/templates/donate-form-page.html" %}
{% load i18n form_tags helper_tags icon_tags loqate_tags static wagtailimages_tags humanize %}

{% block title %}
    {% if is_pay_in %}
        {% trans "Your information | Fundraising pay-in" %}
    {% else %}
        {% trans "Donate - your information" %}
    {% endif %}
{% endblock title %}

{% block content_inner %}
    <div class="payments donate" id="donate__personal-details-wrapper">

        {% if is_pay_in %}
            <h1>{% trans "Your payment" %}</h1>
        {% else %}
            <h1>
                {% if payment_frequency == 'monthly' %}
                    {% trans "Your monthly donation" %}
                {% else %}
                    {% trans "Your donation" %}
                {% endif %}
            </h1>
        {% endif %}

        {% if not is_pay_in %}
            <div class="donate-bar">
                <div class="donate-bar__top">
                    <div class="donate-bar__info">
                        {% render_icon "icon-color-piggy-bank-blank" "donate-bar__icon" %}
                        <p id="donate__heading--single" {% if not payment_frequency == 'single' %}hidden{% endif %}>{% trans "You're making a single donation of" %}</p>
                        <p id="donate__heading--monthly" {% if not payment_frequency == 'monthly' %}hidden{% endif %}>{% trans "You're making a monthly donation of" %}</p>
                        <p id="donate__heading--currency" class="donate__amount-display">{% if is_euro %}€{% else %}£{% endif %}<span id="donate__amount__display">{{ form.amount.value|floatformat:"2"|intcomma }}</span></p>
                    </div>

                    <div class="donate__amount" id="donate__amount">
                        <a id="donate__change-amount" href="#donate__amount-edit">Change amount or currency</a>
                    </div>
                </div>

                <div class="donate-bar__edit" id="donate__amount-edit" hidden>
                    <div class="donate-bar__edit-wrapper currency-list">
                        {# the form attribute here must match the id of the form on line 66 #}
                        {% include 'patterns/molecules/forms/form_field.html' with field=form.currency form_attr="gdpr-form" %}
                    </div>
                    <div class="donate-bar__edit-wrapper">
                        <label class="donate-bar__edit-label" for="change-amount-input">Amount</label>
                        <span id="donate_amount-currency" class="form__input__prefix">{% if is_euro %}€{% else %}£{% endif %}</span>
                        <input type="number" value="{{ form.amount.value }}" step="0.01" min="1" max="{{ donation_max_amount }}" id="change-amount-input">
                    </div>
                    <button class="button donate-bar__edit-confirm" id="donate__amount__save">{% trans 'Confirm changes' %}</button>
                </div>
            </div>
        {% endif %}
    </div>

    {% if not is_pay_in %}
        <div class="donate__options">
            {% if allow_monthly_donation and not payment_frequency == 'monthly' %}
                <p class="donate__frequency">
                    <a id="donate__change-frequency" href="#" class="donate__frequency-link">{% trans "Switch to a monthly donation" %}</a>
                </p>
            {% endif %}
        </div>
    {% endif %}

    <div class="donate__form-wrapper" id="">
        {# JS will call reportValidity to hook into default validation as the same time as checking other errors - so we use novalidate here to stop it running separately #}
        <form method="post" class="form" data-donation-form data-currency={{ form.currency.value }}  id="gdpr-form" novalidate>
            <div class="form__container form__container--flex">
                <div class="form__section form__section--main-column">

                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="form__errors">{{ error }}</div>
                        {% endfor %}
                    {% elif form.errors and not form.captcha.errors %}
                        <div class="form__errors">
                            There were some errors with your form. Please amend the fields highlighted below.
                        </div>
                    {% elif request.session.gateway_address_errors %}
                        <div class="form__errors">
                            <p>We were unable to take payment because the payment processor reported an error with your address information:</p>
                            {% for error in request.session.gateway_address_errors %}
                            <p><strong>{{ error }}</strong></p>
                            {% endfor %}
                            Please correct these errors and try again.
                        </div>
                    {% endif %}

                    {% if form.captcha.errors %}
                        <div class="form__errors">{{ form.captcha.errors }}</div>
                    {% endif %}

                    {{ form.captcha }}

                    {% include "patterns/pages/donate/partials/personal_detail_fields.html" %}
                </div>

                {# The following fields are full-width #}
                {% if not is_euro and not is_pay_in %}
                    {% include "patterns/pages/donate/partials/gift_aid_block.html" %}
                {% endif %}

                {% include "patterns/pages/donate/partials/donate_gdpr_marketing_form_fields.html" with is_pay_in=is_pay_in %}

                <section class="section section--form-darker-grey">
                    {% block payment_widgets %}
                        {% comment %} Payment widgets for Single, Pay-in and monthly are inserted here {% endcomment %}
                    {% endblock payment_widgets %}
                </section>
                {# /.form__section--full-width #}
                {% include "patterns/molecules/payments/payments-sidebar.html" %}
            </div>
            {# /.form__container--flex #}
        </form>
    </div>
    {# /.donate__form-wrapper #}
{% endblock content_inner %}

{% block extra_js %}
    {% loqate_script %}
    {{ tag_manager_events|json_script:"tag_manager_events" }}
    <script src="{% static 'js/donate.js' %}"></script>
    {% if is_pay_in %}{{ fundraising_options|json_script:"payment_origin_options" }}{% endif %}
{% endblock extra_js %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include "patterns/organisms/footer/footer.html" %}
{% endblock footer %}
