{% extends "patterns/templates/donate-form-page.html" %}
{% load i18n form_tags helper_tags static wagtailimages_tags humanize %}

{% block title %}{% if is_pay_in %}{% trans "Payment details | Fundraising pay-in" %}{% else %}{% trans "Donate - payment details" %}{% endif %}{% endblock %}

{% block progress_bar %}
    {% include "patterns/pages/donate/partials/progress_bar.html" with classes="second-active" currency_symbol=currency_symbol %}
{% endblock %}

{% block content_inner %}
    {% with amount=personal_details.amount|floatformat:"2"|intcomma gift_aid_amount=personal_details.gift_aid_amount|floatformat:"2"|intcomma %}

        <div id="payments__payment-wrapper">
            {% if gift_aid_allowed and currency == "GBP" %}
                {% if is_pay_in %}
                    <h1 class="wrapper--small-width">{% blocktrans %}Boost your payment of {{ currency_symbol }}{{ amount }} to <span class="donate__gift-aid-figure">{{ currency_symbol }}{{ gift_aid_amount }}</span> at no extra cost to you with Gift Aid{% endblocktrans %}</h1>
                {% else %}
                    <h1 class="wrapper--small-width">{% blocktrans %}Boost your single donation of {{ currency_symbol }}{{ amount }} to <span class="donate__gift-aid-figure">{{ currency_symbol }}{{ gift_aid_amount }}</span> at no extra cost to you with Gift Aid{% endblocktrans %}</h1>
                {% endif %}
            {% else %}
                {% if is_pay_in %}
                    <h1 class="wrapper--small-width">{% blocktrans %}You're making a payment of {{ currency_symbol }}{{ amount }}{% endblocktrans %}</h1>
                {% else %}
                    <h1 class="wrapper--small-width">{% blocktrans %}You're making a single donation of {{ currency_symbol }}{{ amount }}{% endblocktrans %}</h1>
                {% endif %}
            {% endif %}

            <form class="form" id="payments__braintree-form" method="post" currency="{{ currency }}">
                {% csrf_token %}

                {% if gift_aid_allowed and currency == "GBP" %}
                    <p class="wrapper--small-width">{% trans "If you are a UK taxpayer, by ticking the box below the government will increase your donation by 25% and it won't cost you a penny." %}</p>

                    {% include "patterns/pages/donate/partials/gift_aid_block.html" %}
                {% endif %}

                {% render_form_field form.braintree_nonce %}
                {% render_form_field form.payment_mode %}
            </form>

            {% if form.non_field_errors %}
                <div id="payments__braintree-errors-form" class="payments__braintree-error">{{ form.non_field_errors }}</div>
            {% endif %}

            {% if is_pay_in %}
                <h2 class="heading-block">{% trans "Pay with" %}</h2>
            {% else %}
                <h2 class="heading-block heading-block--xxl">{% trans "Donate with" %}</h2>
            {% endif %}

            {% include "patterns/molecules/payments/braintree-payment-widgets.html" %}
        </div>

    {% endwith %}
{% endblock %}

{% block extra_js %}
    {{ tag_manager_events|json_script:"tag_manager_events" }}
    <script src="{% static 'js/donate.js' %}"></script>
    <script src="{% static 'js/payments.js' %}"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
{% endblock %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}