{% extends "patterns/pages/donate/donate_personal_details_view.html" %}
{% load i18n form_tags helper_tags static wagtailimages_tags humanize %}

{% block payment_widgets %}
    <div id="payments__payment-wrapper">
        {% render_form_field form.braintree_nonce %}
        {% render_form_field form.payment_mode %}

        <h2>
            <span class="donate__step" id="payment-step-number">
                {% if is_pay_in %}{% trans "3" %}{% else %}{% trans "4" %}{% endif %}
            </span>
            {% trans "Payment" %}
        </h2>
        {% include "patterns/molecules/payments/braintree-payment-widgets.html" %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/payments.js' %}"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
{% endblock %}
