{% extends "patterns/base_page.html" %}
{% load i18n helper_tags static wagtailcore_tags wagtailimages_tags icon_tags humanize %}

{% block content %}

{% include "patterns/molecules/hero/hero--image-background.html" with pattern="diamonds" value=page class="thankyou" %}

<div class="wrapper wrapper--large wrapper--padding-for-page" id="main-content">
    <section class="section section--donate">
        <div class="payments__complete">
            <div class="payments__message">
                <h1>{% blocktrans with name=completed_transaction_details.first_name %}Thank you, {{ name }}{% endblocktrans %}</h1>
                 {% if page.thank_you_summary %}
                    {{ page.thank_you_summary|richtext }}
                {% endif %}
                {% include "patterns/pages/donate/partials/social_block.html" with values=social_share_settings %}
            </div>
            <div class="payments__amount-box">
                {% render_icon "icon-color-star" "" %}
                {% if completed_transaction_details.payment_frequency == 'single' %}
                <h4>
                    {% if is_pay_in %}
                        {% if completed_transaction_details.payment_method == 'card' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} payment{{ branch_donation }}through credit card has been successful.{% endblocktrans %}
                        {% elif completed_transaction_details.payment_method == 'paypal' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} payment{{ branch_donation }}through PayPal has been successful.{% endblocktrans %}
                        {% elif completed_transaction_details.payment_method == 'googlepay' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} payment{{ branch_donation }}through Google Pay has been successful.{% endblocktrans %}
                        {% elif completed_transaction_details.payment_method == 'applepay' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} payment{{ branch_donation }}through Apple Pay has been successful.{% endblocktrans %}
                        {% endif %}
                    {% else %}
                        {% if completed_transaction_details.payment_method == 'card' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} donation{{ branch_donation }}through credit card has been successful.{% endblocktrans %}
                        {% elif completed_transaction_details.payment_method == 'paypal' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} donation{{ branch_donation }}through PayPal has been successful.{% endblocktrans %}
                        {% elif completed_transaction_details.payment_method == 'googlepay' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} donation{{ branch_donation }}through Google Pay has been successful.{% endblocktrans %}
                        {% elif completed_transaction_details.payment_method == 'applepay' %}
                            {% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your {{ currency_symbol }}{{ amount }} donation{{ branch_donation }}through Apple Pay has been successful.{% endblocktrans %}
                        {% endif %}
                    {% endif %}
                </h4>
                <p>{% blocktrans %}A confirmation email will be sent straight to your email address.{% endblocktrans %}</p>
                {% else %}
                    {% if completed_transaction_details.payment_method == 'gocardless' %}
                        <h4>{% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your recurring direct debit of  {{ currency_symbol }}{{ amount }} has been setup successfully.{% endblocktrans %}</h4>
                    {% elif completed_transaction_details.payment_method == 'paypal' %}
                        <h4>{% blocktrans with amount=completed_transaction_details.amount|floatformat:"2"|intcomma %}Your recurring PayPal payment of {{ currency_symbol }}{{ amount }} has been setup successfully.{% endblocktrans %}</h4>
                    {% endif %}
                    <p>{% blocktrans %}A confirmation email will be sent straight to your email address. You will also receive an email within 3 working days confirming that your Direct Debit has been set up. The name on your bank statement will be &quot;Samaritans&quot;.{% endblocktrans %}</p>
                {% endif %}

                <p><small>{% blocktrans with ref=completed_transaction_details.transaction_id %}Your transaction reference is: {{ ref }}{% endblocktrans %}</small></p>
            </div>
        </div>

        <hr class="hr hr--donate-thank-you" />

        {% include_block page.body %}

        {% include "patterns/atoms/corners/corners.html" with size="page" %}
    </section>
</div>

<section class="section section--page-end-cta">
    <div class="wrapper wrapper--large wrapper--padding-for-page">
        {% include "patterns/molecules/tabccordion/tabccordion--donate-onward-actions.html" with title=page.onward_action_heading %}
    </div>
</section>

{% endblock %}


{% block extra_js %}
    {% if not donation_cookie_set %}
        {{ tag_manager_events|json_script:"tag_manager_events" }}
    {% endif %}
{% endblock %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}
