{% extends "patterns/pages/donate/donate_personal_details_view.html" %}
{% load i18n form_tags helper_tags icon_tags static wagtailimages_tags humanize %}
{% block title %}
    {% if is_pay_in %}
        {% trans "Your information | Fundraising pay-in" %}
    {% else %}
        {% trans "Donate - your information" %}
    {% endif %}
{% endblock title %}

{% block payment_widgets %}
<div>
    <h2><span class="donate__step" id="payment-step-number">{% trans "4" %}</span>{% trans "Donate with" %}</h2>
    {% include "patterns/molecules/payments/monthly-payment-widgets.html" %}
</div>
{% endblock payment_widgets %}

{% block extra_js %}
    {{ block.super }}
    {{ tag_manager_events|json_script:"tag_manager_events" }}
    <script src="{% static 'js/payments_monthly.js' %}"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>

    <script>
    var monthlyDonationUrls = {
        "gocardless": "{% url 'donate:payment_monthly_gocardless' %}",
        "braintree": "{% url 'donate:payment_monthly_braintree' %}",
        "braintree_tokenization_key": "{{ braintree_tokenization_key }}"
    }
    </script>
{% endblock extra_js %}
<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include "patterns/organisms/footer/footer.html" %}
{% endblock footer %}
