{% extends "patterns/templates/donate-form-page.html" %}
{% load form_tags helper_tags static i18n wagtailimages_tags humanize %}

{% block title %}{% trans "Payment details | Donate" %}{% endblock %}

{% block progress_bar %}
    {% include "patterns/pages/donate/partials/progress_bar.html" with classes="second-active" %}
{% endblock %}

{% block content_inner %}

{% if gift_aid_allowed %}
    <h1 class="wrapper--small-width">{% blocktrans with amount=payment_amount|floatformat:"2"|intcomma gift_aid_amount=gift_aid_amount|floatformat:"2"|intcomma %}Boost your monthly donation of £{{ amount }} to <span class="donate__gift-aid-figure">£{{ gift_aid_amount }}</span> at no extra cost to you with Gift Aid{% endblocktrans %}</h1>
{% else %}
    <h1 class="wrapper--small-width">{% blocktrans with amount=payment_amount|floatformat:"2"|intcomma %}You're making a monthly donation of £{{ amount }}{% endblocktrans %}</h1>
{% endif %}


{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="form__errors">{{ error }}</div>
    {% endfor %}
{% elif form.errors %}
    <div class="form__errors">
        There were some errors with your form. Please amend the fields highlighted below.
    </div>
{% endif %}

{% if gift_aid_allowed %}
    <h2 class="wrapper--small-width">{% blocktrans with amount=payment_amount|floatformat:"-2" gift_aid_amount=gift_aid_amount|floatformat:"-2" %}Boost your monthly donation of £{{ amount }} by £{{ gift_aid_amount }} at no extra cost with Gift Aid{% endblocktrans %}</h2>

    <p class="wrapper--small-width">{% trans "If you are a UK taxpayer, by ticking the box below the government will increase your donation by 25% and it won't cost you a penny." %}</p>

    {% include "patterns/pages/donate/partials/gift_aid_block.html" %}
{% endif %}

{% comment%} temporary disable until more than one payment method is available.
<h2 class="heading-block heading-block--xxl">{% trans "Donate with" %}</h2>
{% endcomment %}

{% include "patterns/molecules/payments/monthly-payment-widgets.html" %}

{% endblock %}

{% block extra_js %}
    {{ tag_manager_events|json_script:"tag_manager_events" }}
    <script src="{% static 'js/payments_monthly.js' %}"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
{% endblock %}
