{% extends "patterns/base_page.html" %}
{% load i18n %}

{% block content %}
<div class="wrapper" id="main-content">
    <section class="section section--main">
        <h1>{% trans "Error" %}</h1>
        <p>{% trans "We are unable to process donations on our website at the moment. Please call our Supporter care team on 03709 00 00 32, or try again later." %}</p>
    </section>
</div>
{% endblock %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}
