{% extends "patterns/pages/intranet/standardpages/information_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}{{ block.super }} template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero.html" with search_page=True classes="hero--search" %}
{% endblock %}

{% block page_content %}
    {% include "patterns/organisms/search/search-filters.html" with ordering=True intranet=True %}

    {% with count=search_results.paginator.count %}
        <p class="intro intro--margin-small">
            {% if search_query %}{{ count }} result{{ count|pluralize }} found for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}
        </p>
    {% endwith %}

    {% if search_results %}
        {% for value in search_results %}
            {% include "patterns/molecules/listing-item/listing-item.html" with value=value.specific %}
        {% endfor %}

        {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}

    {% elif search_query and not search_picks %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}
