{% load wagtailcore_tags form_tags i18n %}

<section class="section section--donate-marketing streamfield--dark-bg">
    <div class="section__connectors--extra"></div>
    <h2>{% trans "Stay in touch" %}</h2>
    <div class="donate__marketing-intro">
        <p class="donate__marketing-meta">
            {% trans "Samaritans volunteers are there 24/7, 365 days a year for anyone struggling to cope. But we can't do it alone, which is why we'd like to keep in touch about our vital work and show you how, together, we can ensure fewer people die by suicide." %}
        </p>
        {% include "patterns/atoms/svg/icons/icon-color-envelope-open.html" with aria_hide="true" %}
    </div>

    <div class="js-select-all-checkbox-toggle">
        <div class="form-item-wrapper form-item-wrapper--group" id="donate__contact-prefs">
            {% render_form_field form.prefs_updates %}
            {% render_form_field form.prefs_volunteering %}
        </div>
        <p><a class="donate__marketing-select-all js-select-all" id="donate__select-all-contact-prefs"
                href="#donate__contact-prefs">Or check all</a></p>
    </div>

    <h3>{% trans "How would you like to hear from us?" %}</h3>
    <p class="donate__marketing-meta">
        {% trans "Would you like us to stay in touch by:" %}
    </p>

    <div class="form-item-wrapper form-item-wrapper--radio-select-inline">
        {% render_form_field form.prefs_phone %}
        {% render_form_field form.prefs_sms %}
        {% render_form_field form.prefs_email %}
    </div>

    <small class="donate__marketing-meta donate__marketing-meta--small">
        <p>We will keep your details safe and you can change your preferences at any time by calling our Supporter Care
            Team on
            03709 00 00 32. Or you can email {{ VOLUNTEERING_CONTACT_EMAIL_ADDRESS|urlize }} or write to us at
            Samaritans, The Upper Mill, Kingston
            Road, Ewell KT17 2AF. We&apos;d love to hear from you.</p>

        <p>Samaritans is made up of branches across the UK, the Republic of Ireland, the Channel Islands and the Isle of
            Man, some
            of which are registered as independent charities. Your information will only be used for the purposes of
            Samaritans and
            its branches.</p>

        <p>For more information on how Samaritans handles and protects your personal information, please see our <a
                href="{% slugurl 'privacy-statement' %}">privacy statement</a>.</p>
    </small>

</section>
