{% extends "patterns/templates/index_page/listing_template_website.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}{{ block.super }} template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero.html" with hero_color="emerald" pattern="alt" hero_short=True hero_title="Search" %}
{% endblock %}

{% block wrapper_classes %}{% endblock %}

{% block listing_page_pattern %}{% endblock %}

{% block section_classes %}
    section--website-search-page
{% endblock %}

{% block filters_bar %}
    <form action="{% url 'search' %}" method="get" role="search" class="form search search--page search--website">
        <label class="hidden" for="search_page">Search</label>
        <input class="search__input" id="search_page" type="text" placeholder="Search…" name="query"{% if search_query %} value="{{ search_query }}{% endif %}">
        <button class="search__button search__button--with-text button button--search" type="submit">
            <span class="search__button-text">Search</span>
            {% include "patterns/atoms/svg/icons/icon-search.html" with classes="icon button__icon search__icon" title="Search" %}
        </button>
    </form>
{% endblock %}

{% block listings %}
    {% if search_query %}
    {% with count=search_results.paginator.count %}
        <p class="intro intro--margin-small">
            {{ count }} result{{ count|pluralize }} found for &ldquo;{{ search_query }}&rdquo;
        </p>
    {% endwith %}
    {% endif %}

    {% if search_results %}
        <ul class="news-list">
            {% with classes="listing-item--website" search_result=True %}
                {% for value in search_results %}
                    {% if value.description %}
                    <li>
                        {% include "patterns/molecules/listing-item/listing-item.html" with value=value.specific description=value.description %}
                    </li>
                    {% else %}
                    <li>
                        {% include "patterns/molecules/listing-item/listing-item.html" with value=value.specific %}
                    </li>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </ul>

        {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}
    {% endif %}

{% endblock %}
