{% load wagtailcore_tags util_tags %}
<form action="{% pageurl page %}" method="post" class="form {{ form_classes }}">
    <div class="form__container">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form__errors">
                There were some errors with your form. Please amend the fields highlighted below.
            </div>
        {% endif %}

        {% for field in form %}
            {% include 'patterns/molecules/forms/form_field.html' with field=field %}
        {% endfor %}

        <button class="form__submit button" type="submit">
            <div class="button__shadow"></div>
            <div class="button__inner">
                {% if page.action_text %}{{ page.action_text|safe }}{% else %}Submit Feedback{% endif %}
                {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" %}
            </div>
        </button>
    </div>
</form>
