<ul class="progress-indicator">
    {% include "patterns/molecules/volunteer_applications/progress-indicator/progress-indicator-step.html" with step=1 text="About you" current_step=current_step %}
    {% include "patterns/molecules/volunteer_applications/progress-indicator/progress-indicator-step.html" with step=2 text="Location" current_step=current_step %}
    {% include "patterns/molecules/volunteer_applications/progress-indicator/progress-indicator-step.html" with step=3 text="Confirm" current_step=current_step %}
</ul>
