{% load wagtailcore_tags navigation_tags icon_tags %}

<div class="nav__dropdown">
<div class="nav nav--subnav" role="menu">
    <span class="nav__triangle"></span>
    <div class="nav__item nav__heading nav__heading--show-mobile nav__heading--top-level" role="none">
        {% if item.value.link.link_type == 'donation' %}
            {% get_default_donation_page as donate_page %}
            {% include "patterns/molecules/navigation/includes/menu_item.html" with page=donate_page title=item.value.link.title has_chevron=True classes="nav__link nav__link--description" %}
        {% else %}
            {% include "patterns/molecules/navigation/includes/menu_item.html" with page=item.value.link.page title=item.value.link.title has_chevron=True classes="nav__link nav__link--description" %}
        {% endif %}
    </div>
    <ul class="grid grid--3col grid--subnav">
        <li class="nav__item nav__heading nav__heading--show-mobile" role="none">
            {% with title_link=item.value.icon_link_list.title %}
                {% if title_link.link_type == 'donate' %}
                    {% get_default_donation_page as donate_page %}
                    <a class="nav__link" href="{% pageurl donate_page %}">{% firstof title_link.title donate_page.title %}</a>
                {% else %}
                    <a class="nav__link" href="{% pageurl title_link.page %}">{% firstof title_link.title title_link.page.title %}</a>
                {% endif %}
            {% endwith %}
            <ul class="nav nav--alternate-icon">
                {% for link in item.value.icon_link_list.links %}
                <li class="nav__item" role="none">
                    {% if link.link_type == 'donation' %}
                        {% get_default_donation_page as donate_page %}
                        {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=donate_page title=link.title icon=link.icon classes="nav__link nav__link--with-icon" %}
                    {% else %}
                        {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=link.page title=link.title icon=link.icon classes="nav__link nav__link--with-icon" %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav__item nav__heading nav__heading--show-mobile" role="none">
        {% if item.value.primary_section_index %}
            {% with title_link=item.value.primary_section_index.title %}
                {% if title_link.link_type == 'donation' %}
                    {% get_default_donation_page as donation_page %}
                    <a class="nav__link" href="{% pageurl donation_page %}">{% firstof title_link.title donation_page.title %}</a>
                {% else %}
                    <a class="nav__link" href="{% pageurl title_link.page %}">{% firstof title_link.title title_link.page.title %}</a>
                {% endif %}
            {% endwith %}
            <ul class="nav nav--section-index">
                {% for link in item.value.primary_section_index.links %}
                <li class="nav__item nav__item--with-chevron" role="none">
                    {% include "patterns/atoms/svg/icons/icon-chevron.html" %}
                    {% if link.link_type == 'donation' %}
                        {% get_default_donation_page as donate_page %}
                        {% include "patterns/molecules/navigation/includes/menu_item.html" with page=donate_page title=link.title classes="nav__link nav__link--with-chevron" %}
                    {% else %}
                        {% include "patterns/molecules/navigation/includes/menu_item.html" with page=link.page title=link.title classes="nav__link nav__link--with-chevron" %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if item.value.secondary_section_index %}
            {% with title_link=item.value.secondary_section_index.title %}
                {% if title_link.link_type == 'donation' %}
                    {% get_default_donation_page as donate_page %}
                    <a class="nav__link" href="{% pageurl donation_page %}">{% firstof title_link.title donation_page.title %}</a>
                {% else %}
                    <a class="nav__link" href="{% pageurl title_link.page %}">{% firstof title_link.title title_link.page.title %}</a>
                {% endif %}
            {% endwith %}
            <ul class="nav nav--section-index">
                {% for link in item.value.secondary_section_index.links %}
                <li class="nav__item nav__item--with-chevron" role="none">
                    {% include "patterns/atoms/svg/icons/icon-chevron.html" %}
                    {% if link.link_type == 'donation' %}
                        {% get_default_donation_page as donate_page %}
                        {% include "patterns/molecules/navigation/includes/menu_item.html" with page=donate_page title=link.title classes="nav__link nav__link--with-chevron" %}
                    {% else %}
                        {% include "patterns/molecules/navigation/includes/menu_item.html" with page=link.page title=link.title classes="nav__link nav__link--with-chevron" %}
                    {% endif%}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        <li class="nav__item nav__item--secondary" role="none">
            <ul class="nav nav--extra-links">
                {% for link in item.value.extra_links %}
                <li class="nav__item nav__heading nav__heading--show-mobile" role="none">
                    {% if link.link_type == 'donation' %}
                        {% get_default_donation_page as donate_page %}
                        {% include "patterns/molecules/navigation/includes/menu_item.html" with page=donate_page title=link.title classes="nav__link nav__link--extra" %}
                    {% else %}
                        {% include "patterns/molecules/navigation/includes/menu_item.html" with page=link.page title=link.title classes="nav__link nav__link--extra" %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    {% if item.value.icon_links and item.value.icon_links.0 %}
        <div class="nav__bottom-section">
            <ul class="grid grid--2col grid--subnav-bottom">
                {% for child in item.value.icon_links %}
                    <li class="nav__item nav__heading nav__heading--show-mobile" role="none">
                        {% if child.link_type == 'donation' %}
                            {% get_default_donation_page as donate_page %}
                            {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=donate_page title=child.title summary=child.summary icon=child.icon classes="nav__link nav__link--large-icon" %}
                        {% else %}
                            {% include "patterns/molecules/navigation/includes/menu_item--icon.html" with page=child.page title=child.title summary=child.summary icon=child.icon classes="nav__link nav__link--large-icon" %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <span class="nav__connectors"></span>
</div>
</div>
