{% load wagtailcore_tags %}

<div class="marathon__other-ways-to-get-involved--desktop">
    <section class="section section--page-end-cta-teal">
        <div class="wrapper wrapper--large">
            <h2 class="marathon__other-ways-to-get-involved--title">
                Other ways to get involved
            </h2>

            <div class="marathon__other-ways-to-get-involved--snippets">
                {% for block in ways_to_get_involved_section %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>