{% load i18n helper_tags humanize %}
<div class="tabccordion tabccordion--light-bg tabccordion--payments js-tabccordion">
    <nav>
        <ul class="tabccordion__nav js-tabccordion-nav">
            <li>
                <a href="#tab1" class="tabccordion__nav-item {% if active_payment_mode == 'card' %}is-active{% endif %}">{% trans 'Credit or debit card' %}</a>
            </li>
            <li>
                <a href="#tab2" class="tabccordion__nav-item {% if active_payment_mode == 'paypal' %}is-active{% endif %}">{% trans 'Paypal' %}</a>
            </li>
            <li class="js-google-pay-tab" hidden>
                <a href="#tab3" class="tabccordion__nav-item {% if active_payment_mode == 'googlepay' %}is-active{% endif %}">{% trans 'Google Pay' %}</a>
            </li>
            {% comment %}
            Apple Pay temporarily disabled
            <li class="js-apple-pay-tab" hidden>
                <a href="#tab4" class="tabccordion__nav-item {% if active_payment_mode == 'applepay' %}is-active{% endif %}">{% trans 'Apple Pay' %}</a>
            </li>
            {% endcomment %}
        </ul>
    </nav>

    {% if form.non_field_errors %}<div id="payments__braintree-errors-form" class="payments__braintree-error">{{ form.non_field_errors }}</div>{% endif %}

    <section id="tab1" class="accordion accordion--tabccordion tabccordion__panel js-tabccordion-panel {% if active_payment_mode == 'card' %}is-active{% endif %}">

        <a class="accordion__heading" href="#tab1">
            <h3 class="accordion__heading-text">
                Credit or debit card
            </h3>
            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="accordion__icon" aria_hide="true" %}
        </a>

        <div class="accordion__content tabccordion__content">

            <div id="payments__braintree-errors-card" hidden></div>

            <div class="form-item">
                <label for="card-number">Card number</label>
                <div class="form-item__wrapper payments__braintree-hosted-field" id="card-number"></div>
            </div>

            <div class="form-item">
                <label for="cvv">Card security code</label>
                <div class="form-item__tooltip-wrapper">
                    <div class="form-item__wrapper payments__braintree-hosted-field" id="cvv"></div>
                    {% include "patterns/molecules/tooltip/tooltip.html" with tooltip_classes="tooltip--form" tooltip="The last three digits on the back of the card" %}
                </div>
            </div>

            <div class="form-item">
                <label for="expiration-date">Expiration date</label>
                <div class="form-item__wrapper payments__braintree-hosted-field" id="expiration-date"></div>
            </div>

            <button class="button button--large button--donate-pay" type="submit" id="payments__payment-submit" disabled>
                <div class="button__shadow"></div>
                <div class="button__inner">
                    {% if is_pay_in or is_event_payment %}
                        {% blocktrans with amount=payment_amount|floatformat:"2"|intcomma %}Pay {{ currency_symbol }}{{ amount }}{% endblocktrans %}
                    {% else %}
                        {% blocktrans with amount=payment_amount|floatformat:"2"|intcomma %}Donate {{ currency_symbol }}{{ amount }}{% endblocktrans %}
                    {% endif %}
                    {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" %}
                </div>
            </button>
        </div>
    </section>

    <section id="tab2" class="accordion accordion--tabccordion tabccordion__panel js-tabccordion-panel {% if active_payment_mode == 'paypal' %}is-active{% endif %}">

        <a class="accordion__heading" href="#tab2">
            <h3 class="accordion__heading-text">
                Paypal
            </h3>
            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="accordion__icon" aria_hide="true" %}
        </a>

        <div class="accordion__content tabccordion__content">
            <div id="payments__braintree-errors-paypal" class="payments__braintree-error" hidden></div>
            <div id="payments__paypal-button" class="payments__paypal-button"></div>
        </div>
    </section>

    <section id="tab3" class="accordion accordion--tabccordion tabccordion__panel js-tabccordion-panel js-google-pay-tab {% if active_payment_mode == 'googlepay' %}is-active{% endif %}" hidden>
        <a class="accordion__heading" href="#tab3">
            <h3 class="accordion__heading-text">
                Google Pay
            </h3>
            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="accordion__icon" aria_hide="true" %}
        </a>

        <div class="accordion__content tabccordion__content">
            <div id="payments__braintree-errors-googlepay" class="payments__braintree-error" hidden></div>
            <div id="payments__googlepay-button"></div>
        </div>
    </section>

    {% comment %}
    Apple Pay temporarily disabled
    <section id="tab4" class="accordion accordion--tabccordion tabccordion__panel js-tabccordion-panel js-apple-pay-tab {% if active_payment_mode == 'applepay' %}is-active{% endif %}" hidden>
        <a class="accordion__heading" href="#tab4">
            <h3 class="accordion__heading-text">
                Apple Pay
            </h3>
            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="accordion__icon" aria_hide="true" %}
        </a>

        <div class="accordion__content tabccordion__content">
            <div id="payments__braintree-errors-applepay" class="payments__braintree-error" hidden></div>
            <button id="payments__applepay-button" class="apple-pay-button"></button>
        </div>
    </section>
    {% endcomment %}
</div>

{{ braintree_params|json_script:"payments__braintree-params" }}
