{% load i18n helper_tags humanize %}
<div class="tabccordion tabccordion--light-bg tabccordion--payments js-tabccordion" data-payment-tabccordion>
    <nav>
        <ul class="tabccordion__nav js-tabccordion-nav">

            {# Card payment #}
            <li>
                <a href="#tab1" class="tabccordion__nav-item tabccordion__nav-item--card-payment {% if active_payment_mode == 'card' %}is-active{% endif %}">
                    <svg class="" width="27" height="19">
                        <use xlink:href="#credit-card" />
                    </svg>
                    {% trans 'Credit or debit card' %}
                </a>
            </li>

            {# PayPal #}
            <li>
                <span class="hidden">{% trans 'PayPal' %}</span>
                <div class="payments__button payments__paypal-button"></div>
            </li>

            {# Google Pay #}
            <li class="js-google-pay-tab" hidden>
                <span class="hidden">{% trans 'Google Pay' %}</span>
                <div class="payments__button payments__googlepay-button payments__googlepay-button-desktop"></div>
            </li>

            {# Apple Pay #}
            <li class="js-apple-pay-tab" hidden>
                <span class="hidden">{% trans 'Apple Pay' %}</span>
                <button class="apple-pay-button js-apple-pay-button"></button>
            </li>
        </ul>
    </nav>

    <div class="payments__error-wrapper">
        <span id="payments__braintree-errors-card" class="payments__braintree-error" hidden></span>
        <span id="payments__braintree-errors-paypal" class="payments__braintree-error" hidden></span>
        <span id="payments__braintree-errors-googlepay" class="payments__braintree-error" hidden></span>
        <span id="payments__braintree-errors-applepay" class="payments__braintree-error" hidden></span>
    </div>

    <section id="tab1" class="accordion accordion--tabccordion accordion--no-border accordion--credit-card tabccordion__panel js-tabccordion-panel {% if active_payment_mode == 'card' %}is-active{% endif %}">

        <a href="#tab1" class="tabccordion__nav-item tabccordion__nav-item--card-payment tabccordion__nav-item--card-payment-content {% if active_payment_mode == 'card' %}is-active{% endif %}">
            <svg class="" width="27" height="19">
                <use xlink:href="#credit-card" />
            </svg>
            {% trans 'Credit or debit card' %}
        </a>

        <div class="accordion__content tabccordion__content">

            <div class="form-item">
                <label for="card-number" class="form-item__label">Card number</label>
                <div class="form-item__wrapper payments__braintree-hosted-field" id="card-number"></div>
            </div>

            <div class="form-item">
                <label for="cvv" class="form-item__label">
                    Card security code
                    <p class="form-item__hint">The last three digits on the back of the card</p>
                </label>
                <div class="form-item__wrapper payments__braintree-hosted-field" id="cvv"></div>
            </div>

            <div class="form-item">
                <label for="expiration-date" class="form-item__label">Expiration date</label>
                <div class="form-item__wrapper payments__braintree-hosted-field" id="expiration-date"></div>
            </div>

            <button id="payments__payment-submit" value="{{ payment_submit_button_text|default:"Make my donation" }}"
                class="button button--large button--secondary"
                type="submit">
                <div class="button__shadow"></div>
                <div class="button__inner">
                    {{ payment_submit_button_text|default:"Make my donation" }}
                    {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" %}
                </div>
            </button>
        </div>
    </section>

    <div class="payments__wrapper">
        <span class="hidden">{% trans 'PayPal' %}</span>
        <div class="payments__button payments__paypal-button"></div>

        <span class="hidden">{% trans 'Google Pay' %}</span>
        <div class="payments__button payments__googlepay-button payments__googlepay-button-mobile"></div>

        <span class="hidden">{% trans 'Apple Pay' %}</span>
        <button class="payments__button apple-pay-button js-apple-pay-button"></button>
    </div>
</div>

{{ braintree_settings|json_script:"payments__braintree-settings" }}
