{% load form_tags i18n helper_tags humanize %}

{% with amount=payment_amount|floatformat:"2"|intcomma %}

    <div class="tabccordion tabccordion--light-bg tabccordion--payments js-tabccordion" data-payment-tabccordion>
        <nav>
            <ul class="tabccordion__nav js-tabccordion-nav">
            {% comment %}
            Hide GoCardless option for Euros.
            {% endcomment%}
            {% if currency == "GBP" %}
                <li>
                    <a href="#tab1" class="tabccordion__nav-item tabccordion__nav-item--card-payment direct-debit-selector">
                        <svg class="" width="27" height="19">
                            <use xlink:href="#credit-card" />
                        </svg>
                        {% trans 'Direct Debit' %}
                    </a>
                </li>
            {% endif %}
                <li>
                    <a href="#tab2" class="tabccordion__nav-item tabccordion__nav-item--card-payment paypal-selector">
                        {% trans 'PayPal' %}
                    </a>
                </li>
            </ul>
        </nav>
        {% if currency == "GBP" %}
            <!-- Direct Debit tab -->
            <section id="tab1" class="accordion accordion--tabccordion accordion--no-border accordion--credit-card tabccordion__panel js-tabccordion-panel">

                <a href="#tab1" class="tabccordion__nav-item tabccordion__nav-item--card-payment tabccordion__nav-item--card-payment-content direct-debit-selector">
                    <svg class="" width="27" height="19">
                        <use xlink:href="#credit-card" />
                    </svg>
                    {% trans 'Direct Debit' %}
                </a>

                <div class="accordion__content tabccordion__content">
                    <div class="donate__direct-debit-fields light-bg">
                        {% render_form_field gocardless_form.debit_date %}
                        {% render_form_field gocardless_form.account_holder_name %}
                        {% render_form_field gocardless_form.branch_code %}
                        {% render_form_field gocardless_form.account_number %}
                        {% render_form_field gocardless_form.authorisation %}
                    </div>

                    <button value="{% blocktrans %}Donate £{{ amount }}{% endblocktrans %}" class="button button--large" type="submit" id="donate__gocardless-submit">
                        <div class="button__shadow"></div>
                        <div class="button__inner">
                            {% blocktrans %}Donate £{{ amount }} a month{% endblocktrans %}
                            {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="icon button__icon" %}
                        </div>
                    </button>

                {% include "patterns/molecules/donate/direct-debit-guarantee.html" %}

                {% include "patterns/molecules/donate/payments-by-gocardless.html" %}
                </div>
            </section>
        {% endif %}

        <!-- PayPal tab -->
        <section id="tab2" class="accordion accordion--tabccordion tabccordion__panel js-tabccordion-panel {% if active_payment_mode == 'paypal' %}is-active{% endif %}">

            <a href="#tab2" class="tabccordion__nav-item tabccordion__nav-item--card-payment tabccordion__nav-item--card-payment-content paypal-selector">
                {% trans 'PayPal' %}
            </a>

            <div class="accordion__content tabccordion__content">
                <div class="donate__braintree-fields light-bg">
                    {% render_form_field braintree_form.billing_day %}
                    {% render_form_field braintree_form.payment_method_nonce %}
                <div>

                <p>Checkout with PayPal to complete the process</p>

                <div id="donate__braintree-errors" class="donate__braintree-error" hidden></div>
                <div id="donate__paypal-button" class="donate__paypal-button"></div>
            </div>
        </section>
    </div>

    {{ braintree_settings|json_script:"payments__braintree-settings" }}
    {{ personal_details|json_script:"payments__personal-details" }}

{% endwith %}
