{% load helper_tags icon_tags %}

<aside class="sidebar sidebar--donate">
    {% render_icon "icon-color-padlock" "sidebar__icon sidebar__icon--donate-padlock" %}
    <h4 class="sidebar__heading">Secure and private</h4>
    <p>
        You're using a secure system.
        Your data will never be used in ways that you haven't explicitly opted into.
        <a href="{% privacy_statement_url %}" class="sidebar__text-link" target="_blank" rel="noopener">
            Find out more
        </a>
    </p>
    <a href="https://www.fundraisingregulator.org.uk/directory/samaritans" target="_blank" rel="noopener">
        {% render_icon "icon-color-fundraising-regulator" "sidebar__icon sidebar__icon--fundraising-regulator" %}
    </a>

    <hr class="hr hr--dashed">

    <div id="donate__methods--monthly-gbp" {% if payment_frequency == 'single' or is_euro or event_page %}hidden{% endif %}>
        <h4>We accept monthly donations through Direct Debit and PayPal</h4>
        {% include "patterns/molecules/payments/payment-icons--monthly.html" with is_euro=False %}
    </div>

    {% comment %}
    Seperate versions for Euros and GBP;
    allow for toggling in monthly donate page.
    {% endcomment %}
    <div id="donate__methods--monthly-eur" {% if payment_frequency == 'single' or not is_euro %}hidden{% endif %}>
        <h4>We accept monthly donations through PayPal</h4>
        {% include "patterns/molecules/payments/payment-icons--monthly.html" with is_euro=True %}
    </div>

    <div id="donate__methods--single" {% if payment_frequency == 'monthly' %}hidden{% endif %}>
        <h4 class="hidden">
            We accept all major cards, PayPal and Google Pay
            {% comment %} Apple Pay temporarily disabled
            We accept all major cards, PayPal, Google Pay, and Apple Pay
            {% endcomment %}
        </h4>
        {% include "patterns/molecules/payments/payment-icons--single.html" %}
    </div>
</aside>
