{% load helper_tags icon_tags %}

<aside class="sidebar sidebar--donate">
    {% render_icon "icon-color-padlock" "sidebar__icon sidebar__icon--donate-padlock" %}
    <h4 class="sidebar__heading">Secure and private</h4>
    <p>
        You're using a secure system.
        Your data will never be used in ways that you haven't explicitly opted into.
        <a href="{% privacy_statement_url %}" class="sidebar__text-link" target="_blank" rel="noopener">
            Find out more
        </a>
    </p>
    <a href="https://www.fundraisingregulator.org.uk/directory/samaritans" target="_blank" rel="noopener">
        {% render_icon "icon-color-fundraising-regulator" "sidebar__icon sidebar__icon--fundraising-regulator" %}
    </a>

    <hr class="hr hr--dashed">

    <div id="donate__methods--monthly" {% if not payment_frequency == 'monthly' %}hidden{% endif %}>
        <h4>We accept monthly donations through Direct Debit</h4>
        {% include "patterns/molecules/payments/payment-icons--monthly.html" %}
    </div>

    <div id="donate__methods--single" {% if payment_frequency == 'monthly' %}hidden{% endif %}>
        <h4 class="hidden">
            We accept all major cards and PayPal
            {% comment %} Google Pay and Apple Pay are temporarily disabled
            We accept all major cards, PayPal, Google Pay, and Apple Pay
            {% endcomment %}
        </h4>
        {% include "patterns/molecules/payments/payment-icons--single.html" %}
    </div>
</aside>
