{% extends "patterns/pages/intranet/standardpages/information_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}


{% block hero %}
    {% include "patterns/molecules/hero/hero.html" with pattern_bottom=True %}
{% endblock %}

{% block meta_bar %}
    <ul class="meta-bar meta-bar--event">
        {% if page.start_date %}
            <li class="meta-bar__item">
                {% include "patterns/atoms/svg/colour-icons/icon-color-diary.html" with classes="meta-bar__icon" %}
                <span class="meta-bar__text">
                    {{ page.start_time|default:""|date:"fA"|lower }}
                    {{ page.start_date|date:"l jS F" }}
                    {% if page.end_date %}
                        –
                        {{ page.end_time|default:""|date:"fA"|lower }}
                        {{ page.end_date|default:""|date:"l jS F" }}
                    {% endif %}
                </span>
            </li>
        {% endif %}
        {% if page.city %}
            <li class="meta-bar__item">
                {% include "patterns/atoms/svg/colour-icons/icon-color-globe.html" with classes="meta-bar__icon" %}
                <span class="meta-bar__text">{{ page.city }}</span>
            </li>
        {% endif %}
        {% if page.event_types %}
            <li class="meta-bar__item">
                {% include "patterns/atoms/svg/colour-icons/icon-color-bullets.html" with classes="meta-bar__icon" %}
                <span class="meta-bar__text">{{ page.event_types.all|join:", " }}</span>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block page_content %}
    {% include_block page.body %}

    {% include "patterns/atoms/buttons/button.html" with classes="role-page__apply-button" href=page.signup_link label="Apply now" %}
{% endblock %}
