{% extends "patterns/pages/intranet/standardpages/information_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block meta_bar %}
    <ul class="meta-bar meta-bar--intranet">
        {% if page.publication_date %}
            <li class="meta-bar__item">
                {% include "patterns/atoms/svg/colour-icons/icon-color-diary.html" with classes="meta-bar__icon" %}
                <span class="meta-bar__text">Posted {{ page.publication_date|date:'jS F Y' }}</span>
            </li>
        {% endif %}
        {% if page.news_types %}
            <li class="meta-bar__item">
                {% include "patterns/atoms/svg/colour-icons/icon-color-pen.html" with classes="meta-bar__icon" %}
                {% for type in page.news_types.all %}
                    <span class="meta-bar__text">{{ type }}</span>
                {% endfor %}
            </li>
        {% endif %}
        {% if page.categories %}
            <li class="meta-bar__item">
                {% include "patterns/atoms/svg/colour-icons/icon-color-bullets.html" with classes="meta-bar__icon" %}
                {% for category in page.categories.all %}
                    <span class="meta-bar__text">{{ category.category }}</span>
                {% endfor %}
            </li>
        {% endif %}
    </ul>
{% endblock %}


