{% extends "patterns/pages/intranet/standardpages/information_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block page_intro %}{% endblock %}

{% block page_content %}
    {% if news %}
        {% for value in news %}
            {% include "patterns/molecules/listing-item/listing-item.html" %}
        {% endfor %}

        {% include "patterns/molecules/pagination/pagination.html" with paginator_page=news %}

    {% else %}
        {# no items #}
    {% endif %}

{% endblock %}

{% block related_content %}{% endblock %}
{% block feedback_form %}{% endblock %}
