{% extends "patterns/base_page--website.html" %}

{% load wagtailimages_tags i18n %}


{% block content %}

{% include "patterns/molecules/hero/hero.html" %}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main section--overlap section--hero-with-image">
        <p class="intro">hero</p>
    </div>
</section>

{% include "patterns/molecules/hero/hero.html" with hero_color="emerald" pattern="dots" hero_test_image="fake" %}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main section--overlap section--hero-with-image">
        <p class="intro">hero--with-image hero--emerald with dots</p>
    </div>
</section>

{% include "patterns/molecules/hero/hero.html" with hero_short=True %}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main section--overlap">
        <p class="intro">hero--short</p>
    </div>
</section>

{% include "patterns/molecules/hero/hero-search.html" %}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main">
        <p class="intro">hero--search</p>
    </div>
</section>

{% include "patterns/molecules/hero/hero-search.html" with home_page=True %}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main">
        <p class="intro">hero--home</p>
    </div>
</section>

{% include "patterns/molecules/hero/hero--image-background.html" with hero_test_image="fake" %}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main" style="min-height: 600px;">
        <p class="intro">hero--image-background</p>
    </div>
</section>


{% image hero_image fill-3800x2500 jpegquality-40 as hero_image %}

<div class="hero hero--homepage">

    <div class="donate-landing-hero__image" style="background-image: url({{ hero_image.url}});"></div>

    <div class="hero__inner wrapper wrapper--large wrapper--padding">

        <div class="hero-widget">
            <div class="hero-widget__corner"></div>
            <div class="hero-widget__inner">
                <span class="hero-widget__connectors"></span>
                <span class="hero-widget__connectors--extra"></span>

                <h2 class="hero-widget__heading">page.hero_headline</h2>
                <p>page.hero_description</p>

                <hr class="hr hr--dashed hr--dark">

                {% include "patterns/molecules/streamfield/blocks/inline_cta_block.html" %}

            </div> {# /.hero-widget__inner #}
        </div> {# /.hero-widget #}
    </div>
</div>
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--overlap section--website-homepage-top" style="min-height: 300px;">
        <p class="intro">hero--homepage</p>
    </div>
</section>


<div class="hero hero--donate-landing">

    <div class="donate-landing-hero__image" style="background-image: url({{ hero_image.url}});"></div>

    <h1 class="donate-landing-hero__title">page.title</h1>

    <div class="hero__inner wrapper wrapper--large wrapper--padding">

        <div class="hero-widget hero-widget--donate-landing">
            <div class="hero-widget__corner"></div>
            <div class="hero-widget__inner">
                <span class="hero-widget__connectors"></span>
                <span class="hero-widget__connectors--extra"></span>

                <h2 class="hero-widget__heading">page.donate_form_heading</h2>

                <div class="hero-widget__button-group button-group button-group--white">
                    <button class="button-group__button" id="donate__form__toggle-monthly" disabled>{% trans "Monthly" %}</button>
                    <button class="button-group__button" id="donate__form__toggle-single">{% trans "One-off" %}</button>
                </div>

                <form method="get" action="{% url 'donate:personal_details' %}" id="donate_form--monthly">
                    <div class="donate-landing-hero__form-input donate-landing-hero__form-input--monthly">
                    </div>
                    {% include "patterns/atoms/buttons/button--button.html" with label=page.donate_button_text large=True classes="button--secondary donate-landing-hero__donate-button" %}

                </form>

                <form method="get" action="{% url 'donate:personal_details' %}" id="donate_form--single" hidden>
                    <div class="donate-landing-hero__form-input">
                    </div>
                    {% include "patterns/atoms/buttons/button--button.html" with label=page.donate_button_text large=True classes="button--secondary donate-landing-hero__donate-button" %}
                </form>

            </div> {# /.hero-widget__inner #}
        </div> {# /.hero-widget #}

        <div class="donate-landing-hero__text">
            <h2 class="donate-landing-hero__text-heading heading-secondary">page.hero_heading</h2>
            <p>page.hero_summary</p>
        </div>

    </div>
</div> {# /.hero--donate-landing #}
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--donate-landing">
        <p class="intro">hero--donate-landing</p>
    </div>
</section>

<div class="hero hero--image-background" style="background-image: url({{ hero_image.url }})">
    <div class="hero__pattern-wrapper"></div>
</div>
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main" style="min-height: 600px;">
        <p class="intro">hero--image-background for donate payment</p>
    </div>
</section>

<div class="hero hero--landing-page" style="background-image: url('{{ hero_image.url }}')">
    <div class="wrapper wrapper--large wrapper--padding">
        <div class="card card--information">
            <span class="card__connectors"></span>
            <div class="card__container">
                {% include "patterns/molecules/navigation/breadcrumbs.html" %}
                <h1>page.title</h1>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper--landing-page-pattern">
    {% include "patterns/atoms/svg/patterns/pattern-diamonds.html" with classes="pattern" %}
</div>
<section class="wrapper--large wrapper--padding-for-page">
    <div class="section section--main">
        <p class="intro">hero--landing-page</p>
    </div>
</section>

{% endblock content %}
