{% load wagtailcore_tags wagtailimages_tags %}

{% if page.hero_image %}
    {% image page.hero_image fill-1900x1250 jpegquality-40 as hero_image %}
{% elif hero_test_image %}
    {% image hero_test_image fill-1900x1250 jpegquality-40 as hero_image %}
{% endif %}

<div class="hero hero--image-background{% if classes %} {{ classes }}{% endif %}" {% if hero_image %}style="background-image: url({{ hero_image.url }})"{% endif %}>
    <div class="hero__pattern-wrapper {% if pattern_bottom %}hero__pattern-wrapper--bottom{% endif %}">
        {% if pattern == "dots" %}
            {% include "patterns/atoms/svg/patterns/pattern-dots.html" with classes="pattern" %}
        {% elif pattern == "egg" %}
            {% include "patterns/atoms/svg/patterns/pattern-eggs.html" with classes="pattern" %}
        {% elif pattern == "diamonds" %}
            {% include "patterns/atoms/svg/patterns/pattern-diamonds.html" with classes="pattern" %}
        {% else %}
            {% include "patterns/atoms/svg/patterns/pattern-arrow.html" with classes="pattern" %}
        {% endif %}
    </div>
</div>
