{% load wagtailcore_tags wagtailimages_tags %}

<div class="hero {% if home_page %}hero--home{% endif %}">
    <div class="hero__inner wrapper wrapper--large wrapper--padding">
        {% if settings.utils.SystemMessagesSettings.show_notification %}
            {% include "patterns/atoms/site-notification/site-notification.html" %}
        {% endif %}

        {% if not home_page %}
            {% include "../navigation/breadcrumbs.html" %}
        {% endif %}

        <h1 class="hero__title">{{ page.title }}</h1>

        <div class="hero__search">
            <form action="{% url 'search' %}" method="get" role="search" class="form search search--hero">
                <input class="search__input" type="text" placeholder="Search the Intranet…" name="query"{% if search_query %} value="{{ search_query }}{% endif %}">
                <button class="search__button search__button--with-text button button--search" type="submit">
                    <span class="search__button-text">Search</span>
                    {% include "patterns/atoms/svg/icons/icon-search.html" with classes="icon button__icon search__icon" title="Search" %}
                </button>
            </form>
        </div>
    </div>

    <div class="hero__pattern-wrapper hero__pattern-wrapper--bottom">
        {% include "patterns/atoms/svg/patterns/pattern-arrow.html" with classes="pattern" %}
    </div>
</div>
