{% load helper_tags %}
<div class="filters__filter-wrapper">
    {% if icon %}
        {% include "patterns/atoms/svg/colour-icons/icon-color-"|add:icon|add:".html" with title=icon classes="filters__icon" aria_hide=True %}
    {% endif %}
    {% if select_id and label_text %}
        <label class="hidden" for="{{ select_id }}">{{ label_text }}</label>
    {% endif %}
    <select name="{{ name }}" class="filters__select" {% if select_id %}id="{{ select_id }}"{% endif %}>
        <option value="">{{ title }}</option>
        {% for option in options %}
            {% key_value request.GET name as get_param %}
            <option value="{{ option.0 }}" {% if get_param|slugify == option.0|slugify %}selected="selected"{% endif %}>{{ option.1 }}</option>
        {% endfor %}
    </select>
    <div class="filters__select-icon-wrapper">
        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="filters__select-icon" aria_hide="true" %}
    </div>
</div>
