/*------------------------------------*\
	$BASE DEFAULTS
\*------------------------------------*/

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    font-family: $font--primary;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow-x: hidden; // Safari doesn't respect `overflow-x: hidden` on `body` unless it's also on `html`
    overflow-y: inherit;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

body {
    overflow-x: hidden;
    background-color: $off-white;
    padding: 0 $body-padding--website;
    height: 100%;

    // fixed position borders at the top of the stacking context
    &::before,
    &::after {
        content: '';
        background-color: $white;
        display: block;
        width: 10px;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: z($z-elements, page-borders);
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &.no-scroll,
    &.mob-nav-open {
        overflow-y: hidden !important; // sass-lint:disable-line no-important
    }

    &.template-volunteer {
        padding: 0;

        &::before,
        &::after {
            content: none;
        }
    }

    // enables position:sticky to work and also the progress bar
    &.template-report-page,
    &.template-report-chapter-page,
    &.template-information-page {
        height: auto;
        overflow-x: initial; // fallback for browsers that don't support clip
        overflow-x: clip;
    }

    // Reset overflow-x to enable smooth scrolling on the following templates
    &.template-event-page,
    &.template-donate-landing-page,
    &.template-activity-landing-page,
    &.template-marathon-landing-page,
    &.template-fundraising-partner-page {
        overflow-x: initial;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Responsive images
img {
    height: auto;
    max-width: 100%;
}

// sass-lint:disable single-line-per-selector
button,
input,
select,
textarea {
    font-family: inherit;
}
// sass-lint:enddisable

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    cursor: pointer;
}

a {
    @include link;

    .rich-text & {
        @include link($ocean, $ink);
        @include underline($ocean, currentColor);
        font-weight: $weight--bold;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

main {
    @include hide-when-mob-nav-open;
}

.hidden {
    @include hidden;
}
