@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.interview-button {
    $root: &;
    $padding: 12px;
    $padding-large: 18px;
    $icon-margin: 20px;

    @include target-ie11() {
        max-width: 100%;
    }

    @include font-size(s);
    position: relative;
    display: block;
    max-width: 240px;
    padding: 0 0 5px 5px;
    color: $white;
    transition: background-color, color, $transition;

    #{$hover} {
        color: $white;

        #{$root}__inner {
            background-color: $teal;
        }

        #{$root}__shadow,
        #{$root}__inner::after {
            background-color: $emerald;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &[data-loading] {
        #{$root}__inner {
            padding-left: ($gutter-medium + 20px);
            padding-right: $gutter-small;

            &:before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: $gutter-medium;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                margin-left: -10px;
                border-radius: 50%;
                border: 2px solid $teal;
                border-top-color: #fff;
                animation: spinner 0.6s linear infinite;
            }
        }
    }

    &__shadow,
    &__inner::after {
        position: absolute;
        content: '';
        background-color: $teal;
        transition: background-color $transition;
    }

    &__shadow {
        top: 5px;
        right: 5px;
        bottom: 0;
        left: 0;
        height: 36px;
        max-width: 240px;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: ($padding - 4.5px) $padding;
        padding-left: $gutter-medium;
        font-weight: $weight--bold;
        background-color: $emerald;
        transition: background-color $transition;

        &::after {
            width: 10px;
            height: 5px;
            margin-top: -2.5px;
            top: 50%;
            left: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    &__icon {
        margin-left: $icon-margin;
        opacity: 0.75;
        flex-shrink: 0;
        fill: currentColor;
    }

    + p.submit-help-text {
        margin-top: 5px;
        font-weight: $weight--bold;
    }
}

.button-slot {
    @include font-size(xs);
    border-radius: 4px;
    text-align: center;
    font-weight: $weight--bold;
    background-color: $white;
    border: 1.5px solid $teal;
    color: $teal;
    padding: 10px 22px;
    margin: 20px 20px 0 0;
    min-width: 90px;

    @include media-query(tablet-portrait) {
        &:hover,
        &:focus {
            background-color: $teal;
            color: $white;
        }
    }

    &--selected {
        &,
        &:focus {
            background-color: $teal;
            color: $white;
        }
    }
}
