{% load wagtailcore_tags wagtailimages_tags %}

<div class="page-teaser {% if classes %}{{ classes }}{% endif %} {% if value.image %}page-teaser--with-image{% endif %}">
    {% if value.image %}
        <div class="page-teaser__image-wrap">
            {% image value.image fill-300x300 class="page-teaser__image" %}
        </div>
    {% endif %}
    <div class="page-teaser__content">
        <div class="page-teaser__content-inner">
            <h2 class="page-teaser__title">{{ value.title }}</h2>
            <p class="page-teaser__text">{{ value.description }}</p>
            <a href="{% pageurl value.button_link %}" class="button button--alt page-teaser__button">
                <div class="button__shadow"></div>
                <div class="button__inner">
                    {{ value.button_text }}
                </div>
            </a>
        </div>
    </div>
</div>
