{% load wagtailcore_tags wagtailimages_tags %}

<div class="streamfield">
    {% if value.image %}
        <div class="impact-block__image-section">
            {% image value.image fill-1300x730 %}
            <h2 class="impact-block__heading">
                {{ value.title }}
                <span class="impact-block__heading-corner-padding-filler"></span>
                <span class="impact-block__heading-corner">
                    {% include "patterns/atoms/svg/corner/corner--medium.html" with classes="impact-block__heading-corner-image" %}
                </span>
            </h2>
        </div>
        <div class="impact-block__content">
            <div class="grid grid--3col">
                {% include_block value.stats %}
            </div>
            <span class="impact-block__connectors"></span>
            <span class="impact-block__connectors--extra"></span>
        </div>
    {% else %}
        <div class="heading-block">
            <h2>{{ value.title }}</h2>
        </div>
        <div class="stat-block">
            {% include_block value.stats %}
        </div>
    {% endif %}
</div>
