{% load wagtailcore_tags wagtailimages_tags %}

{% if value.widget_type == 'create_funeral_notice' %}
    <div id="ml-tributecreate-container"></div>

    <script>
        !function (d, s, id,widgetId) {
            var js,
            fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.setAttribute("data-widgetid",widgetId);
                js.src = "https://www.muchloved.com/client/widgets/tributecreate.widget.min.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "muchloved-tribute-create-widget-js","99163042");
    </script>

{% elif value.widget_type == 'create_tribute' %}
    <div id="ml-tributecreate-container"></div>

    <script>
        !function (d, s, id,widgetId) {
            var js,
            fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.setAttribute("data-widgetid",widgetId);
            js.src = "https://www.muchloved.com/client/widgets/tributecreate.widget.min.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
        }(document, "script", "muchloved-tribute-create-widget-js","91923990");
    </script>

{% elif value.widget_type == 'search' %}
    <div class="ml-tributesearch">
        <div class="ml-tributesearch-form">
            <input type="text" class="ml-tributesearch-searchbox" placeholder="Enter a name"/>
            <button class="ml-tributesearch-btn-search search__button search__button--with-text button button--search" type="button" aria-label="Search">
                <span class="search__button-text" aria-hidden="true">Search</span>
                {% include "patterns/atoms/svg/icons/icon-search.html" with classes="icon button__icon search__icon" %}
            </button>
        </div>
        <div class="ml-tributesearch-resultscontainer"></div>
    </div>

    <script>
        !function (d, s, id,widgetId,options) {
            var js,
            fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? "http" : "https";
            if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.setAttribute("data-widgetid",widgetId);
            js["ml-widget-options"]=options || {};
            js.src = p + "://www.muchloved.com/client/widgets/tributesearch.widget.min.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
        }(document, "script", "muchloved-tributesearch-widget-js","91939806");
    </script>
{% endif %}
