{% load wagtailcore_tags %}

{% if type == 'short' %}

<a href="{% pageurl value.link.page %}" class="card-new card-new--listening-service card-new--listening-service--short js-beta-check">
    <span class="card-new__corner"></span>
    <div class="card-new__inner">
        <div class="card-new__container">
            <h2 class="card-new__title">
                {% firstof value.title value.link.title value.link.page.title as card_title %}
                {% include "patterns/molecules/chevron-link/chevron-link.html" with title=card_title hide_svg_title="true" %}
            </h2>
            <p class="card-new__text">{{ value.description }}</p>
        </div>
        <span class="card-new__connectors"></span>
    </div>
</a>

{% else %}

<div class="card-new card-new--listening-service card-new--listening-service--full js-beta-check">
    <span class="card-new__corner"></span>
    <div class="card-new__inner">
        <div class="card-new__container">
            {% include 'patterns/atoms/beta-label/beta-label.html' with classes="tooltip--card" %}
            <h2 class="card-new__title">
                {{ value.title }}
            </h2>
            <p class="card-new__text">{{ value.description }}</p>
            {% include_block value.call_to_action with type='hero_cta' %}
            <a class="card-new__link" href="{% pageurl value.link.page %}">{{ value.link.title|default:value.link.page.title }}</a>
        </div>
    </div>
    <span class="card-new__connectors"></span>
    <span class="card-new__connectors--extra"></span>
</div>

{% endif %}
