{% load wagtailimages_tags wagtailcore_tags %}

<blockquote class="
    quote-block
    {% if dark_background %}quote-block--dark{% endif %}
    {% if story_cta %}
        {# when used in story call to action block (note this class is currently unused but may be useful in the future) #}
        quote-block--story-call-to-action
    {% elif marathon_cta %}
        {# when used in a marathon page #}
        quote-block--marathon
    {% elif hero_quote %}
        {# when used in hero on story page #}
        quote-block--hero
    {% else %}
        {# when used as a plain quote block #}
        quote-block--quote
    {% endif %}
    {# see quote-block.scss for other possible variations #}
    {% if classes %}{{ classes }}{% endif %}
    ">
    <div class="quote-block">
        <div class="quote-block__quotation-wrapper">
            {% if double_quote %}
                {% include "patterns/atoms/svg/icons/icon-quote-open.html" with classes="quote-block__quotation-mark quote-block__quotation-mark--open quote-block__quotation-mark--open-double" %}
            {% endif %}

            {% include "patterns/atoms/svg/icons/icon-quote-open.html" with classes="quote-block__quotation-mark quote-block__quotation-mark--open" %}

            <p class="quote-block__quotation">
                {% if value.quote %}
                    {{ value.quote }}
                {% else %}
                    {{ value }}
                {% endif %}
            </p>

            {% include "patterns/atoms/svg/icons/icon-quote-close.html" with classes="quote-block__quotation-mark quote-block__quotation-mark--close" %}

            {% if double_quote %}
                {% include "patterns/atoms/svg/icons/icon-quote-close.html" with classes="quote-block__quotation-mark quote-block__quotation-mark--close quote-block__quotation-mark--close-double" %}
            {% endif %}
        </div>
        <div class="quote-block__information-wrapper">
            {% if value.attribution %}
                <p class="quote-block__attribution">
                    {{ value.attribution }}
                </p>
            {% endif %}
            {% if value.button_link %}
                {% if value.button_link.id %}
                    {% pageurl value.button_link as page_url %}
                    {% include "patterns/atoms/buttons/button.html" with label=value.button_text href=page_url %}
                {% else %}
                    {% include "patterns/atoms/buttons/button.html" with label=value.button_text href=value.button_link %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</blockquote>
