{% load i18n icon_tags %}

{% if type == 'hero_cta' %}

<a href="tel:{{ value.phone_number }}" class="listening-cta listening-cta--primary listening-cta--link">
    <span class="listening-cta__corner"></span>
    <div class="listening-cta__inner">
        <div class="listening-cta__container">
            {% if page.icon %}
                {% render_icon page.icon "listening-cta__icon" %}
            {% endif %}
            <div class="listening-cta__text">
                <div class="listening-cta__heading">{{ value.phone_number }}</div>
                <p>
                    {% trans "Response time:" %}
                    {{ value.response_time }}
                </p>
            </div>
        </div>
        {% include "patterns/atoms/svg/icons/icon-chevron.html" with classes="listening-cta__chevron" aria_hide="true" %}
    </div>
    <span class="listening-cta__connectors"></span>
</a>

{% else %}

<div class="service-block">
    <h2 class="service-block__heading"><a class="service-block__cta" href="sms:{{ value.phone_number }}">{{ value.phone_number }}</a></h2>
    <p>{% trans "Response time:" %} {{ value.response_time }}</p>
</div>

<a href="tel:{{ value.phone_number }}" class="service-block service-block--sticky service-block--link">
    {% include "patterns/atoms/svg/colour-icons/icon-color-mobile.html" with classes="service-block__icon" %}
    <span class="service-block__link">{{ value.phone_number }}</span>
    <span>{% trans "Response time:" %} {{ value.response_time }}</span>
</a>

{% endif %}
