{% extends "patterns/templates/narrow-page.html" %}
{% load form_tags wagtailcore_tags wagtailimages_tags static %}

{% block content_inner %}

    <h1>{{ page.title }}</h1>

    <h2 class="intro intro--heading-margin">{{ page.introduction }}</h2>

    {{ page.body|richtext }}

    <form action="{% pageurl page %}" method="post" class="form form--after-body">
        <div class="form__container">
            {% csrf_token %}

            {% if form.errors %}
                <div class="form__errors">
                    There were some errors with your form. Please amend the fields highlighted below.
                </div>
            {% endif %}

            {# Custom fields #}
            {% for field in form %}
                {% if not field.name in hard_coded_fields and not field.name == 'wagtailcaptcha' %}
                    {% include 'patterns/molecules/forms/form_field.html' with field=field %}
                {% endif %}
            {% endfor %}

            {% if page.include_gdpr_fields %}
                {% include "patterns/molecules/gdpr/gdpr_marketing_form_fields.html" %}
            {% endif %}

            {% render_form_field form.wagtailcaptcha %}

            {% firstof page.action_text|safe "Submit" as label %}
            {% include "patterns/atoms/buttons/button--button.html" %}
        </div>
    </form>
{% endblock %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}