{% extends "patterns/templates/index_page/listing_template_website.html" %}

{% block filters_intro %}
    Browse our news by:
{% endblock %}

{% block filters %}
    {% include "patterns/molecules/filters/filter.html" with title="All types of news" name="news_type" options=news_types %}
    {% include "patterns/molecules/filters/filter.html" with title="All topics" name="topic" options=topics %}
{% endblock filters %}

{% block listings %}
    {% if news %}
        {% include "patterns/organisms/listing-list/listing-list.html" with listings=news %}
    {% else %}
        No matching news
    {% endif %}
{% endblock %}

<!-- Overide footer so footer CTA does not display -->
{% block footer %}
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}