{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags %}

{% block header %}
    {% include "patterns/organisms/header/header.html" with show_links=True show_marathon_nav=True %}
{% endblock header %}

{% block content %}
    {% include "patterns/molecules/hero/hero.html" with hero_color="sunflower" hero_short=True hero_title_id="main-content" badge_color_option=page.badge_color_option badge_text=page.badge_text classes="hero--marathon-index-page" hide_breadcrumbs=True %}

    <article class="wrapper">
        <div class="wrapper wrapper--large">
            <section class="section section--overlap {% if page.show_page_teasers %}section--index-website{% else %}section--main{% endif %}">
                {% if page.introduction %}
                    <p class="intro">{{ page.introduction }}</p>
                {% endif %}

                {# Top CTA #}
                {% if page.top_story_cta %}
                    {% include_block page.top_story_cta %}
                {% endif %}

                {% if subpages %}

                    {% if page.listing_heading %}
                        <h2>{{ page.listing_heading }}</h2>
                    {% endif %}

                    <div class="grid grid--3col">
                        {% for card in subpages %}
                            {% if forloop.counter|divisibleby:2 %}
                                {% if card == subpages.first and page.highlight_first_child_page %}
                                    {% include "patterns/molecules/cards/card-without-image.html" with card_light=True corner_color="sunflower-corner" %}
                                {% elif page.highlight_first_child_page %}
                                    {% include "patterns/molecules/cards/card-without-image.html" with corner_color="sunflower-corner" %}
                                {% else %}
                                    {% include "patterns/molecules/cards/card-with-image.html" with corner_color="sunflower-corner" %}
                                {% endif %}
                            {% else %}
                                {% if card == subpages.first and page.highlight_first_child_page %}
                                    {% include "patterns/molecules/cards/card-without-image.html" with card_light=True corner_color="limegreen-corner" %}
                                {% elif page.highlight_first_child_page %}
                                    {% include "patterns/molecules/cards/card-without-image.html" with corner_color="limegreen-corner "%}
                                {% else %}
                                    {% include "patterns/molecules/cards/card-with-image.html" with corner_color="limegreen-corner" %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% include "patterns/molecules/ways_to_get_involved/ways_to_get_involved_section--mobile.html" with ways_to_get_involved_section=page.ways_to_get_involved_section %}

                {# Bottom CTA #}
                {% if page.story_cta %}
                    {% include_block page.story_cta %}
                {% endif %}

                {% if page.show_page_teasers %}
                    {% include "patterns/atoms/corners/corners.html" with size="page" %}
                {% endif %}
            </section>
        </div>

        {% include "patterns/molecules/ways_to_get_involved/ways_to_get_involved_section--desktop.html" with ways_to_get_involved_section=page.ways_to_get_involved_section %}

        {% if page.related_pages.all|length > 0 %}
            {% include "patterns/molecules/related-pages/related-pages--large.html" with related_pages=page.related_pages.all %}
        {% endif %}
    </article>

{% endblock %}
