{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block header %}
    {% include "patterns/organisms/header/header.html" with show_links=True hide_mobile_menu=True show_marathon_nav=True show_marathon_anchor=True %}
{% endblock header %}

{% block content %}
<div class="wrapper wrapper--white-background marathon">
    {# Hero #}
    <div class="hero hero--marathon">
        {% image page.hero_image fill-1900x1250 jpegquality-40 as hero_image %}
        <div class="marathon__hero-image-container--desktop" style="background-image: linear-gradient(90deg, #000000 4.48%, rgba(0, 0, 0, 0) 95.77%), url({{ hero_image.url}});">
            <div class="hero__pattern-wrapper">
                {% include "patterns/atoms/svg/patterns/pattern-diamonds.html" with classes="pattern pattern--rotated" %}
            </div>
        </div>
        {% image page.hero_image fill-768x500 jpegquality-40 as hero_image_mobile %}
        <div class="marathon__hero-image-container--mobile">
            <img class="marathon__hero-image" src="{{ hero_image_mobile.url}}" alt="{{ hero_image_mobile.alt }}" height="{{ hero_image_mobile.height }}" width="{{ hero_image_mobile.width }}" />
        </div>

        <div class="hero__inner wrapper wrapper--large wrapper--padding-larger">
            <h1 class="marathon__title--desktop">{{ page.title }}</h1>
        </div>
    </div>

    {# Page body #}
    <section class="section section--overlap-large">
        <div class="wrapper wrapper--large">
            <div class="marathon__content-container">
                {% include 'patterns/molecules/meta-bar/meta-bar.html' with value=page modifier="marathon" display_year=True %}

                <div class="marathon__content">
                    <h1 class="marathon__title--mobile">{{ page.title }}</h1>

                    {% include_block page.body %}

                    {% if page.body_footer_cta %}
                        <div class="marathon__body-footer-cta">
                            {{ page.body_footer_cta|richtext }}
                        </div>
                    {% endif %}

                    {% include "patterns/molecules/ways_to_get_involved/ways_to_get_involved_section--mobile.html" with ways_to_get_involved_section=page.ways_to_get_involved_section %}
                </div>
            </div>
        </div>
    </section>

    {# Other ways to get involved #}
    {% include "patterns/molecules/ways_to_get_involved/ways_to_get_involved_section--desktop.html" with ways_to_get_involved_section=page.ways_to_get_involved_section %}
</div>
{% endblock %}
