{% extends "patterns/base_page.html" %}

{% block content %}
    {% include "patterns/molecules/hero/hero.html" with hero_color="emerald" pattern="dots" hero_short="true" %}

    <div class="wrapper wrapper--large wrapper--padding-for-page">
        <section class="section section--iframe-page section--overlap">
            <iframe align="left" frameborder="0" height="2200" iframe="" onload="window.parent.scrollTo(0,0)" scrolling="no" src="{{ page.iframe_source_url }}" width="100%"></iframe>
            {% include "patterns/atoms/corners/corners.html" with size="page" %}
        </section>
    </div>
{% endblock %}

<!-- Overide footer CTA display -->
{% block footer %}
    <div class="call-to-action--footer-padding">
        {% include "patterns/molecules/banner-cta/banner-cta.html" with page=page %}
    </div>
    {% include 'patterns/organisms/footer/footer.html' %}
{% endblock footer %}
