{% extends "patterns/pages/intranet/standardpages/information_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block page_intro %}

    {% if page.role_types.all or page.role_locations.all %}
        <div class="intro__info">
            {% if page.role_types.all %}<p>Role type: <b>{{ page.role_types.all|join:", " }}</b></p>{% endif %}
            {% if page.role_locations.all %}<p>Locations: <b>{{ page.role_locations.all|join:", " }}</b></p>{% endif %}
        </div>
    {% endif %}

    {% if page.summary %}
        <p class="intro {% if page.last_updated or page.publication_date %}intro--less-margin{% endif %}">{{ page.summary }}</p>
    {% endif %}

    {% if page.last_updated or page.publication_date %}
        <p class="last-updated">Last updated: <b>{% firstof page.publication_date|date:"jS F Y" page.last_updated|date:"jS F Y" %}</b></p>
    {% endif %}
{% endblock %}

{% block page_content %}

    <div class="role-page__body rich-text">
        <h3>Role and support in the organisation</h3>

        <ul class="role-page__info-list">
            <li><b>Accountable to:</b> {{ page.accountable_to }}</li>
            <li><b>Support the work of:</b> {{ page.supports_the_work_of }}</li>
            <li><b>Liase with:</b> {{ page.liasises_with }}</li>
        </ul>

        <hr>

        {% include_block page.body %}

        {% if page.qualities_and_experiences.all %}
            <hr>

            <h2>Qualities and experience</h2>
            <ul>
                {% for quality in page.qualities_and_experiences.all %}
                    <li>{{ quality.content }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if page.key_responsibilities.all %}
            <hr>

            <h2>Key responsibilities</h2>
            <ul>
                {% for responsibility in page.key_responsibilities.all %}
                    <li>{{ responsibility.content }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if page.time_commitment %}
            <hr>

            <h2>Time commitment</h2>
            <p>{{ page.time_commitment|richtext }}</p>
        {% endif %}

        {% if page.benefits %}
            <hr>

            <h2>Benefits</h2>
            <p>{{ page.benefits|richtext }}</p>
        {% endif %}

        <hr>

        <h2>Applications</h2>
        <p>{{ page.applications|richtext }}</p>
        {% if page.apply_link %}
            {% include "patterns/atoms/buttons/button.html" with classes="role-page__apply-button" href=page.apply_link label="Apply" %}
        {% endif %}
    </div>

{% endblock %}

{% block related_content %}
    {% include "patterns/molecules/related-pages/related-pages--large.html" with related_pages=page.related_roles.all classes="related-large--intranet" heading="Other roles you might be interested in" %}
{% endblock %}
